@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic');
/* color base -- #e1f6f4 #7db9b3 #166678 #2e3837  */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html {
  font-size: 62.75%;

}
body {
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.3;
  font-size: 2rem;
  color: #e1f6f4;
   background-position: fixed;
  background-size: cover;
  background-color:#4d4d4d;

}

/* Headers and Header's typography*/

header {
  background-image: url('https://images.unsplash.com/photo-1429051781835-9f2c0a9df6e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=336aa659121bfb7561006076fb81ad39');
  box-shadow: inset 0 0 20px  rgba(0, 0, 0, 1);
  height: 100vh;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h2 {
    color:#333;
    background-color:rgba(255,255,255, 0.8);
    padding:.2em;
    font-size:230%;
    }
header p.quote {
    background:rgba(30,30,30,.9);
    padding:.1em;
    font-size: 2.5rem;
}

.header2 {
    background-image: url('https://56.media.tumblr.com/be885ca20b5b7bfa8770d78301007d9c/tumblr_o0jbv1dYsU1ujvdipo2_r1_1280.jpg');
    /*text-shadow: 1px 2px 3px rgba(35, 35, 35, .8);
    filter: drop-shadow(1px 1px 2px rgba(30, 30, 30, 0.8));*/
 }

 .header3 {
    background-image: url('https://57.media.tumblr.com/5f45dd49acf3369ab9a4a347145fbcd7/tumblr_o1hwmfMGWK1v4h5vzo1_1280.gif');
    /*text-shadow: 1px 2px 3px rgba(35, 35, 35, .8);
    filter: drop-shadow(1px 1px 2px rgba(30, 30, 30, 0.8));*/
 }



h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  font-weight: 300;
}
h1 {
  font-size: 5em;
  /*color:  #c0f6f4;*/
  color:#eee;
  font-weight: lighter;
  letter-spacing: .1em;
  text-shadow: 1px 1px 4px hsla(30, 10%, 10%, 0.8);
  filter: drop-shadow(1px 1px 2px rgba(30, 30, 30, 0.8));
  padding: 10px;
  background-color: rgba(33, 33, 033, 0.87);
}
h2{
    font-size:230%
}
h3 {
    font-size:160%
}
h4 {
    font-size:105%;
  color:  #c0f6f4;
}

header p {
  color: #inherit;
  font-size: 2.5rem;
}
q {
    line-height:1.8;
}
p {
    margin-bottom:.5em;
    line-height:1.35;
}
#greeting {
     color:  #c0f6f4;
}
/* Content */
.main-content {
  position: relative;
  z-index: 1;
  transition: all .15s ease;
  transform: scale(1);
  transform-origin: center top;
  height: 100%;
  background-color: hsla(92, 11%, 10%, 1);
}
section{
  width: 70%;
  margin: 10px auto;
}
/* articles */

article img {
  width: 100%;
}
h2, h3, h4{
  font-family: "lato", arial, "arial narrow", sans-serif;
  text-align: center;

}

ul li {
    text-align:center;
}

input {
  border: 0 0 1px 1px solid #eee;
  border-radius: 3px;
  background-color:#333;
  color:#eee;
}

/* hidden nav bar */
.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  text-shadow: 1px 1px 10px hsla(30, 30%, 30%, 1);
  transition: all .15s ease;
  cursor: pointer;

}
#nav-toggler{
  display: none;
}
#nav-toggler:checked + .page-wrap .hidden-nav {
  left:0px;
}
#nav-toggler:checked + .page-wrap .toggle {
  left: 180px;
}
#nav-toggler:checked + .page-wrap .main-content {
  padding-left: 0;
  transform: scale(.7);
  box-shadow: 0px 18px 25px -5px hsla(360, 0%, 0%, 0.9);
}

.main-content{
  position: relative;
  z-index: 0;
}
.hidden-nav{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -190px;
  z-index: 0;
  width: 160px;
  padding: 20px;
  background-color: #333;
  transition: all .15s ease;
}
.hidden-nav ul{
  list-style-type: none;
  font-size: 1.6rem;
}
.hidden-nav a, li {
  color: #6f6f6f;
  text-decoration: none;
}



.hidden-nav li {
  margin-bottom: 1em;
}
.hidden-nav a:hover{
  color: #e1f6f4;
  transition: all .3s ease;
}
.hidden-nav img {
  width: 100%;
}
@media only screen and (max-width: 700px) {
h1 { font-size:250%;}
