.alert {
  &__inline {
    display: inline-flex;
    gap: var(--grid-gap-small) var(--grid-gap-small);
    align-items: baseline;
    padding: var(--size-06);
    background-color: var(--color-background-primary);

    &--info {
      color: var(--color-foreground-info);
    }

    &--warning {
      color: var(--color-foreground-warning);
    }

    &--danger {
      color: var(--color-foreground-danger);
    }

    &--success {
      color: var(--color-foreground-success);
    }
  }

  &__section {
    display: grid;
    grid-template-areas: "icon title body dismiss";
    grid-template-columns: auto auto 1fr auto;
    gap: var(--grid-gap-small) var(--grid-gap-medium);
    align-items: baseline;
    padding: var(--size-06);
    border-radius: var(--radius-02);
    background-color: var(--color-background-secondary);

    &--info {
      background: var(--color-background-info-subtle);
      color: var(--color-foreground-onInfoSubtle);
    }

    &--warning {
      background: var(--color-background-warning-subtle);
      color: var(--color-foreground-onWarningSubtle);
    }

    &--danger {
      background: var(--color-background-danger-subtle);
      color: var(--color-foreground-onDangerSubtle);
    }

    &--success {
      background: var(--color-background-success-subtle);
      color: var(--color-foreground-onSuccessSubtle);
    }
  }

  &__page {
    display: grid;
    grid-template-areas: "icon title dismiss" "icon body dismiss";
    grid-template-columns: auto 1fr auto;
    gap: var(--grid-gap-small) var(--grid-gap-medium);
    align-items: baseline;
    min-height: var(--size-12);
    margin: 0 -1rem;
    padding: var(--size-06) var(--size-08);

    &--info {
      background: var(--color-background-info-strong);
      color: var(--color-foreground-onColor);
    }

    &--warning {
      background: var(--color-background-warning-strong);
      color: var(--color-foreground-onColor);
    }

    &--danger {
      background: var(--color-background-danger-strong);
      color: var(--color-foreground-onColor);
    }

    &--success {
      background: var(--color-background-success-strong);
      color: var(--color-foreground-onColor);
    }
  }

  & + .alert {
    margin-top: var(--size-04);
  }
}

.__icon {
  display: inline-block;
  grid-row: span 2;
  grid-column: span 1;
  grid-column-start: 1;
  width: var(--size-06);
  height: var(--size-06);
}

.__title {
  grid-area: title;
  grid-row: span 1;
  grid-column: span 1;
  grid-column-end: -2;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-06);
}

.__body {
  grid-area: body;
  grid-row: span 1;
  grid-column: span 1;
  grid-column-start: 2;
  font-size: var(--font-size-05);
}

.__dismiss {
  display: inline-block;
  grid-area: dismiss;
  grid-row: span 2;
  grid-column: span 1;
  grid-column-end: -1;
  cursor: pointer;
}
