.navContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: var(--core-spacing-size-02) var(--core-spacing-size-07);
  background: linear-gradient(
    to top,
    var(--core-color-mode-transparent) 0%,
    var(--semantic-color-background-primary) 20%
  );
}

.logo {
  width: var(--core-spacing-size-07);
  height: var(--core-spacing-size-07);
  margin: 0;
}

.logoLink {
  display: flex;
  gap: var(--core-spacing-size-02);
  align-items: center;
}

.nav a {
  font-family: var(--font-nohemi);
}

.nav a:has(svg) {
  display: flex;
  gap: var(--core-spacing-size-02);
  align-items: center;
  color: var(--semantic-color-foreground-primary);
}

.nav a.active {
  color: var(--semantic-color-foreground-primary);
  font-weight: var(--font-weight-bold);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--core-spacing-size-02);
  width: 100%;
  min-height: var(--core-spacing-size-10);
  margin-bottom: var(--core-spacing-size-02);
  padding: var(--core-spacing-size-02) 0;
}

.nav .navLinks {
  display: flex;
  gap: var(--core-spacing-size-05);
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav h1 {
  display: inline-block;
  font-weight: var(--semantic-typography-font-weight-light) !important;
  line-height: 1;

  a {
    color: var(--semantic-color-foreground-primary) !important;
  }
}

/* Mobile styles (default) */
@media screen and (width < 1000px) {
  .navContainer {
    padding: var(--core-spacing-size-02) var(--core-spacing-size-04);
  }

  .nav .navLinks {
    flex-wrap: wrap;
    gap: var(--core-spacing-size-03);
    justify-content: flex-start;
  }

  .nav .navLinks li:last-child {
    margin-left: auto;
  }
}

/* Desktop styles */
@media screen and (width >= 1000px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
