---
layout: default
title: Brand Identity and Web Design | Darian Rosebrook
description: Darian Rosebrook is a Brand Identity Designer specializing in professional branding for digital products and website design. He works globally and locally from north of Seattle in the Pacific North West (PNW).
img:
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---
{% for post in site.categories.brand limit:1 %}
<header id="hero" class="container hero featured-{{post.class}}">
  <h1>Branding</h1>
  <div class="row featured info">
    <h2>Featured Work</h2>
      {% if post.type == 'Branding' %}
      <article class="featured-item">
        <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
        <p>{{post.description}}</p>
        <a href="{{site.baseurl}}{{post.url}}" class="">View Project</a>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</header>
<section id="info" class="descriptions container">
  <div class="blurb-container module">
    <img src="/assets/img/icon-branding.svg" alt="Web design for scalability" />
    <div>
      <h2>The Brand Effect</h2>
      <p>The logo you choose for your company is just a child of a bigger system. Branding is <q cite="Seth Godin" title="Seth Godin">"the set of expectations, memories, stories and relationships that, taken together, account for a consumer's decision to choose one product or service over another."</q> This is what makes the difference of wearing a pair of running shoes and wearing Converse.</p>
      <blockquote cite="https://blog.prototypr.io/5-ux-plays-to-start-your-design-on-good-tracks-45d00260909e#.6qt2wyc2a">A colleague of mine has talked about design for digital experiences, saying: <a href="https://blog.prototypr.io/5-ux-plays-to-start-your-design-on-good-tracks-45d00260909e#.6qt2wyc2a">&ldquo; An experience goes beyond the screen. It is not only what the user does with your product, but also what happens before and after it. &rdquo;</a></blockquote>
      <p><strong>The goal</strong> of branding is to make a company unique and recognisable, and to project a desired image. <strong>The challenge</strong> is keeping the brand different in a world of parroting products and services, and keeping the brand relevant to those who are seeking it. This is a service I provide and have continued to provide throughout my career as a designer.</p>
    </div>
  </div>
</section>
<section id="list" class="container">
  <div class="row">
  </div>
  {% for post in site.categories.public %}
  {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
  {% if thecycle == '1' %}<div class="row">{% endif %}
      <article class="work module">
        {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% elsif post.type == 'Concept' %}<h4 class="work-concept">{% else %}<h4>{% endif %}{{post.type}}</h4>
        <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.title | truncate: 120}}" /></a>
        <div class="data">
          <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
          <small><a href="{{site.baseurl}}/archive/articles">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.topic}}</em></a></small>
          <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
        </div>
      </article>
    {% if thecycle == '3' or forloop.last %}</div>{% endif %}
    {% endfor %}

</section>
