---
layout: default
title: Brand Identity and Web Design | Darian Rosebrook
description: Darian Rosebrook is a Brand Identity Designer specializing in professional branding for digital products and website design. He works globally and locally from north of Seattle in the Pacific North West (PNW).
img:
---
{% for post in site.categories.brand limit:1 %}
<header class="container featured-item featured-{{post.class}}">
  <h1>Branding</h1>
  <div class="row featured info">
    <h2>Featured Work</h2>
      {% if post.type == 'Branding' %}
      <article class="featured-item">
        <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
        <p>{{post.description}}</p>
        <a href="{{site.baseurl}}{{post.url}}" class="">View Project</a>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</header>
<section id="info" class="container">
  <div class="row">
  </div>
  <div class="row">
    {% for post in site.categories.brand limit:6 %}
    {% if forloop.index == 4 and post.type == "Branding" %}
  </div>
  <div class="row">
    <article class="work module">
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.description | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/case-study/">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.type}}</em></a></small>
        <p class="meta_description"><a href="{{site.baseurl}}{{post.url}}">&ldquo;{{post.description | truncate: 170}}&rdquo;</a></p>
      </div>
    </article>
    {% elsif forloop.index == 7 and post.type == "Branding" %}
  </div>
  <div class="row">
    <article class="work module">
      {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% else %}<h4>{% endif %}{{post.type}}</h4>
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.description | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/case-study/">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.type}}</em></a></small>
        <p class="meta_description"><a href="{{site.baseurl}}{{post.url}}">&ldquo;{{post.description | truncate: 170}}&rdquo;</a></p>
      </div>
    </article>
    {% elsif post.type == "Branding" %}
    <article class="work module">
      {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% else %}<h4>{% endif %}{{post.type}}</h4>
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.description | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/case-study/">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.type}}</em></a></small>
        <p class="meta_description"><a href="{{site.baseurl}}{{post.url}}">&ldquo;{{post.description | truncate: 170}}&rdquo;</a></p>
      </div>
    </article>
    {% endif %}
    {% endfor %}
  </div>

</section>
