@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:300,300i,400&display=swap');
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
}
html {
  /* Transitions */
  --transition: all ease 0.3s;

  /* Design unit */
  --border-radius: var(--design-unit);
  --design-unit: 4px;
  --du-2: calc(var(--design-unit) * 2);
  --du-3: calc(var(--design-unit) * 3);
  --du-4: calc(var(--design-unit) * 4);
  --du-5: calc(var(--design-unit) * 5);
  --du-6: calc(var(--design-unit) * 6);
  --du-7: calc(var(--design-unit) * 7);
  --du-8: calc(var(--design-unit) * 8);

  /* Depth */
  --depth-1: 8;
  --depth-2: 12;
  --depth-3: 24;
  --depth-4: 48;

  --margin: calc(3 * var(--design-unit));

  /* Typography ramp */
  --ramp-t1: calc(var(--ramp-t9) * 4.8);
  --ramp-t2: calc(var(--ramp-t9) * 4);
  --ramp-t3: calc(var(--ramp-t9) * 3.4);
  --ramp-t4: calc(var(--ramp-t9) * 2.8);
  --ramp-t5: calc(var(--ramp-t9) * 2);
  --ramp-t6: calc(var(--ramp-t9) * 1.6);
  --ramp-t7: calc(var(--ramp-t9) * 1.4);
  --ramp-t8: calc(var(--ramp-t9) * 1.2);
  --ramp-t9: calc(var(--design-unit) * 2.5);

  --black: 900;
  --extra-bold: 800;
  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --extra-light: 200;
  --thin: 100;

  /* --headings-- */
  --jumbo-font-weight: var(--light);
  --heading-font-weight: var(--semibold);
  --subheading-font-weight: var(--light);
  --caption-font-weight: var(--light);
  --italic-font-weight: var(--light);

  /* Font Styles */
  --font-main: 'Inter', sans-serif;
  --font-secondary: 'Crimson Pro', serif;

  --tr-title-1: var(--regular) var(--ramp-t1) / 1 var(--font-main);
  --tr-title-2: var(--regular) var(--ramp-t2) / 1 var(--font-main);
  --tr-title-3: var(--regular) var(--ramp-t3) / 1 var(--font-main);
  --tr-title-4: var(--regular) var(--ramp-t4) / 1 var(--font-main);
  --tr-title-5: var(--regular) var(--ramp-t5) / 1 var(--font-main);
  --tr-title-6: var(--regular) var(--ramp-t6) / 1 var(--font-main);
  --tr-subtitle-1: var(--regular) var(--ramp-t4) / 1 var(--font-main);
  --tr-subtitle-2: var(--regular) var(--ramp-t5) / 1 var(--font-main);
  --tr-subtitle-3: var(--regular) var(--ramp-t6) / 1 var(--font-main);
  --tr-body-1: var(--regular) var(--ramp-t5) / 1.25 var(--font-main);
  --tr-body-2: var(--regular) var(--ramp-t6) / 1.25 var(--font-main);
  --tr-body-3: var(--regular) var(--ramp-t7) / 1.25 var(--font-main);
  --tr-caption-1: var(--regular) var(--ramp-t7) / 1 var(--font-main);
  --tr-caption-2: var(--regular) var(--ramp-t8) / 1 var(--font-main);
  --tr-legal: var(--regular) var(--ramp-t9) / 1 var(--font-main);

  /* Colors */
  /*  --functional-- */
  --foreground: var(--df-dark-neutral-dark);
  --foreground-secondary: var(--df-dark-neutral-mid);
  --background: var(--df-light-neutral-light);
  --hover-background: var(--cr-neutral-10);

  --text: var(--foreground);
  --secondary-text: var(--cr-neutral-70);

  --divider-color: var(--cr-neutral);

  --link-rest: var(--cr-blue-70);
  --link-hover: var(--cr-blue-80);
  --link-active: var(--cr-blue-100);

  --focus: var(--cr-blue-60);
  --disabled: var(--cr-neutral-30);

  --warning-background: var(--cr-yellow-10);
  --warning-foreground: var(--cr-yellow-70);
  --danger-background: var(--cr-red-10);
  --danger-foreground: var(--cr-red-70);
  --success-background: var(--cr-green-10);
  --success-foreground: var(--cr-green-70);
  --info-background: var(--cr-neutral-10);
  --info-foreground: var(--cr-neutral-70);

  /* --color-tokens-- */
  --df-light-neutral-white: #ffffff;
  --df-light-neutral-light: #fafafa;
  --df-light-neutral-mid: var(--cr-neutral-60);
  --df-dark-neutral-black: #000000;
  --df-dark-neutral-mid: var(--cr-neutral-40);
  --df-dark-neutral-dark: #1a1b1c;

  --neutral-layer-l0: var(--df-light-neutral-white);
  --neutral-layer-l1: var(--df-light-neutral-light);
  --neutral-layer-l2: var(--cr-neutral-10);
  --neutral-layer-l3: var(--cr-neutral-20);
  --neutral-layer-l4: var(--cr-neutral-30);

  /* Color Ramp */
  --cr-red-10: #fce6e3;
  --cr-red-20: #f6cac3;
  --cr-red-30: #eeaba1;
  --cr-red-40: #e3897e;
  --cr-red-50: #d6685e;
  --cr-red-60: #c84741;
  --cr-red-70: #a83a2d;
  --cr-red-80: #8b2e19;
  --cr-red-90: #682a19;
  --cr-red-100: #3b231b;

  --cr-yellow-10: #ffe9ac;
  --cr-yellow-20: #f7d05d;
  --cr-yellow-30: #ebb242;
  --cr-yellow-40: #dc9222;
  --cr-yellow-50: #c87500;
  --cr-yellow-60: #a56400;
  --cr-yellow-70: #865500;
  --cr-yellow-80: #6c460e;
  --cr-yellow-90: #523916;
  --cr-yellow-100: #31271b;

  --cr-green-10: #e7eed2;
  --cr-green-20: #ccdaa2;
  --cr-green-30: #adc56c;
  --cr-green-40: #91ab4e;
  --cr-green-50: #7f9051;
  --cr-green-60: #6c784c;
  --cr-green-70: #5a6342;
  --cr-green-80: #495138;
  --cr-green-90: #3a3f30;
  --cr-green-100: #272924;

  --cr-teal-10: #e2eded;
  --cr-teal-20: #c0d9d8;
  --cr-teal-30: #9dc3c2;
  --cr-teal-40: #74abaa;
  --cr-teal-50: #4b9494;
  --cr-teal-60: #257f7f;
  --cr-teal-70: #286969;
  --cr-teal-80: #275455;
  --cr-teal-90: #254343;
  --cr-teal-100: #1f2a2b;

  --cr-blue-10: #e6ebf5;
  --cr-blue-20: #c8d5e9;
  --cr-blue-30: #a8bddc;
  --cr-blue-40: #85a4cd;
  --cr-blue-50: #618cbf;
  --cr-blue-60: #4c75a5;
  --cr-blue-70: #3f628a;
  --cr-blue-80: #324f71;
  --cr-blue-90: #2a3f57;
  --cr-blue-100: #222a34;

  --cr-purple-10: #f3e6f9;
  --cr-purple-20: #e5cbf2;
  --cr-purple-30: #d5adea;
  --cr-purple-40: #be90d7;
  --cr-purple-50: #a27ab8;
  --cr-purple-60: #89669c;
  --cr-purple-70: #725582;
  --cr-purple-80: #5d456c;
  --cr-purple-90: #493754;
  --cr-purple-100: #2d2633;

  --cr-pink-10: #f9e6eb;
  --cr-pink-20: #f1cad5;
  --cr-pink-30: #e6acbd;
  --cr-pink-40: #da8aa3;
  --cr-pink-50: #cd698c;
  --cr-pink-60: #b65176;
  --cr-pink-70: #994362;
  --cr-pink-80: #7d3650;
  --cr-pink-90: #5e2f3f;
  --cr-pink-100: #35242a;

  --cr-neutral-10: #eaeaea;
  --cr-neutral-20: #d4d4d4;
  --cr-neutral-30: #bbbcbc;
  --cr-neutral-40: #a1a1a2;
  --cr-neutral-50: #89898a;
  --cr-neutral-60: #737374;
  --cr-neutral-70: #5f6060;
  --cr-neutral-80: #4d4e4e;
  --cr-neutral-90: #3d3e3e;
  --cr-neutral-100: #28292a;
}
html,
body {
  margin: 0;
  color: var(--foreground);
  background-color: var(--df-light-neutral-light);
  font: var(--tr-body-3);
  transition: var(--transition);
  z-index: 0;
}
body.main {
  padding: 0 2rem;
  animation: fadeIn 2.5s;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

@media (prefers-color-scheme: dark) {
  html {
    /* Main */
    --foreground: var(--cr-neutral-10);
    --foreground-secondary: var(--df-dark-neutral-mid);
    --background: var(--df-dark-neutral-dark);

    /* Layers */
    --neutral-layer-l0: var(--df-dark-neutral-black);
    --neutral-layer-l1: var(--df-dark-neutral-dark);
    --neutral-layer-l2: var(--cr-neutral-100);
    --neutral-layer-l3: var(--cr-neutral-90);
    --neutral-layer-l4: var(--cr-neutral-80);

    /* Hover */
    --hover-background: var(--cr-neutral-90);
    --link-rest: var(--cr-blue-40);
    --link-hover: var(--cr-blue-30);
    --link-active: var(--cr-blue-10);

    /* Functional */
    --warn-background: var(--cr-yellow-100);
    --warn-foreground: var(--cr-yellow-20);
    --danger-background: var(--cr-red-90);
    --danger-foreground: var(--cr-red-20);
    --success-background: var(--cr-green-90);
    --success-foreground: var(--cr-green-20);

    color: var(--foreground);
    background: var(--background);
  }
}
root-portfolio {
  width: 100%;
}
#pest {
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 999px;
  pointer-events: none;
  border: 2px solid var(--foreground);
  transition: border ease 0.2s;
  animation: fadeIn 5s;
}
