.gridContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.gridContent {
  position: relative;
  display: grid;
  flex: none;
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
  align-content: center;
  width: 250vh;
  transform: rotate(var(--angle));
  transform-origin: center center;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  will-change: transform, filter;
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  border: 1px solid var(--semantic-color-border-accent);
  border-radius: var(--semantic-size-radius-03);

  &.middleCell {
    z-index: 1;
  }

  svg {
    max-width: 100%;
  }
}

.enter {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  z-index: 1001;
  padding: 1rem 2rem;
  background-color: var(--semantic-color-background);
  border: none;
  border-radius: var(--semantic-size-radius-02);
  color: var(--color-text);
  transition: opacity 0.3s ease;
  transform: translateX(-50%);
  cursor: pointer;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
