.cardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 480px;
  margin: 0 auto;
  padding: 0.5rem 0;
  opacity: 0.99;
  perspective: 1000px;
}

.card {
  --card-opacity: 5%;
  --card-blur: 24px;
  --card-background: hsl(
    from var(--color-background-inverse) h s l / var(--card-opacity)
  );
  --card-border: 1px solid var(--color-border-subtle);
  --card-shadow: 0 8px 32px
    hsl(from var(--color-background-secondary) h s l / 5%);
  --card-shadow-active: 0 0 30px
    hsl(from var(--color-background-secondary) h s l / 5%);

  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(150px, 30vw, 300px);
  height: clamp(150px, 30vw, 400px);
  overflow: hidden;
  background: var(--card-background);
  border: var(--card-border, 1px solid var(--color-border-primary));
  border-radius: 16px;
  box-shadow: var(--card-shadow);
  transition:
    box-shadow 0.3s ease,
    backdrop-filter 0.3s ease;
  transform: translate3d(0, 0, 0);
  transform-origin: center center;
  backdrop-filter: blur(var(--card-blur));
  will-change: transform, backdrop-filter;

  &.active {
    box-shadow: var(--card-shadow-active);
    backdrop-filter: blur(20px);
  }
}

.cardLabel {
  position: absolute;
  top: 12px;
  right: 12px;

  // color: orange;
  font-size: clamp(var(--caption-03), 1.5vw, var(--body-03));
  text-transform: uppercase;
  color: var(--color-foreground-primary);
  pointer-events: none;
}

.cardTerm {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: clamp(var(--caption-03), 1.5vw, var(--body-03));
  text-transform: uppercase;
  color: var(--color-foreground-primary);
  pointer-events: none;
}

.cardContent {
  z-index: 1;
  font-size: clamp(var(--heading-05), 3vw, var(--oversize-02));
  color: var(--color-foreground-secondary);
  pointer-events: none;
  user-select: none;
}
