.gridContainer {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;

  & svg {
    max-width: unset;
  }
}

.gridContent {
  position: relative;
  flex: none;
  width: 300vh;
  height: 100%;
  transform-origin: center center;
}

.colorSwatchContainer {
  position: relative;
  left: 50%;
  display: flex;
  align-items: center;
  transition: gap 2.5s;
  transform: translateX(-50%);
}

.isometricContainer {
  position: relative;
  display: inline-grid;
  color: var(--colorSwatch-color-text, #000);
  font-family: sans-serif;
  transition: all ease-in-out 0.5s;
}

.isometricContainer:hover {
  transform: translateY(-4rem);
}

.isometricText {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: var(--core-size-05) var(--core-size-05);
  font-size: 0.5rem;
  transform: matrix(0.866, 0.5, 0, 1, 0, 0);

  & div {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 1rem 0;
  }

  & p:first-of-type {
    font-size: var(--core-typography-ramp-4);
  }
}

@media screen and (width <= 768px) {
  .gridContainer {
    transform: scale(0.8);
  }

  .colorSwatchContainer {
    gap: 3rem;
  }
}
