@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
@tiptap-pro:registry=https://registry.tiptap.dev/

//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}
//registry.tiptap.dev/:_authToken=${TIPTAP_PRO_PACKAGE_TOKEN}