{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["@stylistic/stylelint-plugin", "stylelint-order"],
  "rules": {
    "@stylistic/no-eol-whitespace": true,
    "declaration-block-single-line-max-declarations": 3,
    "selector-class-pattern": [
      "[a-z]+([a-zA-Z0-9]|-[a-zA-Z0-9])*$",
      {
        "message": "Selector should be written in camel or kebab case"
      }
    ],
    "keyframes-name-pattern": [
      "[a-z]+([a-zA-Z0-9]|-[a-zA-Z0-9])*$",
      {
        "message": "Keyframes should be written in camel or kebab case"
      }
    ],
    "custom-property-pattern": [
      "^[a-z]+([a-zA-Z0-9]|-[a-zA-Z0-9])*$",
      {
        "message": "Custom properties should be written in camel or kebab case"
      }
    ],
    "order/order": [
      [
        "dollar-variables",
        "custom-properties",
        "at-rules",
        "declarations",
        {
          "type": "at-rule",
          "name": "supports"
        },
        {
          "type": "at-rule",
          "name": "starting-style"
        },
        {
          "type": "at-rule",
          "name": "container"
        },
        {
          "type": "at-rule",
          "name": "media"
        },
        "rules"
      ],
      {
        "severity": "warning"
      }
    ]
  }
}
