---
layout: default
title: Product and UX Designer | Darian Rosebrook
description: I'm Darian, a design consultant who focuses on the intersection of user experience design and branding design. Currently working on redesigning the design process within DevOps and DesignOps.
index_image: /assets/img/index.jpg
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---
{% include updates.html %}
<article class="hero row" style="">
  <div class="row-head"><h2>Product &amp; UX Designer</h2>
    <p><small><strong>Find me Here: </strong></small>
      <a href="http://medium.com/@darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Medium"><i class="fab fa-medium-m transition"><span>Link to Medium</span></i></a>
      <a href="http://dribbble.com/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Dribbble"><i class="fab fa-dribbble transition"><span>Link to Dribbble</span></i></a><a href="http://www.facebook.com/DarianRosebrook/" class="hidden">facebook page</a><a href="https://plus.google.com/u/1/106679625106063278529" class="hidden">Google page</a>
      <a href="http://instagram.com/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Instagram"><i class="fab fa-instagram transition"><span>Link to Instagram</span></i></a>
      <a href="http://youtube.com/compassofdesign" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To YouTube"><i class="fab fa-youtube transition"><span>Link to YouTube</span></i></a>
      <a href="http://linkedin.com/in/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Linkedin"><i class="fab fa-linkedin transition"><span>Link to Linkedin</span></i></a>
      <a href="http://twitter.com/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Twitter"><i class="fab fa-twitter transition"><span>Link to Twitter</span></i></a>
    </p>
  </div>
  <article class="row">
    <div class="module">
      <figure>
        <img class="f-r cf loading="lazy" src="{{site.baseurl}}/assets/img/darian-rosebrook-portrait.jpg" alt="Professional headshot of product designer, Darian Rosebrook. Seattle, WA 2019">
        <figcaption><h6>Product Designer, Darian Rosebrook. Seattle, WA. 2019</h6></figcaption>
        <p><a href="{{site.baseurl}}/now">See more <i class="fa fa-arrow-right"><span>Click to see more</span></i></a></p>
      </figure>
        <h1 class="name"><span>Hey there! I'm Darian Rosebrook, a product designer that helps businesses design better UX & Brand Experiences. </span></h1>
        <p>I work as a digital product designer in the Seattle area. Here, I utilize my consulting background in user experience design and brand identity design to create better experiences people have with products they love.<p>

        <p>I am currently working with Microsoft, helping redefine the product design process.</p>


    </div>

  </article>
</article>
<section class="container skills" style="">
  <article class="row">
    <h2>Skills</h2>
    <div class="">
      <article class="grid-item">
        <h6>UX</h6>
        <ul class="title-list">
          <li>User flow charts</li>
          <li>Wireframing</li>
          <li>Rapid prototyping</li>
          <li>Storyboarding</li>
          <li>Interaction design</li>
        </ul>
      </article>
      <article class="">
        <h6>Brand</h6>
        <ul class="title-list">
        <li>Logo design systems</li>
        <li>Brand standard guides</li>
        <li>Iconography</li>
        <li>Packaging design</li>
      </ul>
      </article>
      <article class="">
        <h6>Strategy</h6>
        <ul class="title-list">
        <li>Crafting Spec Documents</li>
        <li>Brand Positioning</li>
        <li>Design Sprints</li>
        <li>Competitive Research</li>
        <li>Design Systems</li>
      </ul>
      </article>
      <article class="">
        <h6>Tools</h6>
        <ul class="title-list">
        <li>Adobe Creative Suite</li>
        <li>Figma</li>
        <li>Sketch App</li>
        <li>InVision and InVision Studio</li>
      </ul>
      <article class="">
        <h6>Code</h6>
        <ul class="title-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Web Components</li>
        <li>React</li>
        <li>Polymer</li>
        <li> Ruby on Rails</li>

        </ul>
      </article>
      </article>
    </div>
  </article>
  </section>

  {% include clients.html %}

  <section class="container work-history">
  <article class="row">
    <h2>Work History</h2>
    <div class="grid">
      <div class="grid-item">
        <img loading="lazy" class="cf" src="{{site.baseurl}}/assets/img/darian-rosebrook-microsoft.jpg" alt="Darian Rosebrook employed by Microsoft in May 2019" />
        <div class="module">
          <p><small>May 2019 &mdash; Present</small></p>
          <h5>Product Designer 3 ( Contract )</h5>
          <img src="{{site.baseurl}}/assets/img/microsoft-logo.svg" class="logo" alt=""><h3>Microsoft</h3>
        </div>
      </div>
      <div class="grid-item">
        <img loading="lazy" class="cf" src="{{site.baseurl}}/assets/img/darian-rosebrook-senior-user-experience-designer.jpg" alt="Darian Rosebrook employed by Compass of Design as a Senior User Experience Designer" />
        <div class="module">
          <p><small>Jan 2017 &mdash; May 2019</small></p>
          <h5>Senior UX Designer</h5>
          <img src="{{site.baseurl}}/assets/img/compass-of-design-logo.svg" class="logo" alt=""><h3>Compass of Design</h3>
        </div>
      </div>
      <div class="grid-item">
        <img loading="lazy" class="cf" src="{{site.baseurl}}/assets/img/darian-rosebrook-contract-brand-identity-designer.jpg" alt="Darian Rosebrook working independently on brand strategy, design strategy, and user experience design" />
        <div class="module">
          <p><small>Sept 2015 &mdash; May 2019</small></p>
          <h5>Brand Identity Designer</h5>
          <img src="{{site.baseurl}}/assets/img/so-magnetic-logo.svg" class="logo" alt=""><h3>So Magnetic</h3>
        </div>
      </div>
      <div class="grid-item">
        <img loading="lazy" class="cf" src="{{site.baseurl}}/assets/img/darian-rosebrook-lead-user-interface-designer.jpg" alt="Darian Rosebrook employed by Keyspark in May 2019 as a lead user interface designer" />
        <div class="module">
          <p><small>May 2016 &mdash; Oct 2017</small></p>
          <h5>Lead UI Designer</h5>
          <img src="{{site.baseurl}}/assets/img/keyspark-logo.svg" class="logo" alt=""><h3>KeySpark</h3>
        </div>
      </div>
    </div>
  </article>
</section>
{% include newsletter.html %}
{% include dribbble.html %}
