---
layout: default
title: Brand Identity and Web Design | Darian Rosebrook
description: Darian Rosebrook is a Brand Identity Designer with skills based around digital products and website design. Specializing in professional branding for companies, he works globally just north of Seattle in the Pacific North West (PNW).
index_image: /assets/img/index.jpg
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---
<header id="hero" class="index-header">
  <div class="info">
      <h1 class="name">DARIAN <br>ROSEBROOK</h1>
      <h2 class="position">Branding Consultant</h2>
      <h2 class="position">Web Designer</h2>
      <button data-href="#contact" class="scrollBtn button">For Hire</button>
  </div>
  <img src="/assets/img/profile-alpha.png" alt="Darian Rosebrook, a designer who focuses on websites and branding projects for companies." />
</header>
<section class="sub-nav hidden container">
  <h3 class="hidden">Services</h3>
  <article class="icon col">
    <img src="/assets/img/icon-branding.svg" alt="Icon specifically for the topic of branding" />
    <h4>Branding</h4>
  </article>
  <article class="icon col">
    <img src="/assets/img/icon-web.svg" alt="Icon specifically for the topic of Web Design" />
    <h4>Web Design</h4>
  </article>
  <article class="icon col">
    <img src="/assets/img/icon-process.svg" alt="Icon specifically for the topic of Process" />
    <h4>My Process</h4>
  </article>
  <article class="icon col">
    <img src="/assets/img/icon-writing.svg" alt="Icon specifically for the topic of Articles" />
    <h4>Articles</h4>
  </article>
</section>
<section class="descriptions container">
  <h3 class="mobile">The Work I Do:</h3>
  <article class="blurb-container module">
    <img src="/assets/img/icon-branding.svg" alt="Icon specifically for the topic of branding" class="" />
    <div>
      <h4><a href="{{site.baseurl}}branding">Brand Identity and Design</a></h4>
      <p>Make your brand stand out in the industry with professional branding services. </p>
      <a href="{{site.baseurl}}branding">View Branding Projects</a>
    </div>
  </article>
  <hr class="mobile-separator" />
  <article class="blurb-container module">
    <img src="/assets/img/icon-web.svg" alt="Icon specifically for the topic of Web Design" class="" />
    <div>
      <h4><a href="{{site.baseurl}}web">Responsive Website Design and Development</a></h4>
      <p>Make a space to showcase your brand online. Let's work together to make it as effective as possible.</p>
      <a href="{{site.baseurl}}web">View Web Design Projects</a>
    </div>
  </article>
  <hr class="mobile-separator" />
  <article class="blurb-container module">
    <img src="/assets/img/icon-process.svg" alt="Icon specifically for the topic of Process" class="" />
    <div>
      <h4><a href="{{site.baseurl}}process">The Design Process</a></h4>
      <p>An effective design starts with an effective process. I use careful research and questions that center around the goals of both the brand and the target audience. </p>
      <a href="{{site.baseurl}}process">View the Design Process</a>
    </div>
  </article>
  <hr class="mobile-separator" />
  <article class="blurb-container module">
    <img src="/assets/img/icon-writing.svg" alt="Icon specifically for the topic of Articles" class="" />
    <div>
      <h4><a href="{{site.baseurl}}archive/articles">Articles on Creative Business</a></h4>
      <p>When building a brand, there is a lot of research that can still be put to good use. Here are the quantified notes and experiences edited to fit the creative industry.</p>
      <a href="{{site.baseurl}}archive/articles">View the Articles Archive</a>
    </div>
  </article>
</section>
<section id="past-work" class="container">
  <h1>Archive</h1>
  <div id="hero" class="row">
    <h2>Previous Work:</h2>
  </div>
{% for post in site.categories.public limit: 6 %}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1' %}<div class="row">{% endif %}
    <article class="work module">
      {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% elsif post.type == 'Concept' %}<h4 class="work-concept">{% else %}<h4>{% endif %}{{post.type}}</h4>
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.title | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/articles">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.topic}}</em></a></small>
        <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
      </div>
    </article>
  {% if thecycle == '3' or forloop.last %}</div>{% endif %}
  {% endfor %}
  <a href="{{site.baseurl}}archive/case-studies" class="button secondary">View All Case Studies</a>
</section>
{% include testimony.html %}
<section id="articles" class="container">
  <div class="row">
    <h2>Writing</h2>
    <h4>Experience to thought, thought to writing</h4>
  </div>
  <div class="row">
    {% for post in site.categories.article limit: 6%}
    {% capture article %}{% cycle '1', '2', '3' %}{% endcapture %}
    {% if article == '1' %}<div class="row">{% endif %}
      <article class="{{post.class}} article module">
        <a href="{% if post.external %}{{post.external}}"{% else %}{{site.baseurl}}{{post.url}}"{% endif%}><img src="{{post.index_image}}" alt="{{post.title}}" /></a>
        <h5><a href="{% if post.external %}{{post.external}}"{% else %}{{site.baseurl}}{{post.url}}"{% endif%}>{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/articles">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.topic}}</em></a></small>
        <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
      </article>
      {% if article == '3' or forloop.last %}</div>{% endif %}
      {% endfor %}
  </div>
  <a href="{{site.baseurl}}archive/articles" class="button secondary">View All Articles</a>
</section>
{% include mailchimp.html %}
