---
layout: default
title: Brand Identity Designer | Darian Rosebrook
description: Darian Rosebrook is a Brand Identity and UX Designer from the Seattle area. He specializing in crafting the brand experience from physical to digital products as well as the logo and identity design.
index_image: /assets/img/index.jpg
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---
<header id="hero" class="container">
  <article class="row">
  <div class="module">
    <img src="{{site.baseurl}}/assets/img/darian.png" alt="">
  </div>
    <div class="module">
        <h1 class="name">Hey there!</h1><h5>My name is Darian Rosebrook, I'm an experience designer</h5>
      <p class="desktop">I have two projects I am currently working on:</p>
      <ul>
        <li><strong><a href="https://compassofdesign.com">Compass of Design</a></strong> &mdash; a designer community</li>
        <li><strong><a href="https://somagnetic.com">So Magnetic</a></strong> &mdash; a branding design agency</li>
      </ul><br />
      <p>On top of that, I love teaching what I know as a designer to help others who are trying to improve their skills.</p>
      <ul>
        <li>I do private mentorship and help designers within the <a href="https://compassofdesign.com" target="_blank">Compass of Design Community</a>.</li>
        <li>I write in depth design guides and articles for the <a href="https://read.compassofdesign.com/">Compass of Design's design publication</a>.</li>
        <li>I <a href="https://www.youtube.com/channel/UCTin1d0uPVufY4xwitzkyFQ">make design videos on YouTube</a> to help designers learn more about design.</li>
        <li>I also run a <a href="http://podcast.compassofdesign.com/">podcast for Compass of Design</a>, teaching things I've learned along the way with managing client work as a freelancer and small agency.</li>
      </ul><br /><br />
      <h6>Looking to get in contact?</h6><br />
        <button data-href="#contact" class="scrollBtn button">Contact Me</button>
    </div>
  </article>
</header>
<section class="container">
  <article class="row">
    <h2>Where I've been</h2>
    <div class="module work">
      <div class="module work">
      <p><small>May 2019 &mdash; Present</small></p>
      <hr>
      <h5>Product Designer 3</h5>
      <h3>Microsoft</h3>
      <p>Working with a Microsoft team doing User Experience design, User Interface design, Brand Identity, and User Experience Storytelling all between the marketing and product side of our project.</p>
    </div>
      <p><small>Jan 2017 &mdash; May 2019</small></p>
      <hr>
      <h5>Senior UX Designer</h5>
      <h3>Compass of Design</h3>
      <p>My role with Compass of Design is maintaining the total user experience of our web application and maintaining the brand experience from a design perspective. The project also requires my skills in writing detailed design standards guides for designers as well as personally mentoring and teaching other designers within our online community.</p>
    </div>
  </article>
  <article class="row">
    <div class="module work">
      <p><small>Sept 2015 &mdash; May 2019</small></p>
      <hr>
      <h5>Brand Identity Designer</h5>
      <h3>So Magnetic</h3>
      <p>Since January of 2017, I've been running my design studio and consultancy full time as a Brand Identity Designer. For older clients and projects, I'm still managing UX design for a few, but our focus for this year is to expand our portfolio to the full branding experience design of a company. This utilizes my history as a UX and UI Designer to map the same principles to branding design and logo design. My role here is to develop strategy and business goals with the client and effectively design a solution that impacts the business and helps them achieve the goals we set. </p>
    </div>
  <div class="module work">
    <p><small>May 2016 &mdash; Oct 2017</small></p>
    <hr>
    <h5>Lead UI Designer</h5>
    <h3>KeySpark</h3>
    <p>As a remote employee for KeySpark, I was the lead of the design department for the brand, web design, and app designs that the company would build. I provided full design mockups to help the UX flow and the Brand Experience come together as they would be built.</p>
  </div>
</article>
</section>
<section class="container">
  <article class="row">
    <h2>What My Process Looks Like</h2>
    <div class="grid">
    {% for post in site.categories.ux-study limit:7%}
          <div class="grid-item">
            <p><small>{{post.date | date_to_string }}</small></p>
            <hr>
            <h4>{{post.title}}</h4>
            <h6>{{post.type | capitalize}}</h6>
            <div>{% if post.type contains "update" %}{{post.content}}</div>
            <p><a href="{{post.link}}">See More</a></p>{% else %}{{post.description}}</div><p><a href="{{post.link}}" target="_blank">See the article</a></p>{% endif %}
          </div>
    {% endfor %}
    </div>
  </article>
</section>
<section class="container">
  <article class="row">
    <h2>What I've Written</h2>
    <div class="grid">
    {% for post in site.categories.articles limit:7%}
          <div class="grid-item">
            <p><small>{{post.date | date_to_string }}</small></p>
            <hr>
            <h4>{{post.title}}</h4>
            <h6>{{post.type | capitalize}}</h6>
            <div>{% if post.type contains "update" %}{{post.content}}</div>
            <p><a href="{{site.baseurl}}/now/#{{post.specific}}">See More</a></p>{% else %}{{post.description}}</div><p><a href="{{post.link_to}}" target="_blank">See the article</a></p>{% endif %}
          </div>
    {% endfor %}
      <div class="grid-item see-all">
        <h4><a href="{{site.baseurl}}/now">Read more of what I've written <i class="fa fa-arrow-right"><span>Click to continue</span></i></a></h4>
      </div>
    </div>
  </article>
</section>
{% include dribbble.html %}
<section class="container">
  <article class="row">
    <h2>What else I've been up to now</h2>
    <div class="grid">
    <div class="grid-item">
      <p><small>12 Nov 2017 - Present</small></p>
      <hr>
      <h4>Building the Compass of Design Community app</h4>
      <h6>Update</h6>
      <p class="truncate">This project has been a huge step in what I'm able to achieve as the sole person on a project. This product utilizes my knowledge in UX Design, UI Design, and Back End Development by wrapping all of those together into one product. The Compass of Design Membership Site. This platform is going to be a powerhouse in helping designers get actionable feedback on questions they have and designs they've done. So far, there hasn't been a site that effectively does this without it becoming a popularity contest. Our goal here is to change the way we do design feedback!</p>
      <p><a href="{{site.baseurl}}/now/#compass-community-site">See More</a></p>
    </div>
    {% for post in site.categories.updates limit:6%}
      {% capture update %}{% cycle '1', '2', '3', '4'  %}{% endcapture %}
      {% if update == '1' %}{% endif %}
          <div class="grid-item">
            <p><small>{{post.date | date_to_string }}</small></p>
            <hr>
            <h4>{{post.title}}</h4>
            <h6>{{post.type | capitalize}}</h6>
            <div>{% if post.type contains "update" %}{{post.content}}</div>
            <p><a href="{{site.baseurl}}/now/#{{post.specific}}">See More</a></p>{% else %}{{post.description}}</div><p><a href="{{post.link_to}}" target="_blank">See the article</a></p>{% endif %}
          </div>
      {% if update == '4' or forloop.last %}{% endif %}
    {% endfor %}
      <div class="grid-item see-all">
        <h4><a href="{{site.baseurl}}/now">See more about me and what I'm up to <i class="fa fa-arrow-right"><span>Click to continue</span></i></a></h4>
      </div>
    </div>
  </article>
</section>
