.editorGroups > * + * {
  margin-top: 1em;
}

.editor > div {
  overflow-y: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  min-height: 400px;
}

.editor > div * + * {
  margin-top: 0.75em;
}

.editor *:focus-visible {
  border: 1px solid var(--semantic-color-border-accent);
  outline: 0;
}

.editor .tiptap .is-empty::before {
  float: left;
  height: 0;
  color: var(--semantic-color-foreground-placeholder);
  pointer-events: none;
  content: attr(data-placeholder);
}

.editor img {
  cursor: grab;
}

.editor img.ProseMirror-selectednode {
  outline: 1px solid var(--semantic-color-border-accent);
  outline-offset: var(--core-spacing-size-03);
}

.editor img.ProseMirror-selectednode:active {
  cursor: grabbing;
}

.publishBar {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}
