@use './ProfileFlag.tokens.generated.scss' as profileFlagTokens;

.profileFlag {
  @include profileFlagTokens.vars;

  a {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--profile-flag-spacing-gap-default);
    align-items: center;
    width: fit-content;
    padding: var(--profile-flag-spacing-padding-default);
    background-color: var(--profile-flag-color-background-default);
    border: 1px solid var(--profile-flag-color-border-default);
    border-radius: var(--profile-flag-size-radius-default);
    color: var(--profile-flag-color-foreground-primary);
    line-height: 1;
    text-decoration: none;
    transition: border-color 0.2s ease;
    padding-inline-end: var(--profile-flag-spacing-padding-right);

    small {
      margin-block-start: var(--profile-flag-spacing-margin-top);
    }

    &:hover {
      border: 1px solid var(--profile-flag-color-border-hover);
    }
  }
}
