@use './ProfileFlag.tokens.generated.scss' as profileFlagTokens;

.profileFlag {
  @include profileFlagTokens.vars;

  a {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--profileFlag-spacing-gap-default);
    align-items: center;
    width: fit-content;
    padding: var(--profileFlag-spacing-padding-default);
    padding-right: var(--profileFlag-spacing-padding-right);
    background-color: var(--profileFlag-color-background-default);
    border: 1px solid var(--profileFlag-color-border-default);
    border-radius: var(--profileFlag-size-radius-default);
    color: var(--profileFlag-color-foreground-primary);
    line-height: 1;
    text-decoration: none;
    transition: border-color 0.2s ease;

    small {
      margin-top: var(--profileFlag-spacing-margin-top);
    }

    &:hover {
      border: 1px solid var(--profileFlag-color-border-hover);
    }
  }
}
