.marqueeContainer {  
  position: relative; 
  width: 100%;
  min-height: 20vh;
}
.marquee {
  position: absolute;  
  display: flex;  
  top: 50%; 
  transform: translateY(-50%);
  width: 100%;
  align-items: center; 
  overflow: hidden;
  width: fit-content;
  white-space: nowrap;
  gap: var(--size-10); 
  color: var(--color-foreground-primary);
  transition: all 0.5s ease-in-out;
}
.box svg {
  max-height: 100px;
}
.cover { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--color-background-primary) 0% , var(--color-background-transparent) 20% 80%, var(--color-background-primary) 100%);
   
}