---
layout: default
title: Product and UX Designer | Darian Rosebrook
description: I'm Darian, a design consultant who focuses on the intersection of user experience design and branding design. Currently working on redesigning the design process within DevOps and DesignOps.
index_image: /assets/img/index.jpg
sitemap:
lastmod: 2016-11-25
priority: 0.7
changefreq: 'weekly'
exclude: 'no'
---
{% include updates.html %}
{% include hero.html %}
{% include skills.html %}
{% include clients.html %}
{% include work-history.html %}
{% include newsletter.html %}
{% include dribbble.html %}
{% include talks.html %}
{% include design-books.html  %}
{% include podcast.html  %}
