.button {
  --button-gap: var(--size-02);
  --button-text-size: var(--caption-03);
  --min-size: var(--size-07);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--button-gap);
  min-width: var(--min-size);
  max-width: fit-content;
  min-height: var(--min-size);
  max-height: var(--min-size);
  padding: var(--button-gap);
  font-size: var(--button-text-size);
  line-height: var(--line-height-collapse);
  color: var(--color-foreground-inverse);
  background-color: var(--color-background-inverse);
  border: none;
  border-radius: var(--radius-full);
  transition: all 0.3s;
  cursor: pointer;
  all: unset;

  &:disabled {
    color: var(--color-foreground-disabled);
    background-color: var(--color-background-disabled);
    cursor: not-allowed;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--color-background-hover);
  }

  &:focus {
    border-radius: var(--radius-full);
    outline: none;
  }

  &:matches(:focus-visible, :focus) {
    outline: 2px solid var(--color-foreground-accent);
    outline-offset: var(--size-02);
  }

  & + & {
    margin-left: var(--size-04);
  }

  &.small {
    --min-size: var(--size-07);
    --button-text-size: var(--body-04);
  }

  &.medium {
    --button-gap: var(--size-04);
    --min-size: var(--size-07);
    --button-text-size: var(--body-01);
  }

  &.large {
    --button-gap: var(--size-05);
    --min-size: var(--size-08);
    --button-text-size: var(--body-01);
  }

  &.primary {
    color: var(--color-foreground-primary);
    background-color: var(--color-background-accent);
    border: var(--border-weight-default) solid var(--color-border-accent);
  }

  &.secondary {
    color: var(--color-foreground-accent);
    background-color: var(--color-background-secondary);
    border: var(--border-weight-default) solid var(--color-border-accent);

    &:hover {
      color: var(--color-foreground-inverse);
      background-color: var(--color-background-inverse);
      border-color: var(--color-border-bold);
    }
  }

  &.tertiary {
    color: var(--color-foreground-tertiary);
    background-color: var(--color-transparent);
    border: var(--border-weight-default) solid var(--color-border-light);

    &:hover {
      color: var(--color-foreground-primary);
      background-color: var(--color-background-hover);
      border-color: var(--color-border-bold);
    }
  }
}
