@use './Avatar.tokens.generated.scss' as avatarTokens;

.avatar {
  @include avatarTokens.vars;

  position: relative;
  display: inline-block;
  overflow: hidden;
  width: var(--core-size-06);
  height: var(--core-size-06);
  border: var(--semantic-size-border-default) solid
    var(--avatar-color-border-default);
  border-radius: var(--avatar-size-radius-default);

  &:focus-visible {
    outline: var(--semantic-size-border-default) solid
      var(--semantic-color-border-info);
    outline-offset: var(--semantic-size-border-offset);
  }
}

.avatar_small {
  width: var(--core-size-05);
  height: var(--core-size-05);
}

.avatar_medium {
  width: var(--core-size-06);
  height: var(--core-size-06);
}

.avatar_large {
  width: var(--core-size-08);
  height: var(--core-size-08);
}

.avatar_extra-large {
  width: var(--core-size-10);
  height: var(--core-size-10);
}

.avatar_rounded {
  border-radius: var(--avatar-size-radius-default);
}

.avatar_square {
  border-radius: var(--core-radius-small);
}

.avatar_image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatar_initials {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: var(--semantic-color-background-secondary);
  color: var(--semantic-color-foreground-primary);
  font-weight: var(--core-typography-fontWeight-medium);
  font-family: var(--core-typography-fontFamily-sans);
  user-select: none;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: var(--core-size-03);
  height: var(--core-size-03);
  border: var(--semantic-size-border-default) solid
    var(--semantic-color-background-inverse);
  border-radius: var(--core-radius-full);
}

.status_online {
  background: var(--semantic-color-background-successStrong);
}

.status_offline {
  background: var(--semantic-color-border-disabled);
}

.status_away {
  background: var(--semantic-color-background-warningStrong);
}
