@use './Alert.tokens.generated.scss' as alertTokens;

.alert {
  @include alertTokens.vars;

  &.inline {
    display: inline-flex;
    gap: var(--alert-spacing-gap-small);
    align-items: baseline;
    padding: var(--alert-size-inline-padding);
    background-color: var(--alert-color-background-primary);

    &.info {
      color: var(--alert-color-foreground-info);
    }

    &.warning {
      color: var(--alert-color-foreground-warning);
    }

    &.danger {
      color: var(--alert-color-foreground-danger);
    }

    &.success {
      color: var(--alert-color-foreground-success);
    }
  }

  &.section {
    display: grid;
    grid-template-areas: 'icon title body dismiss';
    grid-template-columns: auto auto 1fr auto;
    gap: var(--alert-spacing-gap-small) var(--alert-spacing-gap-medium);
    align-items: baseline;
    padding: var(--alert-size-section-padding);
    background-color: var(--alert-color-background-primary);
    border-radius: var(--alert-size-section-radius);

    &.info {
      background: var(--alert-color-background-info-subtle);
      color: var(--alert-color-foreground-on-info-subtle);
    }

    &.warning {
      background: var(--alert-color-background-warning-subtle);
      color: var(--alert-color-foreground-on-warning-subtle);
    }

    &.danger {
      background: var(--alert-color-background-danger-subtle);
      color: var(--alert-color-foreground-on-danger-subtle);
    }

    &.success {
      background: var(--alert-color-background-success-subtle);
      color: var(--alert-color-foreground-on-success-subtle);
    }
  }

  &.page {
    display: grid;
    grid-template-areas: 'icon title dismiss' 'icon body dismiss';
    grid-template-columns: auto 1fr auto;
    gap: var(--alert-spacing-gap-small) var(--alert-spacing-gap-medium);
    align-items: baseline;
    min-height: var(--alert-spacing-min-height-default);
    margin: 0 -1rem;
    padding: var(--alert-size-page-padding);

    &.info {
      background: var(--alert-color-background-info-strong);
      color: var(--alert-color-foreground-on-color);
    }

    &.warning {
      background: var(--alert-color-background-warning-strong);
      color: var(--alert-color-foreground-on-color);
    }

    &.danger {
      background: var(--alert-color-background-danger-strong);
      color: var(--alert-color-foreground-on-color);
    }

    &.success {
      background: var(--alert-color-background-success-strong);
      color: var(--alert-color-foreground-on-color);
    }
  }

  & + .alert {
    margin-block-start: var(--alert-spacing-margin-top);
  }
}

.icon {
  display: inline-block;
  grid-row: span 2;
  grid-column: span 1;
  grid-column-start: 1;
  width: var(--alert-icon-size);
  height: var(--alert-icon-size);
}

.title {
  grid-area: title;
  grid-row: span 1;
  grid-column: span 1;
  grid-column-end: -2;
  font-weight: var(--alert-typography-title-font-weight);
  font-size: var(--alert-typography-title-font-size);
}

.body {
  grid-area: body;
  grid-row: span 1;
  grid-column: span 1;
  grid-column-start: 2;
  font-size: var(--alert-typography-body-font-size);
}

.dismiss {
  display: inline-block;
  grid-area: dismiss;
  grid-row: span 2;
  grid-column: span 1;
  grid-column-end: -1;
  cursor: pointer;
}
