//-- Architecture --
body
  padding: 0 1rem
main
  display: grid
  margin: 0 auto
  grid-template-columns: repeat(5, 1fr )
  grid-gap: var(--gap)
  align-items: start

  grid-template-areas: "ud ud ud ud ud" "he he he he he" "sk sk pc pc pc" "sk sk wh wh wh" "nl nl nl nl nl" "dw dw dw dw dw" "vd vd vd vd vd" "pd pd pd pd pd" "bk bk bk bk bk" "ct ct ct ct ct" "ft ft ft ft ft"
.f-r, .f-l
  float: none
//-- Framing --
.container, section
  position: relative
  grid-column: 1 / span 5
  padding: 1rem 0
  border-bottom: 1px solid var(--grey)
.callout, blockquote
  grid-column: 1 / span 5
  padding: 1rem
  background: var(--grey)

.row
  position: relative
  margin: auto
  height: 100%
  .row-head
    padding: 1rem 0
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    p
      display: flex
      justify-content: space-between

.module
  vertical-align: top
  display: inline-block
  margin-bottom: 1rem

.grid
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-gap: var(--gap)
  &.by-2
    grid-template-columns: repeat(2, 1fr)
  &.by-3
    grid-template-columns: repeat(3, 1fr)
  &.by-4
    grid-template-columns: repeat(4, 1fr)
  &.by-5
    grid-template-columns: repeat(5, 1fr)


  .logo
    max-width: 16px
    margin-right: .3rem
    margin-bottom: -.2rem
  h4
    font-size: 1.4rem
  img
    // width: 10rem
  &.clients
    grid-template-columns: 1fr 1fr
    align-items: center
    justify-content: space-between
    svg
      width: 80%
      fill: var(--foreground)


header
  padding-top: 2rem
  .head-content
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-areas: "a b b c" "d e f g"
    p:nth-of-type(1)
      grid-area: a
    p:nth-of-type(2)
      grid-area: d
    p:nth-of-type(3)
      grid-area: e
    p:nth-of-type(4)
      grid-area: f
    p:nth-of-type(5)
      grid-area: g
    p:nth-of-type(6)
      grid-area: c
    h4
      grid-area: b

.skills
  grid-column: span 2
  grid-area: sk

.work-history
  grid-column: 3 / span 3
  grid-area: wh
  .grid
    grid-template-columns: repeat(1, 1fr)
    .linked-block
      display: block
    img:not(.logo)
      display: inline
      margin-right: 1rem
      max-width: 30%
    .module
      display: inline-block
      width: calc(60% - 1rem)

.previous-clients
  grid-column: 3 / span 3
  grid-area: pc

.updates
  grid-area: ud

.newsletter
  grid-area: nl
  h4, h4 i
    font-size: 3rem
    align-self: start
.design-work
  grid-area: dw
  .module
    img
      float: left
      width: 30%
      margin-right: 1rem

.video
  grid-area: vd

.podcast
  grid-area: pd
  .grid
    display: block
    margin-bottom: 1rem
    img
      width: 55%

  h3
    font-size: 4rem

.books
  grid-area: bk
  .logo
    margin-bottom: -.8rem
  .book-content
    h3
      font-size: 4rem
    h4
      display: inline
      width: fit-content
  .grid-item
    img
      display: block
      max-width: 140px
      margin: 0 auto
    span
      font-family: "Crimson Pro"
      font-size: 4rem
      font-weight: 300
    h4
      font-size: 3rem
.footer
  grid-area: ft
.update
  font-size: 1.2rem
// -- Structure --
header
  border-bottom: 2px solid var(--tertiary)
  .head-content
    text-align: center
    border-bottom: 1px solid var(--grey)
    a
      color: var(--foreground)
.hero
  position: relative
  grid-column: 1 / span 5
  grid-area: he
  border-bottom: 1px solid var(--grey)
  p
    width: 100%
  h1
    width: 100%
    padding: .45rem 0
    line-height: 1.15
    // padding: .1rem .45rem
    margin-left: -.45rem
    span
      // background: var(--background)
      // display: inline
      // padding: .1rem 0
      // box-decoration-break: clone
      // --webkit-box-decoration-break: clone
      //
      // border-radius: .3rem
ul
  list-style: none
  margin-bottom: 1rem
  &.title-list
    font-family: "Crimson Pro", serif
    font-weight: 200
    line-height: 1.2
    font-size: 1.4rem
    li
      margin-bottom: 0.5rem
nav
  padding: 2rem 0
  font-family: sans-serif
  width: 100%
  color: var(--tertiary)
  display: flex
  justify-content: space-between
  &.nav a
    color: var(--tertiary)
  ul
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    width: 90%
    li
      width: calc(50% - 2.3rem)
      margin-right: 2rem
      margin-bottom: 2rem

hr
  border: 2px solid var(--highlight)
  width: 65%
  margin: .5rem auto

a.block-link
  display: block

.linked-block
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-gap: var(--gap)
  align-items: center
  width: 100%
  p:first-of-type
  p:nth-of-type(2)
    margin: 0
    grid-column: 2 / span 2
    small strong
      color: var(--tertiary)
  h4, h3
    color: var(--foreground)
    grid-column: 4 / span 7
    margin: 0


//-- Responsive Restructuring --
@media (min-width: 1000px)

  body.main
    padding: 0 10rem
  main
    grid-template-columns: 2rem repeat(5, 1fr ) 1rem
    grid-template-areas:  ". ud ud ud ud ud ." ". he he he he sk ." ". he he he he pc ." ". wh wh wh wh wh ." "nl nl nl nl nl nl nl" ". dw dw dw dw dw ." ". vd vd vd vd vd ." ". pd pd pd pd pd ." "bk bk bk bk bk bk ." ". ct ct ct ct ct ." ". ft ft ft ft ft ."

  .f-r
    float: right
    margin-left: 3rem
  .f-l
    float: left
    margin-right: 3rem

  .grid
    grid-template-columns: repeat(5, 1fr)

    .grid-item
      border-right: 1px solid var(--grey)
      margin-right: -.5rem
      padding-right: 1.5rem
      &:nth-of-type(1n + 4)
        display: inline-block
      &:first-of-type
        padding-left: 0
      &:nth-of-type(5n + 5)
        border-right: none
      &:nth-of-type(5n + 6)
        padding-left: 0
      & ~ .grid-item:last-of-type
        padding-right: 0
        margin-right: 0
        border-right: none
  .linked-block
    display: block
  header
    .head-content
      grid-template-areas: unset
      grid-template-columns: repeat(7, 1fr)
      flex-direction: row
      justify-items: center
      text-align: center
      align-items: center
      border-bottom: 1px solid var(--grey)
      p:nth-of-type(1n)
        grid-area: unset
      h4
        grid-area: unset
    nav
      justify-content: center

      ul
        width: auto
        justify-content: center
        li
          width: auto
  .container
    grid-column: 2 / span 5
  .callout, blockquote
    grid-column: 1 / span 7
    padding: 2rem
  blockquote
    grid-column: 2 / span 2
    & + p
      grid-column: 4 / span 3
  .row
    .row-head
      flex-direction: row
      p
        width: auto
        display: inline-block
  .module
  .hero
    grid-column: 2/6
    padding-right: 1.5rem
    margin-right: -.5rem
    border-right: 1px solid var(--grey)
    .module
      width: 100%
    figure
      width: calc(75% - 2rem)
  .skills
    padding-left: 1rem
  .work-history
    .grid
      grid-template-columns: repeat(4, 1fr)
      img:not(.logo)
        display: inline-block
        width: 40%
        max-width: 250px
        float: left
        margin-right: 1rem
  .newsletter
    .module
      display: grid
      grid-template-columns: 1fr 9fr 10fr
      gap: var(--gap)
      align-items: center
  .design-work
    .module
      img
        float: none
        width: 80%

  .podcast
    .grid
      display: grid

  .books
    .row
      .row-head
        margin-left: 3rem
      article
        display: grid
        grid-template-columns: 1rem repeat(5, 1fr)
        gap: 1.5rem

      .module.callout
        padding: 0
        grid-column: span 3
        & ~ .module
          grid-column: 4 / span 3
        .book-content
          padding: 3rem
      .grid
        grid-template-columns: repeat(3, 1fr)
  .block-link
    display: inline-block
  nav
    align-items: baseline
    ul
      flex-direction: row
      margin-left: 1rem
