\:root
  --main: #323149
  --secondary: #fff
  --tertiary: #333
  --highlight: #da2649
  --highlight-2: #5f935f
  --highlight-3: #494768
  --dark: #101010
  --light: #f2f2f2
  --grey: #3c3c3c
  --transition: all ease .25s
  --margin: 1.5rem
  --line: 1.3em
$main: #343149
$secondary: #fff
$tertiary: #333
$highlight: #eb244a
$highlight-2: #5f935f
$highlight-3: #494768
$dark: #101010
$light: #f2f2f2
$grey: #3c3c3c
$transition: all ease .25s
$margin: 1.5rem
$line: 1.3em
@media (prefers-color-scheme: dark)
  \:root
    --main: #fff
    --secondary: #1b1d1c
    --tertiary: #ebebeb
    --highlight: #ea5252
    --highlight-2: #5f935f
    --highlight-3: #494768
    --dark: #fafafa
    --light: #1b1d1c
    --grey: #ddd
    --transition: all ease .25s
    --margin: 1.5rem
    --line: 1.3em
