<section id="contact" class="ender">
  <div class="about">
  <img src="https://36.media.tumblr.com/ac28738f8ab075042aa116888043db43/tumblr_o0mznhkNPo1ujvdipo4_r2_1280.jpg" alt="A picture of Darian, Sara and their son Atlas. Taken on a really awesome hike to Mt Rainer">
  <p>I'm Darian Rosebrook, a designer north of Seattle. I specialize in helping people and businesses define their brand with web design, logo design, and user experience.</p>
  <a href="soon.html"><button type="button" name="button" class="secondary btn">View More</button></a>
</div>
<div class="contact cf" id="form">
  <h2>Let's Get in Contact</h2>
  <form action="//formspree.io/darian@darianrosebrook.com"
    method="POST">
    <input type="text" name="name" placeholder="Your Name..." class="transition enter text-center" required>
    <input type="email" name="_replyto" placeholder="Your Email..." class="transition enter text-center" required>
    <textarea name="message" placeholder="Your Message..." class="transition enter text-center" required></textarea>
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" class="btn highlight" value="Submit!">
  </form>
  <h2>Or find me here:</h2>
  <h2><a href="http://twitter.com/d_evyn" target="_blank"><i class="fa fa-twitter transition"></i></a> |
   <a href="http://linkedin.com/in/darianrosebrook" target="_blank"><i class="fa fa-linkedin transition"></i></a> |
   <a href="http://dribbble.com/d_evyn" target="_blank"><i class="fa fa-dribbble transition"></i></a></h2>
</div>
</section>
