<article class="hero row">
  <div class="row-head">
    <h2>Product &amp; UX Designer</h2>
    <p><small><strong>Find me Here: </strong></small>
      <a href="http://medium.com/@darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Medium"><i class="fab fa-medium-m transition"><span>Link to Medium</span></i></a>
      <a href="http://dribbble.com/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Dribbble"><i class="fab fa-dribbble transition"><span>Link to Dribbble</span></i></a><a
        href="http://www.facebook.com/DarianRosebrook/" class="hidden">facebook page</a><a href="https://plus.google.com/u/1/106679625106063278529" class="hidden">Google page</a>
      <a href="http://instagram.com/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Instagram"><i class="fab fa-instagram transition"><span>Link to Instagram</span></i></a>
      <a href="http://youtube.com/compassofdesign" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To YouTube"><i class="fab fa-youtube transition"><span>Link to YouTube</span></i></a>
      <a href="http://linkedin.com/in/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Linkedin"><i class="fab fa-linkedin transition"><span>Link to Linkedin</span></i></a>
      <a href="http://twitter.com/darianrosebrook" class="social-link" rel="noreferrer" target="_blank" aria-label="Link To Twitter"><i class="fab fa-twitter transition"><span>Link to Twitter</span></i></a>
    </p>
  </div>
  <article class="row">
    <div class="module">
      <figure class="f-r cf">
        <img loading="lazy" src="{{site.baseurl}}/assets/img/darian-rosebrook-portrait.jpg" alt="Professional headshot of product designer, Darian Rosebrook. Seattle, WA 2019">
        <figcaption>
          <h6>Product Designer, Darian Rosebrook. Seattle, WA. 2019</h6>
          <p><a href="{{site.baseurl}}/now">See more <i class="fa fa-arrow-right"><span>Click to see more</span></i></a></p>
        </figcaption>
      </figure>
      <h1 class="name"><span>Hey there! I'm Darian Rosebrook, a product designer that helps businesses design better UX & Brand Experiences. </span></h1>
      <p>I work as a digital product designer in the Seattle area. Here, I utilize my consulting background in user experience design and brand identity design to create better experiences people have with products they love.<p>

          <p>I am currently working with Microsoft's Edge team doing DesignOps work in developer experiences, helping redefine the product and rework our product design process.</p>


    </div>

  </article>
</article>