<section id="mailchimp" class="container">
  <div class="row">
    <img src="/assets/img/icon-writing.svg" alt="Icon specifically for the topic of Articles" />
    <form action="//darianrosebrook.us13.list-manage.com/subscribe/post?u=a07a903f524e927147f352cce&amp;id=26c10fe3eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row" target="_blank" novalidate>
      <h4><label for="mce-EMAIL">Get early access to the articles and other branding tips from my newsletter:</label></h4>
      <p>Every Thursday I send out a newsletter with thoughts and links to the research for upcoming articles. I cover topics such as: growth hacking, brand improvement, and web design.</p>
      <input type="email" value="" name="EMAIL" class="email-signup" id="mce-EMAIL" placeholder="email address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a07a903f524e927147f352cce_c3c042d588" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button email-signup">
    </form>
  </div>
</section>
