<section id="mailchimp" class="container">
  <div class="row">
    <img src="/assets/img/posts/study/compass/cod-avatar.svg" alt="Icon specifically for the topic of Articles" />
    <form action="//compassofdesign.us13.list-manage.com/subscribe/post?u=a07a903f524e927147f352cce&amp;id=814c64ab15&SIGNLOCATE=personalsite" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row" target="_blank" novalidate>
      <h4><label for="mce-EMAIL">Join the Compass of Design Newsletter</label></h4>
      <p>Every Thursday I send out a newsletter with detailed tips on how to level up in design. Subscribers also get access to the Compass of Design Community. This grants them the ability to contribute their ideas, discuss the topic, and help others learn and grow too. And as I continue to grow this list, I'll continue to grow the resources available for those who sign up.</p>
      <p>By signing up below, you're going to be taken through the sign up flow on the <a href="https://compassofdesign.com/">Compass of Design</a> website.</p>

      <div class="mc-field-group">
	<input type="text" value="" name="FNAME" class="email-signup" id="mce-FNAME" placeholder="first name" required>
  <input type="email" value="" name="EMAIL" class="email-signup" id="mce-EMAIL" placeholder="email address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a07a903f524e927147f352cce_c3c042d588" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button email-signup">
    </form>
  </div>
</section>
