<header>
  <article class="head-content">
    <p class="darian"><svg width="32" height="25" viewBox="0 0 32 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.5 1L23 8L31 9L21.5 1Z" fill="#FF616A" stroke="#1A1B1C" stroke-linejoin="round"/>
<path d="M21.5 1L23 8M31 9L23 8M16 24V10M1 9L9 8M10.5 1L9 8M9 8L16 10M16 10L23 8" stroke="#1A1B1C" stroke-linejoin="round"/>
<path d="M23 8L16 10V24L31 9L23 8Z" fill="#963131" stroke="#1A1B1C" stroke-linejoin="round"/>
<path d="M9 8L10.5 1H21.5L23 8L16 10L9 8Z" fill="#E73C3E" stroke="#1A1B1C" stroke-linejoin="round"/>
<path d="M1 9L9 8L16 10V24L1 9Z" fill="#D14345" stroke="#1A1B1C" stroke-linejoin="round"/>
<path d="M9 8L10.5 1L1 9L9 8Z" fill="#E74B4C" stroke="#1A1B1C" stroke-linejoin="round"/>
<path d="M31 9L21.5 1H10.5L1 9L16 24L31 9Z" stroke="#1A1B1C" stroke-width="2" stroke-linejoin="round"/>
</svg>

</p>
    <p><small><i class="far fa-briefcase"><span>Occupation:</span> </i> Product Designer</small></p>
    <p><small><i class="far fa-globe"><span>Location:</span> </i> Seattle, Wa</small></p>
    <h4 alt="Darian Rosebrook" class="sitename"><a href="/">Darian Rosebrook</a></h4>
    <p><small><i class="far fa-clock"><span>Age:</span> </i> {{ site.time | date: '%Y' | minus:1992 }}yo</small></p>
    <p><small><i class="far fa-user"><span>Age:</span> </i> He/Him</small></p>

    <p class="darian">
      <img loading=" lazy" src="/assets/img/darian-rosebrook-avatar.jpg" alt="Darian Rosebrook's avatar" class="avatar">
    </p>
  </article>
  <nav class="nav">
    <i class="far fa-address-card"><span>Site Navigation:</span> </i>
    <ul>
      {% if page.url != '/' %}
      <li><a href="/">Home</a></li>
      {% endif %}
      <li><a href="/work">Design Work</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/talks">Speaking</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/now">Updates</a></li>
      <li><a href="#contact" class="scrollBtn ">How to Contact</a></li>
    </ul>
  </nav>
  <!-- <article class="social-links">
    <i class="far fa-link"><span>Site Navigation:</span> </i>
    <ul>
      <li><a href="/#">Twitter</a></li>
      <li><a href="/#">Instagram</a></li>
      <li><a href="/#">Linkedin</a></li>
      <li><a href="/#">Dribbble</a></li>
      <li><a href="/now">Medium</a></li>
      <li><a href="#contact" >Youtube</a></li>
    </ul>

  </article>
  <article class="downloads">
    <i class="far fa-file-pdf"><span>Downloads:</span> </i>
    <ul>
      <li><a href="/#">Resume</a></li>
    </ul>

    <i class="far fa-spider"><span>Bugs:</span> </i>
    <ul>
      <li><a href="/#">Report a bug!</a></li>
    </ul>

  </article> -->
</header>
