<header>
  <article class="head-content">
    <p><img loading="lazy" src="/android-icon-144x144.png" alt="Darian Rosebrook Logo" class="logo"></p>
    <p><small><i class="far fa-briefcase"><span>Occupation:</span> </i> Product &amp; UX Designer</small></p>
    <p><small><i class="far fa-globe"><span>Location:</span> </i> Seattle, Wa</small></p>
    <h4 alt="Darian Rosebrook" class="sitename"><a href="/">Darian Rosebrook</a></h4>
    <p><small><i class="far fa-clock"><span>Age:</span> </i> {{ site.time | date: '%Y' | minus:1992 }}yo</small></p>
    <p><small><i class="far fa-user-circle"><span>Pronoun: </span></i> He/Him</small></p>
    <p><img loading="lazy" src="/assets/img/darian-rosebrook-avatar.jpg" alt="Darian Rosebrook's avatar" class="avatar"></p>
  </article>
  <nav class="nav">
    <i class="far fa-address-card"><span>Site Navigation:</span> </i>
    <ul>
      <li><a href="/work">Design Work</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/talks">Speaking</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/now">Updates</a></li>
      <li><a href="#contact" class="scrollBtn ">How to Contact</a></li>
    </ul>
  </nav>
  <!-- <article class="social-links">
    <i class="far fa-link"><span>Site Navigation:</span> </i>
    <ul>
      <li><a href="/#">Twitter</a></li>
      <li><a href="/#">Instagram</a></li>
      <li><a href="/#">Linkedin</a></li>
      <li><a href="/#">Dribbble</a></li>
      <li><a href="/now">Medium</a></li>
      <li><a href="#contact" >Youtube</a></li>
    </ul>

  </article>
  <article class="downloads">
    <i class="far fa-file-pdf"><span>Downloads:</span> </i>
    <ul>
      <li><a href="/#">Resume</a></li>
    </ul>

    <i class="far fa-spider"><span>Bugs:</span> </i>
    <ul>
      <li><a href="/#">Report a bug!</a></li>
    </ul>

  </article> -->
</header>