
<header>
  <article class="head-content">
    <p><img loading="lazy" src="/android-icon-144x144.png" alt="Darian Rosebrook Logo" class="logo"></p>
    <p><small>Product and UX Designer</small></p>
    <p><small><i class="far fa-globe"><span>Location:</span> </i> Seattle, Wa</small></p>
    <h4 alt="Darian Rosebrook" class="sitename"><a href="/">Darian Rosebrook</a></h4>
    <p><small><i class="far fa-clock"><span>Age:</span> </i> {{ site.time | date: '%Y' | minus:1992 }}yo</small></p>
    <p><small><i class="far fa-user-circle"><span>Pronoun: </span></i> He/Him</small></p>
    <p><img loading="lazy" src="/assets/img/darian-rosebrook-avatar.jpg" alt="Darian Rosebrook's avatar" class="avatar"></p>
  </article>
  <nav class="nav">
    <ul>
      <li><a href="/#">Design Work</a></li>
      <li><a href="/#">Writing</a></li>
      <li><a href="/#">Speaking</a></li>
      <li><a href="/#">About Me</a></li>
      <li><a href="/now">Updates</a></li>
      <li><a href="#contact" class="scrollBtn ">How to Contact</a></li>
    </ul>
  </nav>
</header>
