<p>What kind of project would you like to work on?</p>
<p><small>(Yes, you can select more than one.)</small></p>
<input type="checkbox" class="hidden" data-continue="true" id="checkbox-webdesign" name="checkbox-webdesign" value="">
<input type="checkbox" class="hidden" data-continue="true" id="checkbox-branding" name="checkbox-branding" value="">
<input type="checkbox" class="hidden" data-continue="true" id="checkbox-ux" name="checkbox-ux" value="">
<input type="checkbox" class="hidden" id="checkbox-hello" name="checkbox-hello" value=""><br>
<label class="transition" for="checkbox-webdesign"><img src="{{site.baseurl}}/assets/icon-webdesign.svg" alt="" /><p>
  Web Design
</p></label>
<label class="transition" for="checkbox-branding"><img src="{{site.baseurl}}/assets/icon-logodesign.svg" alt="" /><p>
  Let's do some Branding!
</p></label>
<label class="transition" for="checkbox-ux"><img src="{{site.baseurl}}/assets/icon-ux.svg" alt="" /><p>
  User Experience!
</p></label>
<label class="transition" for="checkbox-hello"><img src="{{site.baseurl}}/assets/icon-hello.svg" alt="" /><p>
  I'm just saying hello!
</p></label>
<p class="questionnaire-part-1 continue project">
  Alright! In order for me to focus and deliver
the best possible solution for you and your organization, I just need a little more information. I must be very
selective about the projects that I take on.
Providing detailed information about your project
allows me to better understand your needs
and begin our conversation about your organization's goals.
</p>
<div class="continue project questionnaire-part-2">
  <p> What is the name of your business or the company you work for?</p>
</div>
<input type="text" name="name" class="transition enter text-center continue project"value="">
<div class="continue project questionnaire-part-3">
  <p> What is a good phone number to reach you at?</p>
</div>
<div class="continue project questionnaire-part-4">
  <p> Do you have an existing website? I&lsquo;d love to see it!</p>
  <input type="text" name="name"class="transition enter text-center continue project" value="">
</div>
<div class="continue project questionnaire-part-5">
<p> What is it that your organization does and what excites you most about it?</p>
</div>
<div class="continue project questionnaire-part-6">
  <p> What are some of the important goals your organization has over the next few years?</p>
</div>
<div class="continue project questionnaire-part-7">
  <p> How will design help accomplish those goals as an organization?</p>
</div>
<div class="continue project questionnaire-part-8">
  <p> Who is the audience you are trying to reach?</p>
</div>
<div class="continue project questionnaire-part-">
  <p> How do you currently establish your organization's relationship with those people?</p>
</div>
