<p>What kind of project would you like to work on?</p>
<p><small>(Yes, you can select more than one.)</small></p>
<input type="checkbox" class="hidden" data-continue="true" id="checkbox-webdesign" name="checkbox-webdesign" value="" required>
<input type="checkbox" class="hidden" data-continue="true" id="checkbox-branding" name="checkbox-branding" value="" required>
<input type="checkbox" class="hidden" data-continue="true" id="checkbox-ux" name="checkbox-ux" value="" required>
<input type="checkbox" class="hidden" id="checkbox-hello" name="checkbox-hello" value="" required><br>
<label class="transition" for="checkbox-webdesign"><img src="{{site.baseurl}}/assets/icon-webdesign.svg" alt="" /><p>
  Web Design
</p></label>
<label class="transition" for="checkbox-branding"><img src="{{site.baseurl}}/assets/icon-logodesign.svg" alt="" /><p>
  Let's do some Branding!
</p></label>
<label class="transition" for="checkbox-ux"><img src="{{site.baseurl}}/assets/icon-ux.svg" alt="" /><p>
  User Experience!
</p></label>
<label class="transition" for="checkbox-hello"><img src="{{site.baseurl}}/assets/icon-hello.svg" alt="" /><p>
  I'm just saying hello!
</p></label>
<p class="questionnaire-part-1 continue project">
  Alright! In order for me to focus and deliver
the best possible solution for you and your organization, I just need a little more information. This takes a very short amount of time and allows me to keep your organization's audience and goals at the forefront of the design.
</p>
<div class="continue project questionnaire-part-2">
  <p> What is the name of your business or the company you work for?</p>
  <input type="text" name="message" class="transition enter text-center"value="" placeholder="e.g. (Avenue Editorial, Inc.)">
</div>
<div class="continue project questionnaire-part-3">
  <p> What is a good phone number to reach you at?</p>
  <input type="text" name="message" class="transition enter text-center"value="" placeholder="e.g (+1 360 555 555)">
</div>
<div class="continue project questionnaire-part-4">
  <p>Does your organization have a website? I'd love to see it!</p>
  <input type="text" name="message" class="transition enter text-center"value="" placeholder="http://...">
</div>
<div id="special" class="continue project questionnaire-part-5">
<p> What does your organization do and what excites you most about it?</p>
<textarea name="message" class="transition enter text-center " required placeholder="What makes you guys unique?"></textarea>
</div>
<div class="continue project questionnaire-part-6">
  <p> How will design help accomplish your goals as an organization?</p>
  <textarea name="message" class="transition enter text-center " required placeholder="What looks like success for you?"></textarea>
</div>
<div class="continue project questionnaire-part-7">
  <p> Who is the audience you are trying to reach?</p>
  <input type="text" name="message" class="transition enter text-center"value="" placeholder="e.g. (middle aged adults who haven't given up being a teenager)">
</div>
