<section class=" container testimony-container">
  <div id="testimony" class="row">
    <h3 class="hidden">Testimonies</h3>
    <article class="person">
      <h3>Who I've worked with&#8230;</h3>
      {% for post in site.categories.testimony %}
      <div class="row">
        <div>
          <div class="circle"><img src="{{site.baseurl}}/assets/img/testimonials/{{post.img}}" alt="{{post.who}}" /></div>
          <h4><a href="{{post.where}}" target="_blank">{{post.who}}</a></h4>
          <p class="Occupation">{{post.occupation}}</p>
          {{post.content}}
        </div>
        <div>
          <blockquote cite="">
            &ldquo; {{post.testimony}} &rdquo;
          </blockquote>
        </div>
      </div>
      <br /> <br />
      {% endfor %}
    </article>
  </div>
</section>
