<section class="container twitter">
  <article class="row">
    <a id="twitter-timeline" class="twitter-timeline" href="https://twitter.com/darianrosebrook?ref_src=twsrc%5Etfw" data-chrome="transparent" data-tweet-limit="10">Tweets by darianrosebrook</a>
    <script>
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          var twitterTimeline = document.getElementById('twitter-timeline');
          twitterTimeline.setAttribute('data-theme', 'dark');
      }
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  </article>
</section>
