<section class="books ">
  <article class="row">
    <div class="row-head">
      <h2>Writing</h2>
      <p><a href="{{site.baseurl}}/writing">See more <i class="fa fa-arrow-right"><span>Click to see all Darian's writing</span></i></a></p>
    </div>
    <article class="">
      <div class="module callout">
        <img loading="lazy" src="{{site.baseurl}}/assets/img/books/by-design.png" alt="Done By Design, a book that dives into the world of the deliberately decided from a design perspective">
        <div class="book-content">
          <h3>Invisible By Design</h3>
          <p>It probably swept right past you and you never even noticed it. That's the point. The greatest designs are invisible.</p>
          <p>Invisible by design celebrates the subtle choices that make great design pass right under our noses. It's easy to make something great, it's the sign of a master to make something great invisible.</p>

          {% include compass-of-design-logo.svg %}<h4>&mdash;Compass of Design</h4>
        </div>
      </div>
      <div class="module grid">
        {% for post in site.categories.books reversed %}
        <div class="grid-item">
          <p><span>{{ forloop.index }}</span></p>
          <img src="{{site.baseurl}}{{post.index_image}}" alt="">
          <p> <small>Coming in {{post.release}}</small> </p>
          <h4>{{post.title}}</h4>
        </div>
        {% endfor %}
        <div class="grid-item">
          <p><span>4</span></p><img src="/assets/img/books/tbd.png" alt="">
          <p> <small>TBD</small> </p>
          <h4>TBD</h4>
        </div>
        <div class="grid-item">
          <p><span>5</span></p><img src="/assets/img/books/tbd.png" alt="">
          <p> <small>TBD</small> </p>
          <h4>TBD</h4>
        </div>
        <div class="grid-item">
          <p><span>6 </span></p><img src="/assets/img/books/tbd.png" alt="">
          <p> <small>TBD</small> </p>
          <h4>TBD</h4>
        </div>
      </div>

    </article>
  </article>
</section>