---
layout: default
title: What am I up to now? | Darian Rosebrook
description: If you're curious about what I'm currently doing or what I've just recently done, check out this page. Kind of a log of sorts that shows what I've been up to recently.
img:
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---
<section class="container">
<article class="row">
  <h4><a href="/"><i class="fa fa-arrow-left"><span>Main menu,</span></i> Head Back</a></h4>
</article>
</section>
<header id="hero" class="container">
  <article class="row">
    <div class="module">
    <h1>About</h1>
    <h4>My name is Darian Rosebrook, I'm a branding designer</h4>
      <p class="desktop">I've been consistently building out two side projects:</p>
      <ul>
        <li><strong><a href="https:/compassofdesign.com">Compass of Design</a></strong> &mdash; a designer community</li>
        <li><strong><a href="https:/somagnetic.com">So Magnetic</a></strong> &mdash; a branding design agency</li>
      </ul>
      <p>On top of that, I do a lot of teaching and fun things across the internet and in the offline world. Here you'll see updates on all of that as they happen.</p>
    </div>
    <div class="module">
      <img src="/assets/img/darian-now.png" alt="Darian Rosebrook, a designer who focuses on websites and branding projects for companies." />
    </div>
  </article>
  <article class="row">
    <blockquote class="mobile">&ldquo;Since the early stages of 2015, Darian Rosebrook has worked for over 2000 hours building a legacy for his family with design. His creative eye has been guiding brands with Brand Identity design and Web Design for over a year. As a dedicated single father, his understanding of how to seek out knowledge and come up with creative solutions drove his passion for parenting as well as design. Darian is always looking for ways to improve and build recognizable brands and user centered websites.&rdquo;</blockquote>
    <p>Though I have done simple versions of design of work before, I started taking design seriously in August 2015. There were plenty occupations that I had experience doing, and a large portion did not directly relate to doing websites or branding for businesses. My only solution to my lack of history was to get education and practice.</p>
    <p>I started by asking around where people had been learning how to do what they do. Though I kept hearing that I just "need to start", my initial plan was to get some of the ball rolling as soon as possible. To do this, I enrolled into a 3 month long certification course.</p>
    <p>After starting this hustle, I eventually acquired a handful of mentors, people who could keep me on task and motivated. For me to be able to get done what I needed to do during the day, I needed more time. After a while, I had to forgo some things to be able to keep my learning and projects going, sacrificing one of the more important human needs. Sleep. <a href="{{site.baseurl}}/archive/handling-expectational-debt-and-falling-behind/"> A look into this journey</a> of <a href="{{site.baseurl}}/archive/Update-On-2016-Goals/">being a web designer as a full time parent.</a></p>
  </article>
</header>
<section class="container">
  <article class="row">
    <h2>What am I up to nowadays?</h2>

    <h6>Do you want just my updates or the articles?</h6>
    <p>Filter them by type</p>
    <p><select class="filter" name="filter" id="filter">
      <option value="">Filter All</option>
      <option value="article">Articles</option>
      <option value="update">Updates</option>


    </select></p>
    <div class="grid">
    <div data-type="update" class="grid-item list-item" id="compass-community-site">
      <p><small>12 Nov 2017 - Present</small></p>
      <hr>
      <h4>Building the Compass of Design Community app</h4>
      <p >This project has been a huge step in what I'm able to achieve as the sole person on a project. This product utilizes my knowledge in UX Design, UI Design, and Back End Development by wrapping all of those together into one product. The Compass of Design Membership Site. This platform is going to be a powerhouse in helping designers get actionable feedback on questions they have and designs they've done. So far, there hasn't been a site that effectively does this without it becoming a popularity contest. Our goal here is to change the way we do design feedback!</p>
    </div>
{% for post in site.categories.post%}
      <div data-type="{{post.type}}" class="grid-item list-item" id="{{post.specific}}">
        <p><small>{{post.date | date_to_string }}</small></p>
        <hr>
        <h4>{{post.title}}</h4>
        <h6>{{post.type | capitalize}}</h6>
        <div>{% if post.type contains "update" %}{{post.content}}</div>{% else %}{{post.description}}</div><p><a href="{{post.link_to}}" target="_blank">See the article</a></p>{% endif %}
      </div>
  {% endfor %}
</div>
</article>
</section>
