---
layout: default
title: What am I up to now? | Darian Rosebrook
description: If you're curious about what I'm currently doing or what I've just recently done, check out this page. Kind of a log of sorts that shows what I've been up to recently.
img:
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---
<header id="hero" class="index-header">
  <div class="info">
    <h1>What have I been up to recently?</h1>
    <h2>My name is Darian Rosebrook, I'm a branding designer</h2>
    <p class="desktop">I've been consistently building out two side projects:</p>
    <ul>
      <li><strong><a href="https:/compassofdesign.com">Compass of Design</a></strong> &mdash; a designer community</li>
      <li><strong><a href="https:/somagnetic.com">So Magnetic</a></strong> &mdash; a branding design agency</li>
    </ul>
    <p>On top of that, I do a lot of teaching and fun things across the internet and in the offline world. Here you'll see updates on all of that as they happen.</p>
  </div>
  <img src="/assets/img/darian.png" alt="Darian Rosebrook, a designer who focuses on websites and branding projects for companies." />
</header>
<section class="container">
<h2>What I've been up to</h2>

</section>
{% for post in site.categories.updates%}
  {% capture update %}{% cycle '1', '2', '3', '4'  %}{% endcapture %}
  {% if update == '1' %}<section class="container">{% endif %}
      <div class="grid-item">
            <p>{{post.date | date_to_string }}</p>
            <h4>{{post.title}}</h4>
            <p>{{post.content}}</p>
        </div>
    {% if update == '4' or forloop.last %}</section>{% endif %}
  {% endfor %}
