[data-ds-component="CodeBlockComponent"] {
  select {
    margin-bottom: 8px;
    padding: 4px 6px;
    background: var(--semantic-color-background-secondary);
    border: 1px solid var(--semantic-color-border-primary);
    border-radius: var(--core-shape-radius-medium);
    color: var(--color-text-primary);
  }

  pre {
    overflow-x: auto;
    padding: var(--core-spacing-size-04);
    background: var(--semantic-color-background-tertiary);
    border: 1px solid var(--semantic-color-border-primary);
    border-radius: var(--core-shape-radius-medium);
  }
}
