a:has(.post) {
  text-decoration: none !important;
}

.post {
  margin-bottom: var(--size-06);
  padding: var(--size-06);
  background-color: var(--color-background-primary);
  border: var(--border-weight-thin) solid var(--color-border-light);
  border-radius: var(--radius-02);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-background-secondary);
    border-color: var(--color-border-accent);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: var(--size-05);
  margin-bottom: var(--size-05);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: var(--size-03);

  & > p,
  & > p + p {
    margin: 0;
    line-height: 1;
  }
}

.displayName {
  margin: 0;
  font-size: var(--body-02);
  font-weight: var(--font-weight-semibold);
  color: var(--color-foreground-primary);
}

.handle {
  margin: 0;
  font-size: var(--body-03);
  color: var(--color-foreground-secondary);
}

.timestamp {
  margin-left: auto;
  font-size: var(--body-03);
  color: var(--color-foreground-secondary);
}

.content {
  margin-bottom: var(--size-05);
  font-size: var(--body-02);
  line-height: var(--line-height-body);
  white-space: pre-wrap;
  color: var(--color-foreground-primary);
}

.video,
.image,
.audio {
  display: block;
  width: 100%;
  height: auto;
  margin-top: var(--size-05);
  border-radius: var(--radius-02);
}

.footer {
  display: flex;
  gap: var(--size-07);
  font-size: var(--body-03);
  color: var(--color-foreground-secondary);
}

.stats {
  display: flex;
  gap: var(--size-07);
}

.stat {
  display: flex;
  align-items: center;
  gap: var(--size-03);
  padding: var(--size-02) var(--size-04);
  font-size: var(--body-03);
  color: var(--color-foreground-secondary);
  background: none;
  border: 2px solid var(--color-border-light);
  border-radius: var(--radius-full);
  transition: color 0.2s ease;
  cursor: pointer;

  svg {
    width: var(--size-06);
    height: var(--size-06);
  }

  &:hover {
    color: var(--color-foreground-primary);
  }
}
