.navContainer {
  position: fixed;
  z-index: 1000;
  padding: var(--size-02) var(--size-06);
  background: linear-gradient(
    to top,
    var(--color-core-transparent) 0%,
    var(--color-background-primary) 20%
  );
}

.logo {
  width: var(--size-07);
  height: var(--size-07);
  margin: 0;
}

.nav a {
  font-family: var(--font-nohemi);
}

.nav a:has(svg) {
  display: flex;
  align-items: center;
  gap: var(--size-02);
  color: var(--color-foreground);
}

.nav a.active {
  font-weight: var(--font-weight-bold);
  color: var(--foreground);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--size-02);
  width: 100%;
  min-height: var(--size-10);
  margin-bottom: var(--size-02);
  padding: var(--size-02) 0;
}

.nav .navLinks {
  display: flex;
  align-items: center;
  gap: var(--size-05);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav h1 {
  margin-top: 0.5rem;
  font-weight: var(--font-weight-light) !important;
  line-height: 1;
}

@media screen and (width >= 1000px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
