.button {
  all: unset;

  cursor: pointer;

  min-width: var(--size-07);
  min-height: var(--size-07);
  max-height: var(--size-07);

  display: inline-grid;
  grid-auto-flow: column;

  gap: var(--size-03);
  padding: 0 var(--size-06);

  align-items: center;
  justify-content: center;

  border: none;
  border-radius: var(--radius-full);
  background-color: var(--color-background-inverse);
  color: var(--color-foreground-inverse);
  transition: all 0.3s;
  font-size: var(--body-02);
} 
.button:has(i:only-child) {
  padding: 0;
}
.button:hover {
  background-color: var(--color-background-hover);
  text-decoration: none;
}
.button:focus {
  outline: none;
  border-radius: var(--radius-full);
}
.button:matches(:focus-visible, :focus) {
  outline: 2px solid var(--color-foreground-accent);
  outline-offset: var(--size-02);
}
.button:visited {
  color: var(--color-foreground-inverse);
}
.button i span {
  display: none;
}
.button + .button {
  margin-left: var(--size-04);
}
.small {
  min-width: var(--size-07);
  min-height: var(--size-07);
  max-height: var(--size-07);
  font-size: var(--body-04);
}
.medium {
  min-width: var(--size-08);
  min-height: var(--size-08);
  max-height: var(--size-08);
  font-size: var(--body-02);
}
.large {
  min-width: var(--size-09);
  min-height: var(--size-09);
  max-height: var(--size-09);
  font-size: var(--body-01);
}
.primary {
  background-color: var(--color-background-accent);
  border: var(--border-weight-default) solid var(--color-border-accent);
  color: var(--color-foreground-primary);
}
.secondary {
  background-color: var(--color-background-secondary);
  border: var(--border-weight-default) solid var(--color-border-accent);
  color: var(--color-foreground-accent);
}
.secondary:hover {
  background-color: var(--color-background-inverse);
  border-color: var(--color-border-bold);
  color: var(--color-foreground-inverse);
}
.tertiary {
  background-color: var(--color-transparent);
  border: var(--border-weight-default) solid var(--color-border-onColor);
  color: var(--color-foreground-onColor);
}
.tertiary:hover {
  background-color: var(--color-background-hover);
  border-color: var(--color-border-bold);
  color: var(--color-foreground-primary);
}
