@use './Slinkycursor.tokens.generated.scss' as slinkycursorTokens;

.pest {
  --cursor-size: 40px;
  --cursor-laziness: 0.5s;
  --cursor-stretch: calc(
    max(var(--mouse-delta-x, 0px), var(--mouse-delta-y, 0px))
  );
  --cursor-angle: atan2();
  @include slinkycursorTokens.vars;

  position: absolute;
  z-index: 9999;
  display: block;
  width: var(--cursor-size, 40px);

  /* Stretching for slinky effect */
  width: calc(var(--cursor-stretch, 1) * var(--cursor-size));
  min-width: 32px;
  height: var(--cursor-size, 40px);
  min-height: 32px;
  background: rgb(0 0 0 / 10%);
  border: 2px solid var(--slinkycursor-color-border-primary);
  border-radius: var(--slinkycursor-shape-radius-full);
  line-height: 0;
  transform-origin: center;
  pointer-events: none;
}

.pest.active {
  width: 32px !important;
  height: 32px;
  aspect-ratio: 1/1;
  background: rgb(0 0 0 / 20%);

  /* Style changes on mouse down */
  border: 2px dashed var(--slinkycursor-color-border-hover, #cccccc);
}
