.editorGroups > * + * {
  margin-top: 1em;
}

.editor > div {
  overflow-y: scroll;
  max-width: 1440px;
  height: 80vh;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--secondary);
  border-radius: var(--radius-03);
  background: var(--color-background-secondary);
}

.editor > div * + * {
  margin-top: 0.75em;
}

.editor *:focus-visible {
  border: 1px solid var(--color-accent);
  outline: 0;
}


.editor .tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  color: #adb5bd;
  pointer-events: none;
}

.editor img {
  cursor: grab;
}

.editor img.ProseMirror-selectednode {
  outline: 1px solid var(--color-accent);
  outline-offset: var(--size-03);
}

.editor img.ProseMirror-selectednode:active {
  cursor: grabbing;
}

.publishBar {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}