.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 50vh;
  margin: 0;
  padding: 0;
}

.hero:first-of-type {
  min-height: 75vh;
}

.headingHero {
  z-index: 1;
  max-width: 90vw;
  margin: 0 auto;
}

.headingHero h1 {
  max-width: 16em;
  line-height: 1.3;
  letter-spacing: var(--core-typography-letter-spacing-tight);
}

.headingHero h1 span:first-of-type {
  z-index: 1;
  display: inline-block;
  margin-bottom: var(--core-spacing-size-02);
  color: var(--semantic-color-foreground-accent);
  font-size: var(--semantic-typography-heading-06);
  letter-spacing: var(--core-typography-letter-spacing-normal);
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 50vh;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--semantic-color-background-primary) 0%,
    var(--core-color-mode-transparent) 10% 90%,
    var(--semantic-color-background-primary) 100%
  );
  pointer-events: none;
}

.about {
  max-width: 1440px;
  margin: 0 auto;
}

.quip {
  position: relative;
  min-height: unset;
  padding: 15vh 0;
  padding: unset;
}

.education {
  min-height: unset;
  padding: 5vh 0 0;
}
