.hero {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
  max-width: 100vw; 
  min-height: 80vh;
}
.headingHero {
  max-width: 90vw;
  margin: 0 auto;
  z-index: 1;
}
.headingHero h1 {
  letter-spacing: var(--letter-spacing-tight);
  line-height: 1.3;
  max-width: 16em;
}
.headingHero h1 span:first-of-type {
  display: inline-block;
  font-size: var(--heading-06);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--color-foreground-accent);
  margin-bottom: var(--size-02);
  z-index: 1;
}
.heroImage {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.cover {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--color-background-primary) 0%, var(--color-core-transparent) 10% 90%, var(--color-background-primary) 100%);
  z-index: 0;
}
.about {
  max-width: 1440px;
  margin: 0 auto;
}
.quip { 
  position: relative;
  padding: 15vh 0;
}
@media screen and (max-width: 992px) {
  .headingHero h1 {
    font-size: var(--heading-02);
  }
}
