:root {
  /* Design Tokens */
  --angle: -15deg;
  --trans-content: -20vh;
  --cursor-x: 0; /* Horizontal mouse position */
  --view-percent: 0; /* Percentage of the box in viewport */
  --mouse-x: 0;
  --mouse-y: 0;
  --mouse-prev-x: 0;
  --mouse-prev-y: 0;
  --cursor-y: 0;
  --mouse-delta-x: 1;
  --mouse-delta-y: 1;

  /* Typography ramp */
  --tr-1: 10px; /* .625rem */
  --tr-2: 12px; /* .75rem */
  --tr-3: 14px; /* .875rem */
  --tr-4: 16px; /* 1rem */
  --tr-5: 18px; /* 1.125rem */
  --tr-6: 20px; /* 1.25rem */
  --tr-7: 24px; /* 1.5rem */
  --tr-8: 32px; /* 2rem */
  --tr-9: 40px; /* 2.5rem */
  --tr-10: 48px; /* 3rem */
  --tr-11: 60px; /* 3.75rem */
  --tr-12: 72px; /* 4.5rem */
  --tr-13: 96px; /* 6rem */
  --tr-14: 128px; /* 8rem */
  --tr-15: 160px; /* 10rem */
  --tr-16: 192px; /* 12rem */

  /* Line height */
  --line-height-collapse: 1;
  --line-height-body: 1.5;
  --line-height-heading: var(--line-height-collapse);

  /* Letter spacing */
  --letter-spacing-tight: -0.018em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.018em;

  /* Font settings */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* captions */
  --caption-01: var(--tr-3);
  --caption-02: var(--tr-2);
  --caption-03: var(--tr-1);
  --caption-weight: var(--font-weight-regular);

  /* body */
  --body-01: var(--tr-5);
  --body-02: var(--tr-4);
  --body-03: var(--tr-3);
  --body-04: var(--tr-2);
  --body-weight: var(--font-weight-regular);

  /* heading */
  --heading-01: calc(var(--tr-8) + 0.75vw + 0.75vh);
  --heading-02: calc(var(--tr-7) + 0.5vw + 0.5vh);
  --heading-03: calc(var(--tr-6) + 0.5vw + 0.5vh);
  --heading-04: calc(var(--tr-5) + 0.5vw + 0.5vh);
  --heading-05: calc(var(--tr-4) + 0.25vw + 0.25vh);
  --heading-06: calc(var(--tr-3) + 0.25vw + 0.25vh);
  --heading-weight: var(--font-weight-bold);

  /* oversize */
  --oversize-01: var(--tr-16);
  --oversize-02: var(--tr-15);
  --oversize-03: var(--tr-14);
  --oversize-04: var(--tr-13);
  --oversize-weight: var(--font-weight-light);

  /* button */
  --button-01: var(--tr-5);
  --button-02: var(--tr-4);
  --button-03: var(--tr-3);

  /* Sizing */
  --size-00: 0;
  --size-01: 1px; /* 1px */
  --size-02: 2px; /* 2px */
  --size-03: 4px; /* 4px */
  --size-04: 8px; /* 8px */
  --size-05: 12px; /* 12px */
  --size-06: 16px; /* 16px */
  --size-07: 24px; /* 24px */
  --size-08: 32px; /* 32px */
  --size-09: 48px; /* 48px */
  --size-10: 64px; /* 64px */

  /* layout */
  --grid-gap-small: var(--size-04);
  --grid-gap-medium: var(--size-07);
  --grid-gap-large: var(--size-10);

  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1536px;
  --breakpoint-xxxl: 1920px;

  /* ratio */
  --ratio-square: 1/1;
  --ratio-3-4: 3/4;
  --ratio-2-3: 2/3;
  --ratio-1-2: 1/2;
  --ratio-9-16: 9/16;
  --ratio-4-3: 4/3;
  --ratio-3-2: 3/2;
  --ratio-2-1: 2/1;
  --ratio-16-9: 16/9;

  /* tap target */
  --tap-target-large: var(--size-09);
  --tap-target-medium: var(--size-08);
  --tap-target-small: var(--size-07);

  /* radius */
  --radius-00: 0;
  --radius-01: var(--size-03);
  --radius-02: var(--size-04);
  --radius-03: var(--size-06);
  --radius-full: var(--breakpoint-xxxl);

  /* border */
  --border-weight-thin: var(--size-01);
  --border-weight-default: var(--size-02);
  --border-weight-bold: var(--size-03);
  --border-offset: var(--size-02);

  /* opacity */
  --opacity-50: 0.04;
  --opacity-100: 0.08;
  --opacity-200: 0.12;
  --opacity-300: 0.16;
  --opacity-400: 0.24;
  --opacity-500: 0.32;
  --opacity-600: 0.48;
  --opacity-700: 0.64;
  --opacity-800: 0.8;
  --opacity-900: 0.96;
  --opacity-full: 1;

  /* elevation */
  --depth-0: 0;
  --depth-1: 8;
  --depth-2: 16;
  --depth-3: 32;
  --depth-4: 64;
  --depth: var(--depth-0);
  --elevation:
    0px calc(var(--depth, 0) * 0.25px) calc(var(--depth, 0) * 0.75px)
      rgb(20 20 20 / var(--opacity-100)),
    0px calc(var(--depth, 0) * 0.125px) calc(var(--depth, 0) * 0.25px)
      rgb(20 20 20 / var(--opacity-50));

  /* colors */
  --color-core-white: #fff;
  --color-core-light: #fafafa;
  --color-core-dark: #141414;
  --color-core-black: #000;
  --color-core-transparent: transparent;

  /* focus */
  --focus-ring: 2px solid var(--foreground-accent);
  --focus-ring-offset: var(--size-02);
}
