
:root {
    /* Design Tokens */
    --angle: -15deg;
    --trans-content: -20vh;
    --cursor-x: 0; /* Horizontal mouse position */
    --view-percent: 0;  /* Percentage of the box in viewport */
    --mouse-x: 0;
    --mouse-y: 0;
    --mouse-prev-x: 0;
    --mouse-prev-y: 0;
    --cursor-y: 0;
    --mouse-delta-x: 1;
    --mouse-delta-y:1;

    /* Typography ramp */
    --tr-1: 10px; /* .625rem */
    --tr-2: 12px; /* .75rem */
    --tr-3: 14px; /* .875rem */
    --tr-4: 16px; /* 1rem */
    --tr-5: 18px; /* 1.125rem */
    --tr-6: 20px; /* 1.25rem */
    --tr-7: 24px; /* 1.5rem */
    --tr-8: 32px; /* 2rem */
    --tr-9: 40px; /* 2.5rem */
    --tr-10: 48px; /* 3rem */
    --tr-11: 60px; /* 3.75rem */
    --tr-12: 72px; /* 4.5rem */
    --tr-13: 96px; /* 6rem */
    --tr-14: 128px; /* 8rem */
    --tr-15: 160px; /* 10rem */
    --tr-16: 192px; /* 12rem */

    /* Line height */
    --line-height-collapse: 1;
    --line-height-body: 1.5;
    --line-height-heading: var(--line-height-collapse);

    /* Letter spacing */
    --letter-spacing-tight: -0.018em;
    --letter-spacing-normal: 0;
    --letter-spacing-wide: 0.018em;

    /* Font settings */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* captions */
    --caption-01: var(--tr-3);
    --caption-02: var(--tr-2);
    --caption-03: var(--tr-1);
    --caption-weight: var(--font-weight-regular);

    /* body */
    --body-01: var(--tr-5);
    --body-02: var(--tr-4);
    --body-03: var(--tr-3);
    --body-04: var(--tr-2);
    --body-weight: var(--font-weight-regular);

    /* heading */
    --heading-01: calc(var(--tr-8) + .75vw + .75vh);
    --heading-02: calc(var(--tr-7) + .5vw + .5vh);
    --heading-03: calc(var(--tr-6) + .5vw + .5vh);
    --heading-04: calc(var(--tr-5) + .5vw + .5vh);
    --heading-05: calc(var(--tr-4) + .25vw + .25vh);
    --heading-06: calc(var(--tr-3) + .25vw + .25vh);
    --heading-weight: var(--font-weight-bold);

    /* oversize */
    --oversize-01: var(--tr-16);
    --oversize-02: var(--tr-15);
    --oversize-03: var(--tr-14);
    --oversize-04: var(--tr-13);
    --oversize-weight: var(--font-weight-light);

    /* button */
    --button-01: var(--tr-5);
    --button-02: var(--tr-4);
    --button-03: var(--tr-3);

    /* Sizing */
    --size-00: 0;
    --size-01: 1px; /* 1px */
    --size-02: 2px; /* 2px */
    --size-03: 4px; /* 4px */
    --size-04: 8px; /* 8px */
    --size-05: 12px; /* 12px */
    --size-06: 16px; /* 16px */
    --size-07: 24px; /* 24px */
    --size-08: 32px; /* 32px */
    --size-09: 48px; /* 48px */
    --size-10: 64px; /* 64px */

    /* layout */
    --grid-gap-small: var(--size-04);
    --grid-gap-medium: var(--size-07);
    --grid-gap-large: var(--size-10);

    /* breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
    --breakpoint-xxl: 1536px;
    --breakpoint-xxxl: 1920px;

    /* ratio */
    --ratio-square: 1/1;
    --ratio-3-4: 3/4;
    --ratio-2-3: 2/3;
    --ratio-1-2: 1/2;
    --ratio-9-16: 9/16;
    --ratio-4-3: 4/3;
    --ratio-3-2: 3/2;
    --ratio-2-1: 2/1;
    --ratio-16-9: 16/9;

    /* tap target */
    --tap-target-large: var(--size-09);
    --tap-target-medium: var(--size-08);
    --tap-target-small: var(--size-07);

    /* radius */
    --radius-00: 0;
    --radius-01: var(--size-03);
    --radius-02: var(--size-04);
    --radius-03: var(--size-06);
    --radius-full: var(--breakpoint-xxxl);

    /* border */
    --border-weight-thin: var(--size-01);
    --border-weight-default: var(--size-02);
    --border-weight-bold: var(--size-03);
    --border-offset: var(--size-02);

    /* opacity */
    --opacity-50: 0.04;
    --opacity-100: 0.08;
    --opacity-200: 0.12;
    --opacity-300: 0.16;
    --opacity-400: 0.24;
    --opacity-500: 0.32;
    --opacity-600: 0.48;
    --opacity-700: 0.64;
    --opacity-800: 0.8;
    --opacity-900: 0.96;
    --opacity-full: 1;

    /* elevation */
    --depth-0: 0;
    --depth-1: 8;
    --depth-2: 16;
    --depth-3: 32;
    --depth-4: 64;
    --depth: var(--depth-0);
    --elevation: 0px calc(var(--depth, 0) * 0.25px) calc(var(--depth, 0) * 0.75px)
        rgb(20 20 20 / var(--opacity-100)),
      0px calc(var(--depth, 0) * 0.125px) calc(var(--depth, 0) * 0.25px)
        rgb(20 20 20 / var(--opacity-50));

    /* colors */
    --color-core-white: #fff;
    --color-core-light: #fafafa;
    --color-core-dark: #141414;
    --color-core-black: #000;
    --color-core-transparent: transparent;

    /* neutral */
    --color-core-neutral-100: #efefef; /* 1.15 :1 */
    --color-core-neutral-200: #cecece; /* 1.57 :1 */
    --color-core-neutral-300: #aeaeae; /* 2.22 :1 */
    --color-core-neutral-400: #8f8f8f; /* 3.23 :1 */
    --color-core-neutral-500: #717171; /* 4.88 :1 */
    --color-core-neutral-600: #555; /* 7.46 :1 */
    --color-core-neutral-700: #3a3a3a; /* 11.37 :1 */
    --color-core-neutral-800: #212121; /* 16.1 :1 */

    /* red */
    --color-core-red-100: #fceaea; /* 1.16 :1 */
    --color-core-red-200: #f7c1c2; /* 1.57 :1 */
    --color-core-red-300: #f29495; /* 2.22 :1 */
    --color-core-red-400: #ea6465; /* 3.23 :1 */
    --color-core-red-500: #d9292b; /* 4.88 :1 */
    --color-core-red-600: #ae0001; /* 7.5 :1 */
    --color-core-red-700: #7b0000; /* 11.4 :1 */
    --color-core-red-800: #4b0000; /* 16.16 :1 */

    /* orange */

    --color-core-orange-100: #ffeadd; /* 1.11 :1 */
    --color-core-orange-200: #ffb58e;  /* 1.64 :1 */
    --color-core-orange-300: #ff7c3c; /* 2.45 :1 */
    --color-core-orange-400: #d55d21; /* 3.71 :1 */
    --color-core-orange-500: #a5491d; /* 5.63 :1 */
    --color-core-orange-600: #7b3919; /* 8.24 :1 */
    --color-core-orange-700: #552915; /* 11.74 :1 */
    --color-core-orange-800: #29160c; /* 16.57 :1 */

    /* yellow */
    --color-core-yellow-100: #ffedcc; /* 1.15 :1 */
    --color-core-yellow-200: #ffc458; /* 1.58 :1 */
    --color-core-yellow-300: #fe9400; /* 2.22 :1 */
    --color-core-yellow-400: #d77600; /* 3.24 :1 */
    --color-core-yellow-500: #ac5c00; /* 4.9 :1 */
    --color-core-yellow-600: #824500; /* 7.5 :1 */
    --color-core-yellow-700: #593000; /* 11.37 :1 */
    --color-core-yellow-800: #331b00; /* 16.18 :1 */

    /* green */
    --color-core-green-100: #e4f2e0; /* 1.16 :1 */
    --color-core-green-200: #b0daa4; /* 1.57 :1 */
    --color-core-green-300: #79bf65; /* 2.22 :1 */
    --color-core-green-400: #609e41; /* 3.25 :1 */
    --color-core-green-500: #487e1e; /* 4.91 :1 */
    --color-core-green-600: #336006; /* 7.46 :1 */
    --color-core-green-700: #234104; /* 11.48 :1 */
    --color-core-green-800: #142502; /* 16.21 :1 */

    /* teal */
    --color-core-teal-100: #caf8f7; /* 1.16 :1 */
    --color-core-teal-200: #18dbdb; /* 1.57 :1 */
    --color-core-teal-300: #22b4b4; /* 2.22 :1 */
    --color-core-teal-400: #258f8e; /* 3.25 :1 */
    --color-core-teal-500: #236f6f; /* 4.91 :1 */
    --color-core-teal-600: #205353; /* 7.46 :1 */
    --color-core-teal-700: #1a3a3a; /* 11.48 :1 */
    --color-core-teal-800: #121d1d; /* 16.21 :1 */


    /* blue */
    --color-core-blue-100: #d9f3fe; /* 1.15 :1 */
    --color-core-blue-200: #8ad9fc; /* 1.57 :1 */
    --color-core-blue-300: #2eb9f9; /* 2.23 :1 */
    --color-core-blue-400: #1d91fb; /* 3.23 :1 */
    --color-core-blue-500: #0a65fe; /* 4.88 :1 */
    --color-core-blue-600: #0042dc; /* 7.47 :1 */
    --color-core-blue-700: #002d99; /* 11.44 :1 */
    --color-core-blue-800: #001b5a; /* 16.1 :1 */

    /* violet */
    --color-core-violet-100: #ffe9fe; /* 1.15 :1 */
    --color-core-violet-200: #ffb5fc; /* 1.58 :1 */
    --color-core-violet-300: #ff7bfa; /* 2.22 :1 */
    --color-core-violet-400: #f431ed; /* 3.23 :1 */
    --color-core-violet-500: #c127bc; /* 4.9 :1 */
    --color-core-violet-600: #931d8f; /* 7.47 :1 */
    --color-core-violet-700: #661463; /* 11.38 :1 */
    --color-core-violet-800: #3b0c3a; /* 16.16 :1 */

    /* Semantic color */

    /* foreground */
    --color-foreground-primary: var(--color-core-dark);
    --color-foreground-secondary: var(--color-core-neutral-600);
    --color-foreground-tertiary: var(--color-core-neutral-500);
    --color-foreground-inverse: var(--color-core-light);
    --color-foreground-highlight: var(--color-core-blue-700);
    --color-foreground-accent: var(--color-core-red-500);
    --color-foreground-onColor: var(--color-foreground-inverse);
    --color-foreground-danger: var(--color-core-red-500);
    --color-foreground-onDangerSubtle: var(--color-core-red-700);
    --color-foreground-success: var(--color-core-green-500);
    --color-foreground-onSuccessSubtle: var(--color-core-green-700);
    --color-foreground-warning: var(--color-core-orange-500);
    --color-foreground-onWarningSubtle: var(--color-core-orange-700);
    --color-foreground-info: var(--color-core-blue-500);
    --color-foreground-onInfoSubtle: var(--color-core-blue-700);
    --color-foreground-hover: var(--color-core-neutral-700);
    --color-foreground-disabled: var(--color-core-neutral-300);
    --color-foreground-placeholder: var(--color-core-neutral-400);
    --color-foreground-link: var(--color-core-red-500);
    --color-foreground-link-hover: var(--color-core-red-600);
    --color-foreground-link-visisted: var(--color-core-red-400);

    /* background */
    --color-background-primary: var(--color-core-light);
    --color-background-secondary: var(--color-core-neutral-100);
    --color-background-tertiary: var(--color-core-neutral-200);
    --color-background-inverse: var(--color-core-dark);
    --color-background-highlight: var(--color-core-blue-200);
    --color-background-accent: var(--color-core-red-500);
    --color-background-onColor: var(--color-background-primary);
    --color-background-danger-strong: var(--color-core-red-600);
    --color-background-danger-subtle: var(--color-core-red-100);
    --color-background-success-strong: var(--color-core-green-600);
    --color-background-success-subtle: var(--color-core-green-100);
    --color-background-warning-strong: var(--color-core-orange-400);
    --color-background-warning-subtle: var(--color-core-orange-100);
    --color-background-info-strong: var(--color-core-blue-600);
    --color-background-info-subtle: var(--color-core-blue-100);
    --color-background-hover: var(--color-core-neutral-200);
    --color-background-active: var(--color-core-neutral-300);
    --color-background-disabled: var(--color-core-neutral-200);
    --color-background-placeholder: var(--color-core-neutral-100);
    --color-background-read-only: var(--color-core-neutral-200);
    --color-background-image-overlay: rgb(0 0 0 / var(--opacity-50));

    /* border */
    --color-border-primary: var(--color-core-neutral-300);
    --color-border-bold: var(--color-core-neutral-600);
    --color-border-light: var(--color-core-neutral-200);
    --color-border-accent: var(--color-core-red-500);
    --color-border-onColor: var(--color-core-white);
    --color-border-danger: var(--color-core-red-600);
    --color-border-success: var(--color-core-green-600);
    --color-border-warning: var(--color-core-orange-600);
    --color-border-info: var(--color-core-blue-600);
    --color-border-disabled: var(--color-core-neutral-200);

    /* data vis */
    --color-data-trend-default: var(--color-core-blue-400);
    --color-data-trend-neutral: var(--color-core-neutral-500);
    --color-data-trend-up: var(--color-core-green-500);
    --color-data-trend-down: var(--color-core-red-500);

    /* focus */
    --focus-ring: 2px solid var(--foreground-accent);
    --focus-ring-offset: var(--size-02);
  }

.light {
    /* Semantic color */

    /* foreground */
    --color-foreground-primary: var(--color-core-dark);
    --color-foreground-secondary: var(--color-core-neutral-600);
    --color-foreground-tertiary: var(--color-core-neutral-500);
    --color-foreground-inverse: var(--color-core-light);
    --color-foreground-highlight: var(--color-core-blue-700);
    --color-foreground-accent: var(--color-core-red-500);
    --color-foreground-onColor: var(--color-foreground-inverse);
    --color-foreground-danger: var(--color-core-red-500);
    --color-foreground-onDangerSubtle: var(--color-core-red-700);
    --color-foreground-success: var(--color-core-green-500);
    --color-foreground-onSuccessSubtle: var(--color-core-green-700);
    --color-foreground-warning: var(--color-core-orange-500);
    --color-foreground-onWarningSubtle: var(--color-core-orange-700);
    --color-foreground-info: var(--color-core-blue-500);
    --color-foreground-onInfoSubtle: var(--color-core-blue-700);
    --color-foreground-hover: var(--color-core-neutral-700);
    --color-foreground-disabled: var(--color-core-neutral-300);
    --color-foreground-placeholder: var(--color-core-neutral-400);
    --color-foreground-link: var(--color-core-red-500);
    --color-foreground-link-hover: var(--color-core-red-600);
    --color-foreground-link-visisted: var(--color-core-red-400);

    /* background */
    --color-background-primary: var(--color-core-light);
    --color-background-secondary: var(--color-core-neutral-100);
    --color-background-tertiary: var(--color-core-neutral-200);
    --color-background-inverse: var(--color-core-dark);
    --color-background-highlight: var(--color-core-blue-200);
    --color-background-accent: var(--color-core-red-500);
    --color-background-onColor: var(--color-background-primary);
    --color-background-danger-strong: var(--color-core-red-600);
    --color-background-danger-subtle: var(--color-core-red-100);
    --color-background-success-strong: var(--color-core-green-600);
    --color-background-success-subtle: var(--color-core-green-100);
    --color-background-warning-strong: var(--color-core-orange-400);
    --color-background-warning-subtle: var(--color-core-orange-100);
    --color-background-info-strong: var(--color-core-blue-600);
    --color-background-info-subtle: var(--color-core-blue-100);
    --color-background-hover: var(--color-core-neutral-200);
    --color-background-active: var(--color-core-neutral-300);
    --color-background-disabled: var(--color-core-neutral-200);
    --color-background-placeholder: var(--color-core-neutral-100);
    --color-background-read-only: var(--color-core-neutral-200);
    --color-background-image-overlay: rgb(0 0 0 / var(--opacity-50));

    /* border */
    --color-border-primary: var(--color-core-neutral-300);
    --color-border-bold: var(--color-core-neutral-600);
    --color-border-light: var(--color-core-neutral-200);
    --color-border-accent: var(--color-core-red-500);
    --color-border-onColor: var(--color-core-white);
    --color-border-danger: var(--color-core-red-600);
    --color-border-success: var(--color-core-green-600);
    --color-border-warning: var(--color-core-orange-600);
    --color-border-info: var(--color-core-blue-600);
    --color-border-disabled: var(--color-core-neutral-200);

    /* data vis */
    --color-data-trend-default: var(--color-core-blue-400);
    --color-data-trend-neutral: var(--color-core-neutral-500);
    --color-data-trend-up: var(--color-core-green-500);
    --color-data-trend-down: var(--color-core-red-500);

    /* focus */
    --focus-ring: 2px solid var(--foreground-accent);
    --focus-ring-offset: var(--size-02);
}

.dark {
      /* Dark Semantic color */

      /* Dark mode foreground  */
      --color-foreground-primary: var(--color-core-light);
      --color-foreground-secondary: var(--color-core-neutral-300);
      --color-foreground-tertiary: var(--color-core-neutral-500);
      --color-foreground-inverse: var(--color-core-dark);
      --color-foreground-accent: var(--color-core-red-400);
      --color-foreground-onColor: var(--color-foreground-primary);
      --color-foreground-danger: var(--color-core-red-400);
      --color-foreground-onDangerSubtle: var(--color-core-red-200);
      --color-foreground-success: var(--color-core-green-400);
      --color-foreground-onSuccessSubtle: var(--color-core-green-200);
      --color-foreground-warning: var(--color-core-orange-400);
      --color-foreground-onWarningSubtle: var(--color-core-orange-200);
      --color-foreground-info: var(--color-core-blue-400);
      --color-foreground-onInfoSubtle: var(--color-core-blue-200);
      --color-foreground-hover: var(--color-core-neutral-300);
      --color-foreground-disabled: var(--color-core-neutral-600);
      --color-foreground-placeholder: var(--color-core-neutral-400);
      --color-foreground-link: var(--color-core-red-400);
      --color-foreground-link-hover: var(--color-core-red-300);
      --color-foreground-link-visisted: var(--color-core-red-500);

      /* Dark mode background */
      --color-background-primary: var(--color-core-dark);
      --color-background-secondary: var(--color-core-neutral-800);
      --color-background-tertiary: var(--color-core-neutral-700);
      --color-background-inverse: var(--color-core-light);
      --color-background-accent: var(--color-core-red-500);
      --color-background-onColor: var(--color-background-primary);
      --color-background-danger-strong: var(--color-core-red-600);
      --color-background-danger-subtle: var(--color-core-red-800);
      --color-background-success: var(--color-core-green-600);
      --color-background-success-subtle: var(--color-core-green-800);
      --color-background-warning: var(--color-core-orange-600);
      --color-background-warning-subtle: var(--color-core-orange-800);
      --color-background-info: var(--color-core-blue-600);
      --color-background-info-subtle: var(--color-core-blue-800);
      --color-background-hover: var(--color-core-neutral-700);
      --color-background-active: var(--color-core-neutral-600);
      --color-background-disabled: var(--color-core-neutral-700);
      --color-background-placeholder: var(--color-core-neutral-800);
      --color-background-read-only: var(--color-core-neutral-700);
      --color-background-image-overlay: rgb(0 0 0 / var(--opacity-50));

      /* Dark mode border */
      --color-border-primary: var(--color-core-neutral-600);
      --color-border-bold: var(--color-core-neutral-300);
      --color-border-light: var(--color-core-neutral-700);
      --color-border-accent: var(--color-core-red-500);
      --color-border-onColor: var(--color-core-white);
      --color-border-danger: var(--color-core-red-600);
      --color-border-success: var(--color-core-green-600);
      --color-border-warning: var(--color-core-orange-600);
      --color-border-info: var(--color-core-blue-600);
      --color-border-disabled: var(--color-core-neutral-700);

      /* Dark mode data vis */
      --color-data-trend-default: var(--color-core-blue-400);
      --color-data-trend-neutral: var(--color-core-neutral-500);
      --color-data-trend-up: var(--color-core-green-500);
      --color-data-trend-down: var(--color-core-red-500);

      /* Dark mode focus */
      --focus-ring: 2px solid var(--color-foreground-accent);
      --focus-ring-offset: var(--size-02);
}

@media (prefers-color-scheme: dark) {
    :root {
      /* Dark Semantic color */

      /* Dark mode foreground  */
      --color-foreground-primary: var(--color-core-light);
      --color-foreground-secondary: var(--color-core-neutral-300);
      --color-foreground-tertiary: var(--color-core-neutral-500);
      --color-foreground-inverse: var(--color-core-dark);
      --color-foreground-accent: var(--color-core-red-400);
      --color-foreground-onColor: var(--color-foreground-primary);
      --color-foreground-danger: var(--color-core-red-400);
      --color-foreground-onDangerSubtle: var(--color-core-red-200);
      --color-foreground-success: var(--color-core-green-400);
      --color-foreground-onSuccessSubtle: var(--color-core-green-200);
      --color-foreground-warning: var(--color-core-orange-400);
      --color-foreground-onWarningSubtle: var(--color-core-orange-200);
      --color-foreground-info: var(--color-core-blue-400);
      --color-foreground-onInfoSubtle: var(--color-core-blue-200);
      --color-foreground-hover: var(--color-core-neutral-300);
      --color-foreground-disabled: var(--color-core-neutral-600);
      --color-foreground-placeholder: var(--color-core-neutral-400);
      --color-foreground-link: var(--color-core-red-400);
      --color-foreground-link-hover: var(--color-core-red-300);
      --color-foreground-link-visisted: var(--color-core-red-500);

      /* Dark mode background */
      --color-background-primary: var(--color-core-dark);
      --color-background-secondary: var(--color-core-neutral-800);
      --color-background-tertiary: var(--color-core-neutral-700);
      --color-background-inverse: var(--color-core-light);
      --color-background-accent: var(--color-core-red-500);
      --color-background-onColor: var(--color-background-primary);
      --color-background-danger-strong: var(--color-core-red-600);
      --color-background-danger-subtle: var(--color-core-red-800);
      --color-background-success: var(--color-core-green-600);
      --color-background-success-subtle: var(--color-core-green-800);
      --color-background-warning: var(--color-core-orange-600);
      --color-background-warning-subtle: var(--color-core-orange-800);
      --color-background-info: var(--color-core-blue-600);
      --color-background-info-subtle: var(--color-core-blue-800);
      --color-background-hover: var(--color-core-neutral-700);
      --color-background-active: var(--color-core-neutral-600);
      --color-background-disabled: var(--color-core-neutral-700);
      --color-background-placeholder: var(--color-core-neutral-800);
      --color-background-read-only: var(--color-core-neutral-700);
      --color-background-image-overlay: rgb(0 0 0 / var(--opacity-50));

      /* Dark mode border */
      --color-border-primary: var(--color-core-neutral-600);
      --color-border-bold: var(--color-core-neutral-300);
      --color-border-light: var(--color-core-neutral-700);
      --color-border-accent: var(--color-core-red-500);
      --color-border-onColor: var(--color-core-white);
      --color-border-danger: var(--color-core-red-600);
      --color-border-success: var(--color-core-green-600);
      --color-border-warning: var(--color-core-orange-600);
      --color-border-info: var(--color-core-blue-600);
      --color-border-disabled: var(--color-core-neutral-700);

      /* Dark mode data vis */
      --color-data-trend-default: var(--color-core-blue-400);
      --color-data-trend-neutral: var(--color-core-neutral-500);
      --color-data-trend-up: var(--color-core-green-500);
      --color-data-trend-down: var(--color-core-red-500);

      /* Dark mode focus */
      --focus-ring: 2px solid var(--color-foreground-accent);
      --focus-ring-offset: var(--size-02);
    }

    .light  {
    /* Semantic color */

    /* foreground */
    --color-foreground-primary: var(--color-core-dark);
    --color-foreground-secondary: var(--color-core-neutral-600);
    --color-foreground-tertiary: var(--color-core-neutral-500);
    --color-foreground-inverse: var(--color-core-light);
    --color-foreground-highlight: var(--color-core-blue-700);
    --color-foreground-accent: var(--color-core-red-500);
    --color-foreground-onColor: var(--color-foreground-inverse);
    --color-foreground-danger: var(--color-core-red-500);
    --color-foreground-onDangerSubtle: var(--color-core-red-700);
    --color-foreground-success: var(--color-core-green-500);
    --color-foreground-onSuccessSubtle: var(--color-core-green-700);
    --color-foreground-warning: var(--color-core-orange-500);
    --color-foreground-onWarningSubtle: var(--color-core-orange-700);
    --color-foreground-info: var(--color-core-blue-500);
    --color-foreground-onInfoSubtle: var(--color-core-blue-700);
    --color-foreground-hover: var(--color-core-neutral-700);
    --color-foreground-disabled: var(--color-core-neutral-300);
    --color-foreground-placeholder: var(--color-core-neutral-400);
    --color-foreground-link: var(--color-core-red-500);
    --color-foreground-link-hover: var(--color-core-red-600);
    --color-foreground-link-visisted: var(--color-core-red-400);

    /* background */
    --color-background-primary: var(--color-core-light);
    --color-background-secondary: var(--color-core-neutral-100);
    --color-background-tertiary: var(--color-core-neutral-200);
    --color-background-inverse: var(--color-core-dark);
    --color-background-highlight: var(--color-core-blue-200);
    --color-background-accent: var(--color-core-red-500);
    --color-background-onColor: var(--color-background-primary);
    --color-background-danger-strong: var(--color-core-red-600);
    --color-background-danger-subtle: var(--color-core-red-100);
    --color-background-success-strong: var(--color-core-green-600);
    --color-background-success-subtle: var(--color-core-green-100);
    --color-background-warning-strong: var(--color-core-orange-400);
    --color-background-warning-subtle: var(--color-core-orange-100);
    --color-background-info-strong: var(--color-core-blue-600);
    --color-background-info-subtle: var(--color-core-blue-100);
    --color-background-hover: var(--color-core-neutral-200);
    --color-background-active: var(--color-core-neutral-300);
    --color-background-disabled: var(--color-core-neutral-200);
    --color-background-placeholder: var(--color-core-neutral-100);
    --color-background-read-only: var(--color-core-neutral-200);
    --color-background-image-overlay: rgb(0 0 0 / var(--opacity-50));

    /* border */
    --color-border-primary: var(--color-core-neutral-300);
    --color-border-bold: var(--color-core-neutral-600);
    --color-border-light: var(--color-core-neutral-200);
    --color-border-accent: var(--color-core-red-500);
    --color-border-onColor: var(--color-core-white);
    --color-border-danger: var(--color-core-red-600);
    --color-border-success: var(--color-core-green-600);
    --color-border-warning: var(--color-core-orange-600);
    --color-border-info: var(--color-core-blue-600);
    --color-border-disabled: var(--color-core-neutral-200);

    /* data vis */
    --color-data-trend-default: var(--color-core-blue-400);
    --color-data-trend-neutral: var(--color-core-neutral-500);
    --color-data-trend-up: var(--color-core-green-500);
    --color-data-trend-down: var(--color-core-red-500);

    /* focus */
    --focus-ring: 2px solid var(--foreground-accent);
    --focus-ring-offset: var(--size-02);
}

}