---
layout: default
---
<header class="container ">
  <h1>All projects: Including Outside Projects</h1>
</header>
<section id="past-work" class="container">
  <h1>Archive</h1>
  <div id="hero" class="row">
    <h2>Previous Work:</h2>
    <p>This includes projects that I've done with other teams, that may not necessarily have a place to be publicly displayed with the rest of my work</p>
  </div>
{% for post in site.categories.case-study%}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1' %}<div class="row">{% endif %}
    <article class="work module">
      {% if post.type == 'Hidden' %}<h4 class="work-featured">Hidden</h4>{% else %}{% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% elsif post.type == 'Concept' %}<h4 class="work-concept">{% else %}<h4>{% endif %}{{post.type}}</h4>{% endif %}
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.title | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/articles">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.topic}}</em></a></small>
        <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
      </div>
    </article>
  {% if thecycle == '3' or forloop.last %}</div>{% endif %}
  {% endfor %}
</section>
