#contact
  position: relative
  .externals
    text-align: center
    @include center(true, false)
  label
    cursor: pointer
  .continue:not(.button)
    height: 30vh
@media only screen and (min-width: 800px)
  #contact
    @include center(true, false)
    width: 66%
