#post-list
  background-color: $light
#articles-hero
  background: url('../assets/img/articles-page.gif') no-repeat center
  background-size: cover
  height: 75vh
  content: " "
.list
  position: relative
  margin: 0 auto
  padding: 2em
  background: $light
  color: $dark
  z-index: 1
  h1
    display: inline-block
    width: 50%
  select
    display:block
    position: relative
    margin-right: 0
    border: 2px $secondary
    border-radius: 5px
    padding: .5em
    margin: .67em 0
  img
    position: absolute
    display: block
    width: 100%
    transform: translateX(-50%)
    left: 50%
.list-item
  position: relative
  display: block
  margin: 2em auto
  z-index: 1

.circle
  position: relative
  display: inline-block
  height: 30vw
  width: 30vw
  overflow: hidden
  margin-right: 5vw
  img
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    height: 100%
#load-more
  position: absolute
  transform: translate(-50%, -2em)
  left: 50%
  z-index: 3

@media screen and (min-width: 1024px)
  .list
    width: 70%
    &::after
      content: " "
      width: 2px
      background: 2px $secondary
      height:90%
      position: absolute
      top: 10em
      left: 10.5%
      z-index: 0
    img
      display: block
    .artcont
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 70%
      display: inline-block
    select
      display: inline-block
      float: right
  .circle
    border-radius: 50%
    width: 10vw
    height: 10vw
    img
      height: 100%
      width: auto
