
#contact
  .contact
    div[class*="quest"]
      flex-direction: column
      justify-content: center
      margin-bottom: .3em
      padding: .5em
      transition: $transition
      & *
        opacity: .3
    div.awesome
      *
        opacity: 1
      input, textarea
        background: rgba(255, 255, 255, .1)
    label
      padding: .5em
      display: inline-block
      border: 2px dashed $secondary
      img
        width: 5vw
        margin: 0
      p
        margin: 0
      &:hover
        border: 2px dashed $highlight
    input[name$="-webdesign"]:checked ~ label[for$="-webdesign"]
      background-color: rgba(233, 233, 233, .4)
    input[name$="-branding"]:checked ~ label[for$="-branding"]
      background-color: rgba(233, 233, 233, .4)
    input[name$="-ux"]:checked ~ label[for$="-ux"]
      background-color: rgba(233, 233, 233, .4)
    input[name$="-hello"]:checked ~ label[for$="-hello"]
      background-color: rgba(233, 233, 233, .4)
    .continue
      display: none
      animation: slideIn 0.3s backwards
    input[data-continue="true"]:checked
      ~ .continue.project
        display: flex
        transform: translateX(0)
      ~ div span.hidden
        display: inline !important
      ~ div span.message
        display:none !important

    input[name$="-hello"]:checked
      ~ .continue.message, input[name$="-hello"]:checked ~ div .continue.message
        display: block
        transform: translateX(0)
      ~ div span.message
        display: inline !important
      ~ div span.project
        display: none !important
    .questionnaire-part-1
      width: 65%
      color: $highlight
@for $i from 1 through 9
  #contact .contact .continue.questionnaire-part-#{$i}
    animation-delay: ($i/5)+s
