.container {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 5%),
    0 10px 20px rgb(0 0 0 / 10%);
}

.item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  text-align: left;

  &.isSelected,
  &:hover {
    border-color: #eee;
  }
}
