@use './Alert.tokens.generated.scss' as alertTokens;

.alert {
  @include alertTokens.vars;

  &__inline {
    display: inline-flex;
    gap: var(--grid-gap-small) var(--grid-gap-small);
    align-items: baseline;
    padding: var(--alert-size-inline-padding, var(--core-size-06));
    background-color: var(
      --alert-color-background-primary,
      var(--semantic-color-background-primary)
    );

    &--info {
      color: var(
        --alert-color-foreground-info,
        var(--semantic-color-foreground-info)
      );
    }

    &--warning {
      color: var(
        --alert-color-foreground-warning,
        var(--semantic-color-foreground-warning)
      );
    }

    &--danger {
      color: var(
        --alert-color-foreground-danger,
        var(--semantic-color-foreground-danger)
      );
    }

    &--success {
      color: var(
        --alert-color-foreground-success,
        var(--semantic-color-foreground-success)
      );
    }
  }

  &__section {
    display: grid;
    grid-template-areas: 'icon title body dismiss';
    grid-template-columns: auto auto 1fr auto;
    gap: var(--grid-gap-small) var(--grid-gap-medium);
    align-items: baseline;
    padding: var(--alert-size-section-padding, var(--core-size-06));
    background-color: var(
      --alert-color-background-primary,
      var(--semantic-color-background-secondary)
    );
    border-radius: var(--alert-size-radius, var(--semantic-size-radius-02));

    &--info {
      background: var(
        --alert-color-background-info,
        var(--semantic-color-background-infoSubtle)
      );
      color: var(
        --alert-color-foreground-info,
        var(--semantic-color-foreground-onInfoSubtle)
      );
    }

    &--warning {
      background: var(
        --alert-color-background-warning,
        var(--semantic-color-background-warningSubtle)
      );
      color: var(
        --alert-color-foreground-warning,
        var(--semantic-color-foreground-onWarningSubtle)
      );
    }

    &--danger {
      background: var(
        --alert-color-background-danger,
        var(--semantic-color-background-dangerSubtle)
      );
      color: var(
        --alert-color-foreground-danger,
        var(--semantic-color-foreground-onDangerSubtle)
      );
    }

    &--success {
      background: var(
        --alert-color-background-success,
        var(--semantic-color-background-successSubtle)
      );
      color: var(
        --alert-color-foreground-success,
        var(--semantic-color-foreground-onSuccessSubtle)
      );
    }
  }

  &__page {
    display: grid;
    grid-template-areas: 'icon title dismiss' 'icon body dismiss';
    grid-template-columns: auto 1fr auto;
    gap: var(--grid-gap-small) var(--grid-gap-medium);
    align-items: baseline;
    min-height: var(--core-size-12);
    margin: 0 -1rem;
    padding: var(
      --alert-size-page-padding,
      var(--core-size-06) var(--core-size-08)
    );

    &--info {
      background: var(
        --alert-color-background-info,
        var(--semantic-color-background-infoStrong)
      );
      color: var(
        --alert-color-foreground-onColor,
        var(--semantic-color-foreground-onColor)
      );
    }

    &--warning {
      background: var(
        --alert-color-background-warning,
        var(--semantic-color-background-warningStrong)
      );
      color: var(
        --alert-color-foreground-onColor,
        var(--semantic-color-foreground-onColor)
      );
    }

    &--danger {
      background: var(
        --alert-color-background-danger,
        var(--semantic-color-background-dangerStrong)
      );
      color: var(
        --alert-color-foreground-onColor,
        var(--semantic-color-foreground-onColor)
      );
    }

    &--success {
      background: var(
        --alert-color-background-success,
        var(--semantic-color-background-success-strong)
      );
      color: var(
        --alert-color-foreground-onColor,
        var(--semantic-color-foreground-onColor)
      );
    }
  }

  & + .alert {
    margin-top: var(--core-size-04);
  }
}

.__icon {
  display: inline-block;
  grid-row: span 2;
  grid-column: span 1;
  grid-column-start: 1;
  width: var(--core-size-06);
  height: var(--core-size-06);
}

.__title {
  grid-area: title;
  grid-row: span 1;
  grid-column: span 1;
  grid-column-end: -2;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-06);
}

.__body {
  grid-area: body;
  grid-row: span 1;
  grid-column: span 1;
  grid-column-start: 2;
  font-size: var(--font-size-05);
}

.__dismiss {
  display: inline-block;
  grid-area: dismiss;
  grid-row: span 2;
  grid-column: span 1;
  grid-column-end: -1;
  cursor: pointer;
}
