.popoverContainer {
  display: inline-block;
}

.popoverTrigger {
  all: unset;
  border: none;
  background: none;
  cursor: pointer;
}

.popoverContent {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: var(--size-04);
  min-width: 256px;
  max-width: calc(100vw - var(--size-06));
  padding: var(--size-06);
  border-radius: var(--radius-02);
  background: var(--color-background-secondary);
  box-shadow: var(--elevation);
  will-change: transform, opacity;
}

.activeTrigger {
  display: inline-block;
  border-radius: var(--radius-full);
  outline: 2px solid var(--color-border-accent);
  outline-offset: 2px;
  line-height: 0;
  transition: all ease-out 2s;

  & > div:hover {
    transform: rotate(1080deg);
  }

}
