@font-face {
  font-family: "Nohemi";
  src: url(/fonts/Nohemi-vf.ttf) format("truetype");
}

:root {
  --light: rgb(240, 240, 240);
  --secondary: rgb(50, 50, 50);
  --dark: #181818;
  --foreground: var(--dark);
  --background: var(--light);
  --unit-base: 4px;
  --unit-xs: calc(var(--unit-base) * 2);
  --unit-sm: calc(var(--unit-base) * 4);
  --unit-md: calc(var(--unit-base) * 8);
  --unit-lg: calc(var(--unit-base) * 16);
  --unit-xl: calc(var(--unit-base) * 32);
  --color-accent: #ff6f61;

  font-family: "Nohemi", sans-serif;
  font-weight: 350;
  letter-spacing: 0.05em;
  line-height: 1.25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--light);
    --secondary: rgb(200, 200, 200);
    --background: var(--dark);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 1rem;
  color: var(--foreground);
  background: var(--background);
}

main {
  margin: 0 auto;
  padding-bottom: 2rem;
}
section + section {
  margin-top: var(--unit-lg);
}

ul {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}
h3 span {
  display: block;
  color: var(--secondary);
  font-weight: 300;
}
/* Graphics / Visuals */
img {
  border-radius: var(--unit-sm);
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.social-link {
  font-size: 1.5rem;
  display: inline-flex;

  margin-left: var(--unit-sm);
  align-items: center;
}
.social-link span {
  display: none;
}
.experience {
  padding: 1rem;
  list-style-type: none;
}
.experience li + li {
  margin-top: var(--unit-lg);
}
.container > * + * {
  margin-top: var(--unit-sm);
}
@media screen and (min-width: 1000px) {
  section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
  }
  main section + section {
    display: block;
    margin-top: var(--unit-xl);
  }
  main .hero {
    align-self: center;
  }
  .experience li {
    display: grid;
    /* date place description */
    grid-template-columns: 1fr 1fr 3fr;
    gap: 2rem;
  }
}
