.bentoBox {
  display: grid;
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid var(--color-accent);
  gap: -2px;
  grid-template-areas:
    "metrics metrics inputs inputs"
    "table table table table"
    "table table table table"
    "lineChart lineChart tooltip tooltip"
    "lineChart lineChart progress progress"
    "lineChart lineChart toast toast"
    "avatarFlag avatarFlag card card"
    "avatarFlag avatarFlag tabs tabs"
    " selections selections button button";
  --display-of-text: none;
  --display-of-icon: none;
  --display-of-image: 1; 

  --radius-card: var(--radius-02);
  --radius-button: var(--radius-full);
  --radius-input: var(--radius-01);
  --radius-switch: var(--radius-full);
  --radius-checkbox: var(--radius-01);
  --radius-radio: var(--radius-full);
  --radius-avatar: var(--radius-full);

  --background-card: var(--mid);
  --background-button: var(--background);
  --background-input: var(--background);
  --background-switch: var(--background);
  --background-checkbox: var(--background);
  --background-radio: var(--background);
  --background-avatar: var(--background);

  --stroke-thin: 1px;
  --stroke-thick: 2px;
  --stroke-color-01: var(--color-accent);
  --stroke-color-02: var(--background);
  --stroke-color-03: var(--foreground);
  --example-stroke: var(--stroke-thin) solid var(--stroke-color-01);

  --color-card: var(--color-accent);
  --color-button: var(--color-accent);
  --color-input: var(--color-accent);
  --color-switch: var(--color-accent);
  --color-checkbox: var(--color-accent);
  --color-radio: var(--color-accent);
  --color-avatar: var(--color-accent);

  --font-family-serif: "Merriweather", serif;
  --font-family-sans: "Arial", sans-serif;
  --font-family-mono: "Courier New", monospace;
 
}
@media screen and (min-width: 768px) {
  .bentoBox {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr 0.7fr 1fr 1fr;
    grid-template-areas:
      "button metrics metrics avatarFlag"
      "card selections table table"
      "card selections table table"
      "card progress table table"
      "inputs lineChart lineChart tooltip"
      "toast lineChart lineChart tabs";
 
  }
}
@media screen and (min-width: 1024px) {
  .bentoBox {
    
  }
}
.backgroundObscure {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  color: var(--foreground-obscure);
  background: var(--background-obscure);
  border-radius: var(--radius-01);
  margin: 0 var(--size-01);
}
.bentoBoxButton span:has(i) {
  border-radius: var(--radius-button);
}
span.backgroundObscure:has(img) {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
  border-radius: var(--radius-full);
}
.backgroundObscure:has(img) img {
  opacity: var(--display-of-image);
}
.bentoBoxInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid var(--color-accent);
  padding: calc((var(--size-04) * var(--scale)));
} 
.bentoBoxInner > * {
  cursor: unset;
  pointer-events: none;
}

.bentoBoxInner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(var(--scale));
  min-width: calc(100% / var(--scale));
  max-width: calc((100% / var(--scale)));
  transition: all 0.25s ease-in-out;
}
.bentoBoxInner:hover {
  animation: swapVars  cubic-bezier(0.19, 1, 0.22, 1) 5s infinite;
}
.bentoBoxInner:nth-child(1) {
  grid-area: button;
}
.bentoBoxInner:nth-child(2) {
  grid-area: metrics;
}
.bentoBoxInner:nth-child(3) {
  grid-area: avatarFlag;
}
.bentoBoxInner:nth-child(4) {
  grid-area: card;
}
.bentoBoxInner:nth-child(5) {
  grid-area: selections;
}
.bentoBoxInner:nth-child(6) {
  grid-area: table;
}
.bentoBoxInner:nth-child(7) {
  grid-area: progress;
}
.bentoBoxInner:nth-child(8) {
  grid-area: inputs;
}
.bentoBoxInner:nth-child(9) {
  grid-area: lineChart;
}
.bentoBoxInner:nth-child(10) {
  grid-area: tooltip;
}
.bentoBoxInner:nth-child(11) {
  grid-area: toast;
}
.bentoBoxInner:nth-child(12) {
  grid-area: tabs;
}
.bentoBoxButton {
  color: var(--color-button);
  background: var(--background-button);
  border-radius: var(--radius-button);
  border: var(--example-stroke);
} 

.bentoBoxMetrics {
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
}
.metric {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
}
.metricValue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-03) !important;
  font-weight: bold;
}
.metricValue i {
  font-size: var(--heading-05) !important;
  font-weight: bold;
  margin-right: var(--size-02);
}
.metricLabel {
  font-size: var(--heading-05) !important;
  font-weight: bold;
}
.avatarImage {
  border-radius: var(--radius-avatar);
  width: var(--size-07);
  height: var(--size-07);
  min-width: var(--size-07);
  min-height: var(--size-07);
  max-width: var(--size-07);
  max-height: var(--size-07);
}
.avatarFlag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
}
.avatarFlag i {
  margin: 0 var(--size-01);
}
.avatarFlag img {
  opacity: 0;
}
.userName {
  font-size: var(--heading-05) !important;
  display: grid;
  gap: var(--size-01);
  width: 100%;
}
.flag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-03);
  color: var(--color-avatar);
  background: var(--background-avatar);
  border-radius: var(--radius-avatar);
}
.bentoBoxCard {
  display: grid;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border: var(--example-stroke);
  border-radius: var(--radius-card);
  padding: var(--size-06);
}
.cardContent {
  display: grid;
  gap: var(--size-03);
}
.cardFooter {
  display: grid;
  gap: var(--size-03);
  grid-template-columns: 1fr 1fr;
}
.cardMetrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
  padding: var(--size-02) var(--size-03);
}
.cardMetric {
  font-size: var(--heading-06) !important;
  font-weight: bold;
}
.bentoBoxProgress span {
  opacity: 0;
}
.bentoBoxProgress {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--size-03);
  color: var(--color-accent);
  background: var(--background-card);
  border-radius: var(--radius-card);
  padding: var(--size-06);
}
.progressTrack {
  display: flex;
  width: 100%;
  height: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border: var(--example-stroke);
  border-radius: var(--radius-card);
}
.progressValue {
  width: var(--example-value, 30%);
  background: var(--color-accent);
  border-radius: var(--radius-card) 0 0 var(--radius-card);
}
.progressHandle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-input);
  border: var(--example-stroke);
  width: 16px;
  margin-left: -8px;
  border-radius: var(--radius-card);
}

.bentoBoxSelections,
.bentoBoxInputs {
  display: grid;
  width: 100%;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
  padding: var(--size-06);
}
.bentoBoxSelections label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
}
.bentoBoxSelections input {
  display: flex;
  width: var(--size-06);
  height: var(--size-06);
}
.toggleSwitch {
  display: flex;
  position: relative;
  max-height: 1.5rem;
  gap: 0.25rem;
  align-items: center;
  line-height: 1;
}
.toggleSwitch input {
  all: unset;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  border-radius: var(--radius-full);

  border: 1px solid var(--foreground);
  background-color: var(--background-secondary);
  transition: all 0.3s ease;
}
.toggleSwitch input.checked {
  background-color: var(--color-accent);
}
.toggleSwitch label::before {
  position: absolute;
  display: inline-block;
  top: 0.2125rem;
  left: 0.25rem;
  content: " ";
  height: 1rem;
  width: 1rem;
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: var(--radius-full);
  transition: all ease 0.3s;
}
.toggleSwitch label.checked::before {
  left: 1.75rem;
  background-color: var(--foreground);
}
.toggleSwitch input:focus-visible {
  outline: 0.2rem solid var(--color-accent);
  outline-offset: 0.2rem;
}
.toggleSwitch label {
  margin-left: 0.25rem;
  cursor: pointer;
}
.bentoBoxInputs input {
  display: flex;
  width: 100%;
  height: var(--size-06);
  color: var(--color-card);
  background: var(--background-input);
  border: var(--example-stroke);
  border-radius: var(--radius-input);
  padding: var(--size-03);
}
.bentoBoxInputs input::placeholder {
  width: fit-content;
  color: var(--foreground-obscure);
  background: var(--background-obscure);
}
.bentoBoxInputs select {
  display: flex;
  width: 100%;
  min-height: var(--size-06);
  background: var(--background-input);
  border: var(--example-stroke);
  border-radius: var(--radius-input);
  padding: var(--size-03);
}
.bentoBoxInputs option {
  width: fit-content;
  min-height: var(--size-06);
  color: var(--foreground-obscure);
  background: var(--background-obscure);
}
.bentoBoxTable {
  display: grid;
  gap: var(--size-03);
  width: 100%;
  color: var(--color-card);
  background: var(--background-card);
  border: var(--example-stroke);
  border-radius: var(--radius-card);
  border-collapse: collapse;
  overflow: hidden;
}
.bentoBoxTable tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: var(--example-stroke);
  gap: var(--size-03);
}
.bentoBoxTable th {
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
  text-align: left;
}
.bentoBoxTable td {
  display: flex;
  align-items: center;
  gap: var(--size-03);
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
  text-align: right;
}
.bentoBoxToast {
  position: relative;
  display: flex;
  gap: var(--size-03);
  width: 100%;
  color: var(--color-card);
  background: var(--background-card);
  border: var(--example-stroke);
  border-radius: var(--radius-card);
  padding: var(--size-08) var(--size-06);
}
.toastClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-card);
  background: var(--background-card);
  border-radius: var(--radius-card);
  padding: var(--size-03);
}
.bentoBoxLineChart {
  width: 100%;
  color: var(--color-card);
  background: var(--background-card);
  border: var(--example-stroke);
  border-radius: var(--radius-card);
  padding: var(--size-06);
}
.lineChart {
  fill: none;
  stroke: var(--color-accent);
  width: 100%;
}
.lineChart path,
.lineChart g {
  stroke: var(--color-accent);
  stroke-width: var(--stroke-thick);
}

.x_labels {
  text-anchor: middle;
}

.y_labels {
  text-anchor: end;
}

.grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label_title {
  font-size: 12px;
  fill: black;
}

@keyframes swapVars {
  0% {
    --background-obscure: var(--color-accent);
    --foreground-obscure: transparent;
    --display-of-image: 0;
  } 
  50% {
    --background-obscure: transparent;
    --foreground-obscure: var(--color-accent);
    --display-of-image: 1;
  } 
  100% {
    --background-obscure: var(--color-accent);
    --foreground-obscure: transparent;
    --display-of-image: 0;
  }
}