@use './Blockquote.tokens.generated.scss' as blockquoteTokens;

.blockquote {
  @include blockquoteTokens.vars;

  margin: var(--blockquote-size-padding-default) 0;
  padding: var(--blockquote-size-padding-default);
  color: var(--blockquote-color-foreground-primary);
  font-weight: var(--blockquote-typography-fontWeight);
  font-style: var(--blockquote-typography-fontStyle);
}

.sm {
  font-size: var(--semantic-typography-body-03);
  line-height: var(--semantic-typography-line-height-body);
}

.md {
  font-size: var(--semantic-typography-body-02);
  line-height: var(--semantic-typography-line-height-body);
}

.lg {
  font-size: var(--semantic-typography-body-01);
  line-height: var(--semantic-typography-line-height-body);
}

.default {
  border-inline-start: var(--core-shape-border-width-thick) solid
    var(--blockquote-color-border-default);
  padding-inline-start: var(--blockquote-size-padding-default);
}

.bordered {
  background: var(--blockquote-color-background-default);
  border: 1px solid var(--blockquote-color-border-default);
  border-radius: var(--blockquote-size-radius-default);
  border-inline-start-width: var(--core-shape-border-width-thick);
}

.highlighted {
  background: var(--blockquote-color-background-default);
  border-radius: var(--blockquote-size-radius-default);
  border-inline-start: var(--core-shape-border-width-thick) solid
    var(--blockquote-color-border-accent);
}
