@use './Postcard.tokens.generated.scss' as postcardTokens;

a:has(.post) {
  text-decoration: none !important;
}

.post {
  @include postcardTokens.vars;

  padding: var(--postcard-size-padding-default);
  background-color: var(--postcard-color-background-default);
  border: var(--postcard-size-border-default) solid
    var(--postcard-color-border-default);
  border-radius: var(--postcard-size-radius-default);
  transition: background-color 0.2s ease;
  margin-block-end: var(--postcard-size-margin-bottom);

  &:hover {
    background-color: var(--postcard-color-background-hover);
    border-color: var(--postcard-color-border-accent);
  }
}

.header {
  display: flex;
  gap: var(--postcard-size-gap-default);
  align-items: center;
  margin-block-end: var(--postcard-size-gap-default);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: var(--postcard-size-gap-small);

  & > p,
  & > p + p {
    margin: 0;
    line-height: 1;
  }
}

.displayName {
  margin: 0;
  color: var(--postcard-color-foreground-primary);
  font-weight: var(--postcard-typography-displayName-fontWeight);
  font-size: var(--postcard-typography-displayName-fontSize);
}

.handle {
  margin: 0;
  color: var(--postcard-color-foreground-secondary);
  font-size: var(--postcard-typography-handle-fontSize);
}

.timestamp {
  color: var(--postcard-color-foreground-secondary);
  font-size: var(--postcard-typography-handle-fontSize);
  margin-inline-start: auto;
}

.content {
  color: var(--postcard-color-foreground-primary);
  font-size: var(--postcard-typography-content-fontSize);
  line-height: var(--postcard-typography-content-lineHeight);
  white-space: pre-wrap;
  margin-block-end: var(--postcard-size-gap-default);
}

.video,
.image,
.audio {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--postcard-size-radius-medium);
  margin-block-start: var(--postcard-size-gap-default);
}

.footer {
  display: flex;
  gap: var(--postcard-size-gap-large);
  color: var(--postcard-color-foreground-secondary);
  font-size: var(--postcard-typography-footer-fontSize);
}

.stats {
  display: flex;
  gap: var(--postcard-size-gap-large);
}

.stat {
  display: flex;
  gap: var(--postcard-size-gap-small);
  align-items: center;
  padding: var(--postcard-size-gap-small) var(--postcard-size-gap-small);
  background: none;
  border: 2px solid var(--postcard-color-border-default);
  border-radius: var(--postcard-size-radius-full);
  color: var(--postcard-color-foreground-secondary);
  font-size: var(--postcard-typography-footer-fontSize);
  transition: color 0.2s ease;
  cursor: pointer;

  svg {
    width: var(--postcard-size-gap-default);
    height: var(--postcard-size-gap-default);
  }

  &:hover {
    color: var(--postcard-color-foreground-primary);
  }
}
