.footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-04);
  justify-content: space-evenly;
  justify-content: space-between;
  width: 100%;
  min-height: var(--size-09);
}

.footer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer li {
  margin: 0;
  border-top: 2px solid var(--color-border-light);
}

.footer li:last-of-type {
  border-bottom: 2px solid var(--color-border-light);
}

.social {
  display: flex;
  gap: var(--size-04);
  justify-content: space-between;
  width: 100%;
  padding: var(--size-10) var(--size-06);

}

.socialLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: var(--size-08);
  transition: all 0.5s ease-in-out;
}

.socialLink:hover {
  background: var(--color-core-transparent);
  color: var(--color-core-transparent) !important;
}

.socialLinkTitle  {
  display: flex;
  gap: var(--size-10);
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.marquee {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  gap: var(--size-10);
  align-items: center;
  overflow: hidden;
  width: fit-content;
  height: 0;
  background-color: var(--color-background-accent);
  color: var(--color-foreground-primary);
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
  transform: translateY(-50%);
}

.box {
  position: relative;
  display: flex;
  gap: var(--size-10);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.socialLink:hover .marquee {
  height: 100%;
  background-color: var(--color-background-accent);
  color: var(--color-foreground-onColor);
}

.copyRight {
  display: flex;
  gap: var(--size-04);
  align-items: center;
  width: 100%;
  padding: var(--size-08) var(--size-06);
  color: var(--color-foreground-primary);
}

@media screen and (width >= 1000px) {
  .socialLinkTitle, .social, .copyRight  {
    max-width: 1440px;
    margin: 0 auto;
  }

  .social, .copyRight {
    padding: var(--size-08) var(--size-06);
  }
}
