.footer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: var(--size-04);
  justify-content: space-between;
  width: 100%;
  min-height: var(--size-09);
}
.footer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer li {
  margin: 0;
  border-top: 2px solid var(--color-border-light);
}
.footer li:last-of-type {
  border-bottom: 2px solid var(--color-border-light);
}
.social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--size-04);
  padding: var(--size-10) var(--size-06);

}
.socialLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: var(--size-08);
  transition: all 0.5s ease-in-out;
}
.socialLink:hover {
  background: var(--color-core-transparent);
  color: var(--color-core-transparent) !important;
}
.socialLinkTitle  {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  gap: var(--size-10);
}
.marquee {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: 0;
  overflow: hidden;
  width: fit-content;
  white-space: nowrap;
  gap: var(--size-10);
  background-color: var(--color-background-accent);
  color: var(--color-foreground-primary);
  transition: all 0.5s ease-in-out;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-10);
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.socialLink:hover .marquee {
  height: 100%;
  background-color: var(--color-background-accent);
  color: var(--color-foreground-onColor);
}
.copyRight {
  display: flex; 
  align-items: center;
  gap: var(--size-04);
  padding: var(--size-08) var(--size-06);
  width: 100%;
  color: var(--color-foreground-primary);
}
@media screen and (min-width: 1000px) {
  
  .socialLinkTitle, .social, .copyRight  {
    max-width: 1440px;
    margin: 0 auto;
  } 
  .social, .copyRight {
    padding: var(--size-08) var(--size-06); 
  }
}
