@use './TextField.tokens.generated.scss' as textfieldTokens;

.field {
  @include textfieldTokens.vars;

  display: grid;
  gap: 0.375rem;
}

.description {
  opacity: 0.8;
  font-size: 0.875rem;
}

.error {
  color: var(--textfield-color-error);
  font-size: 0.875rem;
}
