.hero {
  display: grid;
  gap: var(--size-07);
  margin-top: var(--size-07);
  grid-template-columns: 1fr;
}
.articleContent {
  max-width: 55rem;
  margin: 0 auto;
}
.articleContent h2 {
  font-size: var(--heading-02);
}
.articleContent p {
  font-size: var(--body-02);
  line-height: 1.5;
}
.articleContent > * + * {
  margin-top: var(--size-07);
}
.articleContent aside div > * + * {
  margin-top: var(--size-07);
}
.articleLede > * + * {
  margin-top: var(--size-04);
}
.articleLede img {
  border-radius: var(--size-05);
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.prev-next {
  display: grid;
  gap: var(--size-05);
  margin-top: var(--size-07);
  grid-template-columns: 1fr 1fr;
}
.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-06);
}
.byline {
  display: flex;
  align-items: center;
  gap: var(--size-05);
  justify-content: space-between;
}
.byline > * + * {
  margin-top: var(--size-03);
}
.links {
  display: flex;
  gap: var(--size-03);
  align-items: center;
  justify-content: space-between;
}
.share {
  display: flex;
  gap: var(--size-03);
  align-items: center;
}
.links ul {
  display: flex;
  gap: var(--size-03);
  padding: 0;
  margin: 0;
  margin-left: var(--size-03);
  list-style: none;
}
.prev_next {
  display: grid;
  gap: var(--size-05);
  margin-top: var(--size-07);
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 1000px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .meta {
    flex-direction: row;
  }
  .byline {
    flex-direction: row;
    align-items: center;
  }
  .articleContent aside {
    display: grid;
    gap: var(--size-07);
    grid-template-columns: 1fr 1fr;
  }
}
