.toggleSwitch {
  position: relative;
  display: inline-flex;
  align-items: center;
  align-content: center;
  gap: 0.25rem;
  max-height: 1.5rem;
  line-height: 1;
  border-radius: var(--radius-full);

  &:focus-within {
    outline: 2px solid var(--color-border-accent);
    outline-offset: 2px;
  }

  &:has(input:focus),
  &:has(label:focus) {
    outline: 2px solid var(--color-border-accent);
    outline-offset: 2px;
  }

  input {
    display: inline-flex;
    width: 3rem;
    min-width: 3rem;
    height: 1.5rem;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--radius-full);
    transition: all 0.3s ease;
    cursor: pointer;
    all: unset;

    &:disabled {
      background-color: var(--color-background-disabled);
      cursor: not-allowed;
    }
  }
}

.toggleSwitch input.checked {
  background-color: var(--color-background-primary);
}

.toggleSwitch label {
  margin-left: 0.25rem;
  cursor: pointer;
}

.toggleSwitch input:disabled + label {
  color: var(--color-foreground-disabled);
  cursor: not-allowed;
}

.toggleSwitch label::before {
  content: ' ';
  position: absolute;
  top: 0.2125rem;
  left: 0.25rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-full);
  transition: all ease 0.3s;
}

.toggleSwitch label.checked::before {
  left: 1.75rem;
  background-color: var(--color-background-accent);
}
