@use './Toggle.tokens.generated.scss' as toggleTokens;

.toggleSwitch {
  @include toggleTokens.vars;

  position: relative;
  display: inline-flex;
  gap: 0.25rem;
  align-content: center;
  align-items: center;
  max-height: 1.5rem;
  border-radius: var(--toggle-size-radius-full);
  line-height: 1;

  &:focus-within {
    outline: 2px solid var(--toggle-color-border-accent);
    outline-offset: 2px;
  }

  &:has(input:focus),
  &:has(label:focus) {
    outline: 2px solid var(--toggle-color-border-accent);
    outline-offset: 2px;
  }

  input {
    all: unset;
    display: inline-flex;
    width: 3rem;
    min-width: 3rem;
    min-height: 1.5rem;
    max-height: 1.5rem;
    background-color: var(--toggle-color-background-track);
    border: 1px solid var(--toggle-color-border-track);
    border-radius: var(--toggle-size-radius-full);
    transition: all 0.3s ease;
    cursor: pointer;

    &:disabled {
      background-color: var(--toggle-color-background-trackDisabled);
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--toggle-color-background-trackHover);
    }

    &:focus {
      background-color: var(--toggle-color-background-trackFocus);
    }
  }
}

.toggleSwitch input.checked {
  background-color: var(--toggle-color-background-trackChecked);
}

.toggleSwitch label {
  margin-left: 0.25rem;
  cursor: pointer;
}

.toggleSwitch input:disabled + label {
  color: var(--toggle-color-foreground-labelDisabled);
  cursor: not-allowed;
}

.toggleSwitch label::before {
  position: absolute;
  top: 0.2125rem;
  left: 0.25rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--toggle-color-background-thumb);
  border: 1px solid var(--toggle-color-border-thumb);
  border-radius: var(--toggle-size-radius-full);
  transition: all ease 0.3s;
  content: ' ';
}

.toggleSwitch label.checked::before {
  left: 1.75rem;
  background-color: var(--toggle-color-background-thumbChecked);
}
