.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 75vh;
  min-height: 50vh;
  margin: 0;
  padding: 0;
}

.hero:first-of-type {
  min-height: 75vh;
}

.heroLink {
  color: var(--color-foreground-primary);
}

.headingHero {
  z-index: 1;
  max-width: 90vw;
  margin: 0 auto;
}

.headingHero h1 {
  max-width: 16em;
  line-height: 1.3;
  letter-spacing: var(--letter-spacing-tight);
}

.headingHero h1 span:first-of-type {
  z-index: 1;
  display: inline-block;
  margin-bottom: var(--size-02);
  color: var(--color-foreground-accent);
  font-size: var(--heading-06);
  letter-spacing: var(--letter-spacing-normal);
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 50vh;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--color-background-primary) 0%,
    var(--color-core-transparent) 10% 90%,
    var(--color-background-primary) 100%
  );
  pointer-events: none;
}

.about {
  max-width: 1440px;
  margin: 0 auto;
}

.quip {
  position: relative;
  min-height: unset;
  padding: 15vh 0;
  padding: unset;
}

.education {
  min-height: unset;
  padding: 5vh 0 0;
}

@media screen and (width <= 992px) {
  .blueprintSVG {
    grid-template-columns: 1fr;
  }
}

.component {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  .faceplate {
    z-index: 3;
  }

  .bottom {
    z-index: 0;
  }

  .top {
    z-index: 2;
  }

  .middle {
    z-index: 1;
  }

  .propsvg {
    z-index: 4;
  }

  svg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
  }

  .propsTable svg {
    opacity: 0;
  }
}

.blueprintSVG {
  display: grid;
  grid-template-columns: 1fr 1fr;
  filter: blur(4px);

  & > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .propsvg {
    opacity: 0;
  }

  &:hover {
    filter: blur(1px);

    .faceplate {
      opacity: 0;
      transform: translateY(-10%);
    }

    .bottom {
      transform: translateY(10%);
    }

    .top {
      transform: translateY(-10%);
    }

    .middle {
      transform: translateY(0%);
    }

    .propsvg {
      opacity: 1;
      transform: translateY(-10%);
    }

    .propsTable svg {
      opacity: 0.7;
    }
  }
}
