@use './Divider.tokens.generated.scss' as dividerTokens;

.divider {
  @include dividerTokens.vars;

  flex-shrink: 0;
  margin: 0;
  background-color: var(--divider-color-border-default);
  border: none;
}

.horizontal {
  margin-block: var(--divider-size-padding-default);
  block-size: var(--core-shape-border-width-hairline);
  inline-size: 100%;
}

.vertical {
  margin-inline: var(--divider-size-padding-default);
  block-size: 100%;
  inline-size: var(--core-shape-border-width-hairline);
}
