.bentoBox {
  display: grid;
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid var(--color-accent);
  gap: -2px;
  grid-template-areas:
    "metrics metrics inputs inputs"
    "table table table table"
    "table table table table"
    "lineChart lineChart tooltip tooltip"
    "lineChart lineChart progress progress"
    "lineChart lineChart toast toast"
    "avatarFlag avatarFlag card card"
    "avatarFlag avatarFlag tabs tabs"
    " selections selections button button";
  --display-of-text: none;
  --display-of-icon: none;
  --display-of-image: 1; 

  --radius-card: var(--radius-02);
  --radius-button: var(--radius-full);
  --radius-input: var(--radius-01);
  --radius-switch: var(--radius-full);
  --radius-checkbox: var(--radius-01);
  --radius-radio: var(--radius-full);
  --radius-avatar: var(--radius-full);

  --background-card: var(--mid);
  --background-button: var(--background);
  --background-input: var(--background);
  --background-switch: var(--background);
  --background-checkbox: var(--background);
  --background-radio: var(--background);
  --background-avatar: var(--background);

  --stroke-thin: 1px;
  --stroke-thick: 2px;
  --stroke-color-01: var(--color-accent);
  --stroke-color-02: var(--background);
  --stroke-color-03: var(--foreground);
  --example-stroke: var(--stroke-thin) solid var(--stroke-color-01);

  --color-card: var(--color-accent);
  --color-button: var(--color-accent);
  --color-input: var(--color-accent);
  --color-switch: var(--color-accent);
  --color-checkbox: var(--color-accent);
  --color-radio: var(--color-accent);
  --color-avatar: var(--color-accent);

  --font-family-serif: "Merriweather", serif;
  --font-family-sans: "Arial", sans-serif;
  --font-family-mono: "Courier New", monospace;
 
}
@media screen and (min-width: 768px) {
  .bentoBox {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr 0.7fr 1fr 1fr;
    grid-template-areas:
      "button metrics metrics avatarFlag"
      "card selections table table"
      "card selections table table"
      "card progress table table"
      "inputs lineChart lineChart tooltip"
      "toast lineChart lineChart tabs";
 
  }
}  