html
  background-color: $secondary
#article-post
  .main-content
    background-color: $light
    color: $dark
    width: 65%
    margin: 0 auto
    .article-content
      line-height: 1.35em
      padding: 5em
      p
        margin-bottom: 1.5em
  #nav-toggler:checked + .page-wrap
    .main-content
      position: relative

  header
    height: 35vh
    background:  linear-gradient(rgba(0, 0, 14, 0.45), rgba(0, 0, 14, 0.45)), url('../assets/expectational-debt.jpg') no-repeat center
    background-size: cover
    color: $light
    text-align: center
    position: relative
    div
      margin: 0 auto
      padding: 2em 0
    h1
      letter-spacing: .3em
  #contact
    background-color: $dark
  img
    width: 100%
    margin: 2em 0
  img.float
    width: 50%
    float: left
    margin: 1em 2em 1em 0
  .article-content
    h1
      font-weight: 200
      text-shadow: $shadow
    h2
      font-family: "brandon-grotesque", "proxima-nova", lato, helvetica, verdana, sans-serif
      font-weight: 300
      color: $secondary
    h3
      color: $main
