html
  background-color: $light
  font-size: 50%
#article-post
  ul.share
    li
      display: inline-block
      list-style-type: none

  header
    height: 35vh
    background:  linear-gradient(rgba(0, 0, 14, 0.45), rgba(0, 0, 14, 0.45)), url('../assets/expectational-debt.jpg') no-repeat center
    background-size: cover
    color: $light
    text-align: center
    position: relative
    h1
      letter-spacing: .3em
      font-weight: 300
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
  .article-content
    background-color: $light
    color: $dark
    margin: 0 auto
    padding: .5em
    line-height: 1.8
    padding: 3em

    h1
      font-weight: 400
      text-shadow: $shadow
      margin-bottom: 1em
      line-height: inherit
      letter-spacing: normal
    h2
      font-family: "brandon-grotesque", "proxima-nova", lato, helvetica, verdana, sans-serif
      font-weight: 500
      color: #9f9f9f
      margin-bottom: 1em
      line-height: inherit

    h3
      color: $main
      margin-bottom: 1em

    p
      margin-bottom: 1.5em
      font-size: 1.3em
      & + p
        margin-top: -1.5em
        text-indent: 2em
    ul
      margin-bottom: 1.5em
    img
      width: 100%
      margin: 2em 0
    img.float
      width: 50%
      float: left
      margin: 1em 2em 1em 0
  #nav-toggler:checked + .page-wrap
    .main-content
      position: relative
  #contact
    background-color: $dark
  .callout
    position: absolute
    height: 25vh
    width: 100vw
    left: 0
    text-align: center
    margin-bottom: 1em

    h2
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
      color: $light
      font-size: 1.2em
      &::before
        content: open-quote

      &::after
        content: close-quote

    & + *
      margin-top: 38vh

  header#webdes
    background: linear-gradient(rgba(0, 0, 14, 0.45), rgba(0, 0, 14, 0.45)), url('../assets/office.jpg') no-repeat bottom
    background-size: cover
  .webdes
    .callout
      background:  linear-gradient(rgba(0, 0, 14, 0.45), rgba(0, 0, 14, 0.45)), url('../assets/coffee.jpg') no-repeat bottom
      background-size: cover
  header#expectational-debt
    background: linear-gradient(rgba(0, 0, 14, 0.45), rgba(0, 0, 14, 0.45)), url('../assets/expectational-debt.jpg') no-repeat bottom
    background-size: cover
  .expectational-debt
    .callout
      position: absolute
      background:  linear-gradient(rgba(0, 0, 14, 0.45), rgba(0, 0, 14, 0.45)), url('../assets/expectational-debt.jpg') no-repeat bottom
      background-size: cover
@media screen and (min-width: 1024px)
  #article-post
    .article-content
      width: 65%
      p
        font-size: 1.3em
      h2
        font-size: 1.9em
      // ul
      //   width: 30%
      //   position:absolute
      //   left: 25%
      //   & + *
      //     margin-top: 10em
    .callout
      height: 25vh
      & + h2
        margin-top: 38vh
