.container
  .article-content
    position: relative
    transform: translateX(-50%)
    left: 50%
    line-height: 1.8
.publications
  div
    img
      filter: drop-shadow(1px 3px 10px #333)

@media only screen and (min-width: 800px)

  .container
    .article-content
      width: 60%
  .publications
    justify-content: space-between
    div
      width: 48%
      & ~ div
        display: flex
        align-items: center
        align-content: center
        justify-content: space-between
        flex-wrap: wrap
        a
          display: inline-block
          width: 45%
          & ~ a
            margin-left: 1em
        img
          filter: grayscale(1)
          width: 100%
