#img-quilt
  position: relative
  transform: translateX(-25%)
  width: 80vw
  height: 100vh
  overflow-y: hidden
  img
    position: static
    transform: none
    float: left
    width: calc(100% / 2.2)


@media only screen and (min-width: 800px)
  #img-quilt
    img
      width: calc(100% / 4.2)
