#home
  background-color: $dark
  header
    position: relative
    text-align: center
    background-size: cover
    background-color: $main
    height: 100vh
    padding: 1em
    overflow: hidden

    h1
      position: absolute
      transform: translateX(-50%)
      left: 50%
      bottom: 1em
      color: $main
      font-size: 1.5em
      mix-blend-mode: difference
      font-weight: 100
      font-family:  lato, sans-serif
      text-transform: uppercase
      letter-spacing: .25em
    h2
      color: $main
      mix-blend-mode: difference
      font-size: 4em
      font-weight: 900
  .angle
    width: 300%
    height: 100%
    background-color: $dark
    transform: rotate(-60deg)
    transform-origin: center
    position: absolute
    left: 0
    top: 1em
  #deer
    display: none
    mix-blend-mode: difference
  .icons
    display: inline-flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    margin: 1em auto
    text-align: center

    img
      height: 10vh
      margin-bottom: 1em
      transition: $transition
      cursor: pointer
  .logo
    display: inline-flex
    flex-direction: column
    justify-content: space-between
    text-align: center
  #descriptions
    display: block
    background-color: $light
    color: $dark
  .icon-description
    display: flex
    flex-direction: column
    align-content: space-between
    padding: 1em

  #case-studies
    color: $dark
    text-align: center
    p:last-of-type
      margin-bottom: 2em

    img
      width: 100%
  div.featured:nth-of-type(4)
    background-color: $section
    color: $dark
  .articlelist
    background-image: url('../assets/street.jpg')
    background-size: cover
    background-attachment: fixed
  .articles
    color: $dark
    .card
      overflow: hidden
      h2
        margin-bottom: 1.5em



// Media queries //
@media only screen and (min-width: 720px)
  #home
    header
      display: flex
      justify-content: center
      align-items: center

      h2
        position: absolute
        bottom: 50%
        right: 10%
      .angle
        transform: rotate(-60deg)matrix()
        left: -1em
        top: -8em
      #deer
        display: block
        position: absolute
        left: -.5em
        bottom: -.5em
        height: 40%
        z-index: 0
@media only screen and (min-width: 1025px)
  #home
    header
      h1
        font-size: 270%
      .angle
        transform: rotate(-33deg)
        left: -74.5%
        top: 55%
      #deer
        height: 80%
    .main
      display: flex
      flex-direction: row
      flex: 1
      justify-content: flex-start
      align-items: stretch
      align-content: stretch
    .icons
      flex-wrap: nowrap
      img
        position: relative
        height: 10vw
        left: -.81em
      .logo:hover img
        position: relative
        transform: translate(0, -1rem)
    .icon-description.active
      display: flex
      flex-direction: column
      justify-content: space-around
      flex: 1
      background-color: $light
      opacity: 0
      animation: fadeIn .5s ease-in 1 forwards
      animation-play-state: running
    .clicked
      margin: inherit auto
      width: 25%

      .module
        float: none
        width: 100%
    .icon-description
      display: none
      opacity: 0
      transition: $transition
      transition-delay: 1s
      animation-play-state: paused

    #descriptions
      background-color: $dark
      display: inline-flex
      width: 74.3%
      flex-direction: column
      flex: 1
      align-items: stretch
      vertical-align: baseline
      position: relative
    #case-studies
      display: flex
      height: 100vh
      &:hover
        #card-1, #card-2, #card-3
          transform: translate(0, -50%)
          height: 65vh
    .featured .card
      transform: translateY(-50%)
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      width: 30%
    #card-1
      transform: translate(40%, -42%)
      height: 60vh

    #card-3
      transform: translate(-40%, -42%)
      height: 60vh

    #case-studies .card-main
      z-index: 2
      height: 70vh
    .articles
      height: 80vh
      display: flex
      .card
        height: 70vh
        img
          width: 120%
          top: -8vw
          position: absolute
          transform: translateX(-50%)
          left: 50%
        h2
          margin-top: 60%
        .artcont
          position: absolute
          width: 90%
          transform: translateX(-50%)
          left: 50%
          position: absolute
          bottom: 2em
          transform: translateX(-50%)
          left: 50%
        &:hover
          position: relative
          box-shadow: $shadow
          top: 48%
    #case-studies, .articles
      padding: 2em
