#webdesign
  #hero
    background: #152121 url('../assets/Web-Design.jpg') no-repeat center
    background-size: cover
    height: 65vh
    color: #fafafa
    text-align: center
    position: relative
    div
      margin: 0 auto
      padding: 2em 0
    h2
      font-family: "brandon-grotesque", "proxima-nova", lato, helvetica, verdana, sans-serif
      font-weight: 300
      font-size: 1.3em
    h1
      font-weight: 300
      letter-spacing: .3em
      font-size: 2em
  #process
    padding: 1em
    background-color:#fafafa
    .card
      background-color: #152121
      &:hover
        background-color: #90d8cd
        color: #152121
        .btn
          background-color: #fee197
    h2
      margin-bottom: 1.5em

  .case-study
    background-color: $light
    color: $dark
    img
      display: inline-block
      height: 40px
      margin-right: 2%
      & + h3
        width: 70%
        display: inline
        position: relative
        top: -.4em
    .case-content *:not(img)
      margin-bottom: 3em
    .case-content
      margin: 1em auto
      width: 80%
    &::after
      content: ''
      display: block
      width: 100%
      padding: 60% 0
      margin: 2em auto 0
  .case-study-one::after
    background: url('../assets/web-ks-m.jpg')
    background-size: 100% auto
  .case-study-two::after
    background: url('../assets/web-port-m.jpg')
    background-size: 100% auto
  .case-study-three::after
    background: url('../assets/web-out-m.jpg')
    background-size: 100% auto
  section ~ h2
    text-align: center
  #testimony
    display: flex
    justify-content: space-between
    background-color: $light
    color: $dark
    text-align: center
    padding: 2em 0
  .person
    display: inline-block
    width: 27%
    margin-left: auto
    margin-right: auto
  .circle
    border-radius: 50%
    width: 80%

@media only screen and (min-width: 1025px )
  #webdesign
    #hero div
      width: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -70%)
      left: 50%
      h2
        font-family: "brandon-grotesque", "proxima-nova", lato, helvetica, verdana, sans-serif
        font-weight: 300
        font-size:1.8em
      h1
        letter-spacing: .3em
        font-size: 3em

    #process
      display: flex
      justify-content: center
      position: relative
      height: 55vh
      .card
        position: relative
        flex-direction: column
        justify-content: space-between
        width: 24%
        min-height: 70vh
        height: auto
        vertical-align: top
        top: -20vh
        font-size: 1.3em
        padding:1em
        transition: all ease .3s
        p
          margin-bottom: 2em
        .btn
          position: absolute
          bottom: 2em
          transform: translateX(-50%)
          left: 50%
        &:hover
          top:-23vh


    .case-study
      color: $light
      &::after
        background: none
        content: ''
        display: none

    .case-study-one
      background: url('../assets/web-ks.jpg') no-repeat center

    .case-study-two
      background: url('../assets/web-port.jpg') no-repeat center

    .case-study-three
      background: url('../assets/web-out.jpg') no-repeat center
      color: #152121
    section[class|='case-study']
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      background-attachment: fixed
      position: relative
      height: 100vh

    .case-content
      width: 80%
      position: absolute
      top: 50%
      transform: translateY(-50%)
      padding: 0 10%

    hr
      display: inline-block
      width: 40%
  #more-work
    display: flex
    width:80%
    margin: 0 auto
    justify-content: space-between
    flex-wrap: wrap
    .mw-square
      position: relative
      display:inline-block
      height: 23%
      width: 23%
      margin:1em auto
      img
        width: 100%
      h5
        display: none
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        left: 50%
      &:hover
        h5
          display: block
        img
          opacity: .15
