pre {
  padding: 0.75rem 1rem;
  font-family: JetBrainsMono, monospace;
  color: #fff;
  background: #0d0d0d;
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
}

.code-block {
  position: relative;
}

.code-block select {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

code {
  padding: 0;
  font-size: var(--body-02);
  color: inherit;
  background: none;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
