@use './Label.tokens.generated.scss' as labelTokens;

.label {
  @include labelTokens.vars;

  color: var(--label-color-text-default);
  font: inherit;
  font-weight: var(--label-typo-weight-default);
  line-height: var(--label-typo-lineHeight-default);
}
