---
layout: default
---
  {% include header.html %}
<div class="article-content {{page.head}}">

  <h1>{{page.title}}</h1>
  <p>
    <small>{{page.date | date_to_long_string}} | <em class="{{page.class}}" >{{page.type}}</em></small>
  </p>
  <p>
    &mdash; <a href="{{site.baseurl}}/about">Darian Rosebrook</a>
  </p>
  {{content}}
  <div class="share">
        <h1>If you found this article helpful, consider sharing with your friends: </h1>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="d_evyn" data-hashtags="webdesign,design">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>

{% include contact.html %}
