---
layout: default
custom_css: articles
---
  {% include header.html %}
<div class="article-content {{page.head}}">

  <h1>{{page.title}}</h1>
  <p>
    <small>{{page.date | date_to_long_string}} | <em class="{{page.class}}" >{{page.type}}</em></small>
  </p>
  <p>
    &mdash; <a href="{{site.baseurl}}/about">Darian Rosebrook</a>
  </p>
  {{content}}
  <div class="share">
        <h1>If you found this article helpful, consider sharing with your friends: </h1>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=d_evyn&amp;related=d_evyn" rel="nofollow" target="_blank" title="Share on Twitter" class="btn secondary"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="btn secondary"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="btn secondary"><i class="fa fa-google"></i> Google+</a>
    </div>
</div>

{% include contact.html %}
