---
layout: default
---
<article class="hero row">
  <article>
    <div class="row-head">
      <h2 >Article</h2>
      <h2><a href="/work"><i class="fa fa-arrow-left"><span>Main menu,</span></i> Head Back</a></h2>
    </div>
    <article>
      <div class="module">
        <figure class="f-r cf">
          <img loading="lazy" src="{{page.hero_image}}" alt="{{page.title}} " />
        </figure>

        <p>{% include {{page.logo}} %}</p>
        <h2>{{page.company}}</h2>
        <h1 class="name"><span>{{page.position}}</span></h1>
        <p>{{page.subtitle}}</p>
        <h6>{{page.startDate |  date: "%b %Y" }} &mdash; {{page.endDate |  date: "%b %Y" }}</h6>
        <div><small>{% capture words %}{{ page.content | number_of_words | minus: 250 }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 200 | append: " minute read" }}{% endunless %}</small></div>
        <p>{{page.description}}</p>
        <h2>Skills Used</h2>
        <ul class="title-list">
          {% for li in page.skills-used %}
          <li>{{li}}</li>
          {% endfor %}
        </ul>
      </div>

    </article>

  </article>
</article>
{{page.content}}
