---
layout: default
---
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<header class="container hero featured-{{page.class}}">
      <h1>Case Study</h1>
      <div class="row featured info">
        {% if page.logo %}<img src="{{page.logo}}" alt="{{page.company}}" class="logo" />{% endif %}
      </div>
</header>
<section class="container {{page.head}}">
  <article class="row article-content">
    <h2>{{page.title}}</h2>
    <p>
      <small>{{page.date | date_to_long_string}} | <em class="{{page.class}}" >{{page.type}}</em></small>
    </p>

    {{content}}
    <div class="share">
          <h3>If you found this case study helpful, consider sharing this with your friends: </h3>
          <a href="https://twitter.com/intent/tweet?text={{ page.title | replace: " ", "%20" }}&amp;url={{ site.url }}{{ page.url }}&amp;via=d_evyn&amp;related=d_evyn" rel="nofollow" target="_blank" title="Share on Twitter" class="button secondary"><i class="fa fa-twitter"></i> Twitter</a>
          <a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&t={{page.title | replace: " ", "%20"}}" rel="nofollow" target="_blank" title="Share on Facebook" class="button secondary"><i class="fa fa-facebook"></i> Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="button secondary"><i class="fa fa-google"></i> Google+</a>
          <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"   data-pin-custom="true" rel="nofollow" target="_blank" title="Share on Pinterest" class="button secondary"><i class="fa fa-pinterest"></i>Pinterest</a>
      </div>
  </article>
</section>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
