---
occupation: Product and User Experience Designer
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description | truncate: 200}}" />
    <base href="{{ site.baseurl }}">

<!-- Cue bongos -->
<!--
                               I think it's time we blow this scene.
                               Get everybody and the stuff together.

    ,----..                         .--,-``-.
   /   /   \       ,-.             /   /     '.                    ,----,                 ,---,
  /   .     :  ,--/ /|            / ../        ;                 .'   .' \             ,`--.' |
 .   /   ;.  ,--. :/ |            \ ``\  .`-    '              ,----,'    |           /    /  :
.   ;   /  ` :  : ' /              \___\/   \   :              |    :  .  ;          :    |.' '
;   |  ; \ ; |  '  /                    \   :   |              ;    |.'  /           `----':  |
|   :  | ; | '  |  :                    /  /   /               `----'/  ;               '   ' ;
.   |  ' ' ' |  |   \                   \  \   \                 /  ;  /                |   | |
'   ;  \; /  '  : |. \              ___ /   :   |               ;  /  /-,               '   : ;
 \   \  ',  /|  | ' \ \            /   /\   /   :              /  /  /.`|               |   | '
  ;   :    / '  : |--___          / ,,/  ',-    ___          ./__;      ___             '   : |___
   \   \ .'  ;  |,' /  .\         \ ''\        /  .\         |   :    ./  .\            ;   |./  .\
    `---`    '--'   \_ ; |         \   \     .'\_ ; |        ;   | .'  \_ ; |           '---' \_ ; |
                    /  ,"           `--`-,,-'  /  ,"         `---'     /  ,"                  /  ,"
                   '--'                       '--'                    '--'                    --'
                ___           __    __                                            __
               /\_ \         /\ \__/\ \                   __                     /\ \
               \//\ \      __\ \ ,_\ \/      ____        /\_\     __      ___ ___\ \ \
                 \ \ \   /'__`\ \ \/\/      /',__\       \/\ \  /'__`\  /' __` __`\ \ \
                  \_\ \_/\  __/\ \ \_      /\__, `\       \ \ \/\ \L\.\_/\ \/\ \/\ \ \_\
                  /\____\ \____\\ \__\     \/\____/       _\ \ \ \__/.\_\ \_\ \_\ \_\/\_\
                  \/____/\/____/ \/__/      \/___/       /\ \_\ \/__/\/_/\/_/\/_/\/_/\/_/
                                                         \ \____/
                                                          \/___/         -->

    <!-- S T Y L E S and S C R I P T S -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/master.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/print.css" media="print" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">

    <link rel="author" href="https://twitter.com/darianrosebrook" />
    <meta name="theme-color" content="#261924" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index,follow">
    <link rel="canonical" href=" {{ site.url }}{{ page.url }}" />
    <!-- <link rel="amphtml" href="{{ site.url }}"> -->

<!-- Buh, nuh, nuh, nuh, nuh, nuh, nuh nuh, nuuuuuh -->

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@darianrosebrook" />
    <meta name="twitter:creator" content="@darianrosebrook" />
    <meta name="twitter:url" content="https://darianrosebrook.com" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.description | truncate: 196}}" />
    <meta name="twitter:image" content="https://darianrosebrook.com/assets/img/index.jpg" />
    <!-- pinterest -->
    <meta name="p:domain_verify" content="4990647bc88b5df93fc24e07f254d0a9"/>
    <!-- facebook -->
    <meta property="fb:app_id" content="1076166062457470" />
    <meta property="og:url" content="{{site.url}}/{{page.id}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="https://darianrosebrook.com/assets/img/index.jpg" />
    <meta property="og:description" content="{{page.description | truncate: 167}}" />
    <meta property="og:site_name" content="Darian Rosebrook" />
    <meta property="og:locale" content="en_US" />

<!-- Buh, nuh, nuh, nuh, nuh, nuh, nuh nuh, nuuuuuh -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#f2f2f2">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

<!-- Buh, nuh, nuh, nuh, nuh, nuh, nuh nuh, nuuuuuh -->


    <!-- Microsoft Bing Verification -->
    <meta name="msvalidate.01" content="C6EC4F07A5BCCB5E908BF39B3692C3DB" />
    <!-- G o o g l e   A n a l y t i c s -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74665762-1"></script>

<!-- Buh, nuh, nuh, nuh, nuh, nuh, nuh nuh, nuuuuuh -->

    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:992258,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-74665762-1');
    </script>

<!-- Bahdup! Bahdup!  Bap, Bahdup! Bahdup! -->

    <script type="application/ld+json">
      {
      "@context": "http://www.schema.org",
      "@type": "Person",
      "@id": "https://darianrosebrook.com/about",
      "name": "Darian Rosebrook",
      "nationality": "American",
      "birthPlace" : {
      	"@type": "Place",
          "address": {
        		"@type": "PostalAddress",
      		"addressLocality": "Edmonds",
      		"addressRegion": "WA",
              "addressCountry": "USA"
      	}
      },

      "birthDate": "1992.07.14",
      "height": "68 inches",
      "affiliation": [
      	{
      		"@type": "Organization",
      		"name": "Compass of Design",
      		"sameAs": [
            "https://compassofdesign.com",
      			"https://twitter.com/compassofdesign",
      			"https://www.instagram.com/compassofdesign/",
      			"https://www.linkedin.com/company/18132312",
      			"https://www.youtube.com/channel/UCTin1d0uPVufY4xwitzkyFQ"
      		]
        },
      	{
      		"@type": "Organization",
      		"name": "So Magnetic",
      		"sameAs": [
      			"https://twitter.com/itssomagnetic",
      			"https://www.instagram.com/itssomagnetic/",
      			"https://www.linkedin.com/company/18027829/",
      			"https://somagnetic.com"
      		]
      	}
      ],
      "alumniOf": [
      	{
      	 "@type": "CollegeOrUniversity",
      	 "name": "Bellevue College",
      	 "sameAs": "https://en.wikipedia.org/wiki/Bellevue_College"
      	}
      ],
      "gender": "Male",
      "Description": "Designer",
      "disambiguatingDescription": "Founder of Compass of Design",
      "jobTitle": "Experience Designer",
      "worksFor": [
      	{
      		"@type": "Organization",
      		"name": "Microsoft",
      		"sameAs": [
      			"https://microsoft.com"
      		]
      	},
        {
      		"@type": "Organization",
      		"name": "Compass of Design",
      		"sameAs": [
      			"https://compassofdesign.com"
      		]
      	}
      ],
      "url": "https://darianrosebrook.com",
      "image": "https://s.gravatar.com/avatar/d7d54ec00a4b23395571073b80a6bb39?s=80",
      "address": {
      	"@type": "PostalAddress",
      	"addressLocality": "Bellevue",
      	"addressRegion": "WA",
      	"addressCountry": "United States"
      },
      "sameAs": [
      	"https://twitter.com/darianrosebrook",
      	"https://pinterest.com/ocelots",
      	"https://instagram.com/darianrosebrook",
      	"https://www.facebook.com/darianrosebrook",
      	"https://ca.linkedin.com/in/darianrosebrook/en",
      	"https://dribbble.com/darianrosebrook",
      	"https://www.behance.net/darianrosebrook",
      	"https://medium.com/@darianrosebrook",
        "https://www.quora.com/profile/Darian-Rosebrook"
      	]
      }
    </script>
    <!-- script type='application/ld+json'>
      {
        "@context": "http://www.schema.org",
        "@type": "ProfessionalService",
        "name": "Darian Rosebrook",
        "url": "https://darianrosebrook.com",
        "logo": "https://darianrosebrook.com/android-icon-192x192.png",
        "image": "https://s.gravatar.com/avatar/d7d54ec00a4b23395571073b80a6bb39",
        "description": "Darian Rosebrook is a professional designer and consultant that works with both brand and user experience design.",
        "priceRange": "$$$$",
        "address": {
           "@type": "PostalAddress",
           "addressLocality": "Bellevue",
           "addressRegion": "Washington",
           "postalCode": "98004",
           "addressCountry": "United States"
        }
      }
    </script -->

<!-- Buh, nuh, nuh, nuh, nuh, nuh, nuh nuh, nuuuuuh -->
<!-- Bah badup buuuuuh! -->

  </head>
  <body class="main">
    {% include nav.html %}
    <main class="main-content {% if page.type contains 'article' %}article{% endif %}">
      {{content}}
      {% include contact.html %}
      {% include footer.html %}
    </main>

    <script src="{{site.baseurl}}/scripts/scripts.js" type="text/javascript"></script>

  </body>
</html>
