<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.metaDesc}}">

    <!--m e t a c o n t e n t -->
    <link rel=”author” href="https://plus.google.com/106679625106063278529" />
    <meta name="theme-color" content="90d8cd">
    <!-- twitter -->
    <meta name="twitter:card" content="{{twitterCardSize}}">
    <meta name="twitter:site" content="@d_evyn">
    <meta name="twitter:creator" content="@d_evyn">
    <meta name="twitter:url" content="http://darianrosebrook.com">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.metaDesc | turncate: 196}} ...">
    <meta name="twitter:image" content="http://darianrosebrook.com/assets/hero-responsive.gif">

    <!-- google plus -->
    <link href="https://plus.google.com/106679625106063278529" rel="publisher" />
    <meta itemprop="name" content="{{page.title}}" />
    <meta itemprop="description" content="{{page.metaDesc | turncate: 196}} ..." />
    <meta itemprop="image" content="https://pbs.twimg.com/profile_images/728050194760105984/vMdqe2oE_normal.jpg"/>
    <meta itemprop="audience" content="Marketers, designers, Branding Marketers, Small Business"/>
    <meta itemprop="alternativeHeadline" content="{{page.title}}"/>

    <!-- facebook -->
    <meta property="fb:app_id" content="1076166062457470">
    <meta property="og:url" content="{{site.baseurl}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:image" content="http://darianrosebrook.com/assets/hero-responsive.gif">
    <meta property="og:description" content="{{metaDesc | turncate: 170}} ...">
    <meta property="og:site_name" content="Darian Rosebrook">
    <meta property="og:locale" content="en_US">

    <!-- s t y l e s  a n d  s c r i p t s -->
    {% if page.url contains 'article' %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/articles.css" media="screen" type="text/css" />
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/master.css" media="screen" type="text/css" />
    {% endif %}
    {% if page.url contains 'soon' %}
    <meta name="robots" content="noindex, follow">
    {% else %}
    <meta name="robots" content="index, follow">
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" />
    <script src="https://use.typekit.net/dvy7vvc.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body id="{{page.bodyId}}">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1076166062457470',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <input type="checkbox" id="nav-toggler" name="nav-toggler" value="true" >
    <div class="page-wrap">
      <label for="nav-toggler" class="toggle">☰</label>
      <div class="main-content">
    {{content}}
    <footer>
      <p>
        <small>&copy; of Darian Rosebrook</small>
      </p>
    </footer>

    </div>
    <div id="hidden-nav" class="hidden-nav">
          <ul>
            <li><a href="#hero"><img src="https://67.media.tumblr.com/93baeee0cfc72abc3f68460cc51d045f/tumblr_o0jbv1dYsU1ujvdipo8_r1_400.png" alt="Darian's logo" class="" /></a></li>
            <li id="greeting"></li>
            <li><a href="{{site.baseurl}}/" class="{%if page.url == '' %}current{% endif %}" >Home</a></li>
            <li><a href="{{site.baseurl}}/web-design" class="{%if page.url contains 'web-design' %}current{% endif %}" >Web Design</a></li>
            <li><a href="{{site.baseurl}}/{{site.baseurl}}/soon" class="{%if page.url contains '/graphic-design' %}current{% endif %}" >Graphic Design</a></li>
            <li><a href="{{site.baseurl}}/{{site.baseurl}}/soon" class="{%if page.url contains '/about' %}current{% endif %}" >About</a></li>
            <li><a href="{{site.baseurl}}/{{site.baseurl}}/soon"  class="{%if page.url contains '/articles' %}current{% endif %}" target="_blank">Articles</a></li>
           <li><a href="https://drive.google.com/file/d/0B6JwGHRMHsnTdGFUOGFLdEFZOGM/view?usp=sharing">Resum&eacute;</a></li>
            <li><a href="http://twitter.com/d_evyn" target="_blank"><i class="fa fa-twitter"><span>twitter</span></i></a> |
             <a href="http://linkedin.com/in/darianrosebrook" target="_blank"><i class="fa fa-linkedin"><span>linkedin</span></i></a></li>
           <li><button data-href="#form" class="contactBtn btn btn-primary">Contact <i class="fa fa-paper-plane"><span>contact</span></i></button></li>
            </ul>
          </div>


</div>
<script src="{{site.baseurl}}/scripts/scripts.js" type="text/javascript"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-74665762-1', 'auto');
ga('send', 'pageview');

</script>
</body>
</html>
