@font-face {
	font-family: 'Palatino';
	src: url('https://fonts.googleapis.com/css2?family=Palatino&display=swap');
}
@font-face {
	font-family: 'PP Neue Montreal ';
	src: url('/src/assets/PPNeueMontreal-Book.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--foreground);
	background: var(--background);

	/* Base Units */
	--tr-0: 0.25rem;
	--tr-1: calc(var(--tr-0) * 2.5);
	--tr-2: calc(var(--tr-0) * 3);
	--tr-3: calc(var(--tr-0) * 4);
	--tr-4: calc(var(--tr-0) * 5);
	--tr-5: calc(var(--tr-0) * 6);
	--tr-6: calc(var(--tr-0) * 9);
	--tr-7: calc(var(--tr-0) * 12);
	--tr-8: calc(var(--tr-0) * 15);

	/* Typography */
	--font-family: 'PP Neue Montreal', Inter, Helvetica, sans-serif;
	--alt-family: 'Palatino', Georgia, serif;
	--line-height: 1.15;
	--heading-line-height: 1;
	--letter-spacing: 0.01em;
	--black: 900;
	--extra-bold: 800;
	--bold: 700;
	--semibold: 600;
	--medium: 500;
	--regular: 400;
	--light: 300;
	--extra-light: 200;
	--thin: 100;

	--title-1: var(--tr-8);
	--title-2: var(--tr-7);
	--title-3: var(--tr-6);
	--title-4: var(--tr-5);

	--body-1: var(--tr-4);
	--body-2: var(--tr-3);

	--caption-1: var(--tr-2);
	--caption-2: var(--tr-1);

	/* Colors */
	/*  --functional-- */
	--foreground: var(--df-dark-neutral-dark);
	--foreground-secondary: var(--df-dark-neutral-mid);
	--background: var(--df-light-neutral-light);
	--hover-background: var(--cr-neutral-10);

	--text: var(--cr-blue-60);
	--secondary-text: var(--cr-neutral-70);

	--divider-color: var(--cr-neutral);

	--link-rest: var(--cr-blue-70);
	--link-hover: var(--cr-blue-80);
	--link-active: var(--cr-blue-100);

	--focus: var(--cr-blue-60);
	--disabled: var(--cr-neutral-30);

	--warning-background: var(--cr-yellow-10);
	--warning-foreground: var(--cr-yellow-70);
	--danger-background: var(--cr-red-10);
	--danger-foreground: var(--cr-red-70);
	--success-background: var(--cr-green-10);
	--success-foreground: var(--cr-green-70);
	--info-background: var(--cr-neutral-10);
	--info-foreground: var(--cr-neutral-70);

	/* --color-tokens-- */
	--df-light-neutral-white: #ffffff;
	--df-light-neutral-light: #fafafa;
	--df-light-neutral-mid: var(--cr-neutral-60);
	--df-dark-neutral-black: #000000;
	--df-dark-neutral-mid: var(--cr-neutral-40);
	--df-dark-neutral-dark: #1a1b1c;

	--neutral-layer-l0: var(--df-light-neutral-white);
	--neutral-layer-l1: var(--df-light-neutral-light);
	--neutral-layer-l2: var(--cr-neutral-10);
	--neutral-layer-l3: var(--cr-neutral-20);
	--neutral-layer-l4: var(--cr-neutral-30);

	/* Color Ramp */
	--cr-red-10: #fce6e3;
	--cr-red-20: #f6cac3;
	--cr-red-30: #eeaba1;
	--cr-red-40: #e3897e;
	--cr-red-50: #d6685e;
	--cr-red-60: #c84741;
	--cr-red-70: #a83a2d;
	--cr-red-80: #8b2e19;
	--cr-red-90: #682a19;
	--cr-red-100: #3b231b;

	--cr-yellow-10: #ffe9ac;
	--cr-yellow-20: #f7d05d;
	--cr-yellow-30: #ebb242;
	--cr-yellow-40: #dc9222;
	--cr-yellow-50: #c87500;
	--cr-yellow-60: #a56400;
	--cr-yellow-70: #865500;
	--cr-yellow-80: #6c460e;
	--cr-yellow-90: #523916;
	--cr-yellow-100: #31271b;

	--cr-green-10: #e7eed2;
	--cr-green-20: #ccdaa2;
	--cr-green-30: #adc56c;
	--cr-green-40: #91ab4e;
	--cr-green-50: #7f9051;
	--cr-green-60: #6c784c;
	--cr-green-70: #5a6342;
	--cr-green-80: #495138;
	--cr-green-90: #3a3f30;
	--cr-green-100: #272924;

	--cr-teal-10: #e2eded;
	--cr-teal-20: #c0d9d8;
	--cr-teal-30: #9dc3c2;
	--cr-teal-40: #74abaa;
	--cr-teal-50: #4b9494;
	--cr-teal-60: #257f7f;
	--cr-teal-70: #286969;
	--cr-teal-80: #275455;
	--cr-teal-90: #254343;
	--cr-teal-100: #1f2a2b;

	--cr-blue-10: #e6ebf5;
	--cr-blue-20: #c8d5e9;
	--cr-blue-30: #a8bddc;
	--cr-blue-40: #85a4cd;
	--cr-blue-50: #618cbf;
	--cr-blue-60: #4c75a5;
	--cr-blue-70: #3f628a;
	--cr-blue-80: #324f71;
	--cr-blue-90: #2a3f57;
	--cr-blue-100: #222a34;

	--cr-purple-10: #f3e6f9;
	--cr-purple-20: #e5cbf2;
	--cr-purple-30: #d5adea;
	--cr-purple-40: #be90d7;
	--cr-purple-50: #a27ab8;
	--cr-purple-60: #89669c;
	--cr-purple-70: #725582;
	--cr-purple-80: #5d456c;
	--cr-purple-90: #493754;
	--cr-purple-100: #2d2633;

	--cr-pink-10: #f9e6eb;
	--cr-pink-20: #f1cad5;
	--cr-pink-30: #e6acbd;
	--cr-pink-40: #da8aa3;
	--cr-pink-50: #cd698c;
	--cr-pink-60: #b65176;
	--cr-pink-70: #994362;
	--cr-pink-80: #7d3650;
	--cr-pink-90: #5e2f3f;
	--cr-pink-100: #35242a;

	--cr-neutral-10: #eaeaea;
	--cr-neutral-20: #d4d4d4;
	--cr-neutral-30: #bbbcbc;
	--cr-neutral-40: #a1a1a2;
	--cr-neutral-50: #89898a;
	--cr-neutral-60: #737374;
	--cr-neutral-70: #5f6060;
	--cr-neutral-80: #4d4e4e;
	--cr-neutral-90: #3d3e3e;
	--cr-neutral-100: #28292a;

	color: var(--foreground);
	background: var(--background);
}
@media screen and (min-width: 1920px) {
	:root {
		font-size: calc(16px + 0.125vw);
	}
}
@media (prefers-color-scheme: dark) {
	html {
		/* Main */
		--foreground: var(--cr-neutral-10);
		--foreground-secondary: var(--df-dark-neutral-mid);
		--background: var(--df-dark-neutral-dark);

		/* Layers */
		--neutral-layer-l0: var(--df-dark-neutral-black);
		--neutral-layer-l1: var(--df-dark-neutral-dark);
		--neutral-layer-l2: var(--cr-neutral-100);
		--neutral-layer-l3: var(--cr-neutral-90);
		--neutral-layer-l4: var(--cr-neutral-80);

		/* Hover */
		--hover-background: var(--cr-neutral-90);
		--link-rest: var(--cr-blue-40);
		--link-hover: var(--cr-blue-30);
		--link-active: var(--cr-blue-10);

		/* Functional */
		--warn-background: var(--cr-yellow-100);
		--warn-foreground: var(--cr-yellow-20);
		--danger-background: var(--cr-red-90);
		--danger-foreground: var(--cr-red-20);
		--success-background: var(--cr-green-90);
		--success-foreground: var(--cr-green-20);

		color: var(--foreground);
		background: var(--background);
	}
}

body {
	font-family: var(--font-family);
	font-weight: var(--regular);
	font-size: var(--body-2);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: calc(var(--letter-spacing) * -1);
	line-height: var(--heading-line-height);
	font-weight: 400;
}
.subtitle {
	font-family: var(--alt-family);
}
.jumbo {
	font-size: calc(var(--title-1) * 2);
	font-weight: var(--regular);
}
/* Type Scale */
.title-1,
h1 {
	font-size: var(--title-1);
}
.title-2,
h2 {
	font-size: var(--title-2);
}
.title-3,
h3 {
	font-size: var(--title-3);
}
.title-4,
h4 {
	font-size: var(--title-4);
}
.body-1 {
	font-size: var(--body-1);
}
.body-2,
p {
	font-size: var(--body-2);
}
.caption-1,
small {
	font-size: var(--caption-1);
}
.caption-2,
.small {
	font-size: var(--caption-2);
	text-transform: uppercase;
}

ul li {
	margin-left: 2.5rem;
	margin-bottom: 0.5rem;
}

/* all block level typography has a bottom margin of 1rem unless it's the last child */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
blockquote,
pre,
table,
dl,
figure,
hr {
	margin-bottom: 1rem;
}

#pest {
	display: block;
	box-sizing: border-box;
	position: absolute;
	border-radius: 999px;
	pointer-events: none;
	border: 2px solid var(--foreground);
	transition: border ease 0.2s;
	animation: fadeIn 5s;
}
main {
	margin-top: 2em;
}
i span {
	display: none;
}
.social-link {
	display: inline-block;
	margin: 0 0.5em;
	transition: color ease 0.2s;
	border: 0;
}
a:has(i) {
	padding: 0 0.25rem;
	border-bottom: 1px solid var(--link-hover);
}
a {
	color: var(--link-rest);
	text-decoration: none;
	transition: color ease 0.2s;
	border-bottom: 1px solid var(--link-rest);
}
a:hover {
	color: var(--link-hover);
	border-bottom: 1px solid var(--link-hover);
}

section {
	margin: 0 auto;
	width: calc(100% - 4rem);
	max-width: 720px;
}
@media (min-width: 1080px) {
	section {
		width: calc(100% - 8rem);
		max-width: 1440px;
	}
}
