.symbolInspector {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;

  @media (width >= 768px) {
    grid-template-columns: 10fr 12fr;
  }
}

.accordion {
  margin-bottom: var(--size-06);
  border: 1px solid var(--color-border-primary);
  background: var(--color-background-primary);

  summary {
    padding: var(--size-04);
    font-size: var(--heading-05);
    cursor: pointer;
  }
}

.inspectorContainer {
  --header-height: 4rem;

  top: var(--header-height);
  left: 0;
  z-index: 2;
  max-height: calc(100vh - var(--header-height));
  margin-top: var(--size-10);
  border: 1px solid var(--color-border-primary);
  background: var(--color-background-primary);

  @media (width >= 768px) {
    position: sticky;
  }

  @media (width <= 600px) {
    margin-top: var(--size-06);
    padding-bottom: var(--size-08);
  }
}

.name {
  font-size: 12px;
}

.canvas {
  position: relative;
  border: 1px solid var(--color-border-primary);
  border-right: none;
  border-left: none;
  border-radius: var(--radius-00);
  cursor: col-resize;
}

.inspectorControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 0;
  width: 100%;
  font-size: var(--heading-05);
  content-visibility: auto;

  button {
    display: flex;
    align-items: center;
    min-height: var(--size-10);
    padding: var(--size-04);
    border: 1px solid var(--color-border-primary);
    color: var(--color-foreground-primary);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-background-secondary);
    }

    &:active {
      background-color: var(--color-background-tertiary);
    }

    &:focus {
      background-color: var(--color-background-secondary);
      outline: var(--focus-ring);
      outline-offset: var(--focus-ring-offset);
    }

    &:focus-visible {
      background-color: var(--color-background-secondary);
      outline: var(--focus-ring);
      outline-offset: var(--focus-ring-offset);
    }
  }

  button.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}

.fontSelector {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-background-primary);
  color: var(--color-foreground-primary);
}

.anatomyControls {
  display: flex;
  flex-direction: column;
  gap: var(--size-06);
  padding: var(--size-06);

  @media (width <= 600px) {
    gap: var(--size-08);
    padding: var(--size-08) var(--size-04);

    ul {
      grid-template-columns: 1fr 1fr;
      gap: var(--size-06);

      li {
        margin-bottom: var(--size-06);
        padding: var(--size-04) 0;
      }
    }
  }

  h4 {
    margin: var(--size-04) 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-04);

    & + ul {
      margin-top: var(--size-06);
    }

    li {
      margin-bottom: var(--size-04);
      padding: var(--size-02) 0;
      list-style: none;
    }
  }
}

.symbolContainer {
  position: relative;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 20vh;
}

.symbolGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--size-10), var(--size-10))
  );
  overflow-y: auto;
  width: 100%;
  margin-top: var(--size-10);
}

.symbolSelectorButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-border-primary);
  color: var(--color-foreground-primary);
  font-weight: 500;
  font-size: var(--heading-04);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-background-hover);
  }

  &:active {
    background-color: var(--color-background-tertiary);
  }

  &:focus {
    border-radius: var(--radius-01);
    background-color: var(--color-background-hover);
    outline: var(--focus-ring);
    outline-offset: var(--focus-ring-offset);
  }
}

.selected {
  background-color: var(--color-foreground-accent);
  color: var(--color-foreground-onColor);
}

.articleContent {
  max-width: 55rem;
  margin: var(--size-10) auto;
  padding: 0 var(--size-06);
  font-size: var(--body-01);
  line-height: var(--line-height-body);

  img {
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: var(--heading-02);
  }

  p {
    font-size: var(--body-02);
    line-height: 1.5;

    & + p {
      text-indent: 1.5em;
    }
  }

  > * + * {
    margin-top: var(--size-07);
  }

  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-07);
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-left: var(--size-03);
  }

  aside div > * + * {
    margin-top: var(--size-07);
  }

  ul,
  ol,
  dl {
    li + li {
      margin-top: var(--size-06);
    }
  }

  code {
    padding: var(--size-04);
    border-radius: var(--radius-02);
    background-color: var(--color-background-secondary);
  }

  pre {
    padding: var(--size-04);
    border-radius: var(--radius-02);
    background-color: var(--color-background-secondary);
  }
}

@media (width >= 1000px) {
  .articleContent aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-07);
  }
}
