.status {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-foreground-primary);
  background: var(--color-background-primary);
  border: var(--color-border-bold) solid 2px;
  border-radius: var(--radius-full);
  fill: var(--color-foreground-accent);
}

.status svg {
  fill: var(--color-foreground-accent);
}
