@use './Status.tokens.generated.scss' as statusTokens;

.status {
  @include statusTokens.vars;

  display: inline-grid;
  grid-template-columns: 1fr auto;
  gap: var(--status-size-padding-default);
  justify-content: center;
  align-items: center;
  padding: var(--status-size-padding-default);
  background: var(--status-color-background-default);
  border: var(--status-size-border-default) solid
    var(--status-color-border-default);
  border-radius: var(--status-size-radius-default);
  color: var(--status-color-foreground-primary);
  fill: var(--status-color-foreground-accent);
}

.status svg {
  fill: var(--status-color-foreground-accent);
}
