.tabs {
  margin-bottom: var(--core-size-05);
  border-bottom: 1px solid var(--semantic-color-border-primary);
}

.tabs ul {
  display: flex;
  gap: var(--core-size-04);
  margin: 0;
  padding: 0 0 var(--core-size-03) 0;
  list-style: none;
}

.tabs a {
  display: inline-block;
  padding: var(--core-size-02) var(--core-size-03);
  border-radius: var(--semantic-size-radius-02);
}

.container {
  display: grid;
  gap: var(--core-size-05);
}
