.tabs {
  margin-bottom: var(--size-05);
  border-bottom: 1px solid var(--color-border-primary);
}

.tabs ul {
  display: flex;
  gap: var(--size-04);
  margin: 0;
  padding: 0 0 var(--size-03) 0;
  list-style: none;
}

.tabs a {
  display: inline-block;
  padding: var(--size-02) var(--size-03);
  border-radius: var(--radius-02);
}

.container {
  display: grid;
  gap: var(--size-05);
}
