.iconButton {
  all: unset;
  cursor: pointer;
  width: var(--size-08);
  height: var(--size-08);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--background);
  border: none;
  border-radius: var(--radius-full);
  background-color: var(--background-interactive);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: var(--body-02);
}
.iconButton:hover {
  background-color: var(--foreground);
  text-decoration: none;
}
.iconButton:active {
  transform: scale(0.95);
}
.iconButton:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: var(--size-02);
}
.iconButton:visited {
  color: var(--background);
}
.iconButton span {
  display: none;
}
.iconButton + .iconButton {
  margin-left: var(--size-04);
}
.small {
  width: var(--size-07);
  height: var(--size-07);
  font-size: var(--body-03);
}
.medium {
  width: var(--size-08);
  height: var(--size-08);
  font-size: var(--body-02);
}
.large {
  width: var(--size-10);
  height: var(--size-10);
  font-size: var(--body-01);
}
