<section class="previous-clients">
  <article class="row">
    <h2>Previous Clients</h2>
    <div class="grid clients">
      <a href="https://clinicallymedia.com/" target="_blank"
        >${clinicallyMediaLogo}</a
      >

      <a href="https://compassofdesign.com" target="_blank"
        >${compassOfDesignLogo}</a
      >

      <a href="https://www.linkedin.com/company/keyspark/about/" target="_blank"
        >${keySparkLogo}</a
      >

      <a href="https://rockagile.io" target="_blank">${rockAgileLogo}</a>

      <a href="https://github.com/kirillian/shiplane">${shiplaneLogo}</a>

      <a href="https://somagnetic.com/archive/minimum" target="_blank"
        >${minimumLogo}</a
      >

      <a href="https://www.theglassfrontierak.com/" target="_blank"
        >${glassFrontierLogo}</a
      >

      ${travelightLogo}
    </div>
  </article>
</section>
