---
layout: default
title: Curated Web Design Case Studies | Darian Rosebrook
description: A collection of curated case studies for Darian Rosebrook's web design projects
img:
sitemap:
  lastmod: 2016-11-25
  priority: 0.7
  changefreq: 'weekly'
  exclude: 'no'
---

{% for post in site.categories.web limit:1 %}
<header id="hero" class="container hero featured-{{post.class}}">
  <h1>Web Design</h1>
  <div class="row info featured">
    <h2>Featured Case Study</h2>
      {% if post.type == 'Web Design' %}
      <article class="feature-{{forloop.index}}">
        <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
        <p>{{post.description}}</p>
        <a href="{{site.baseurl}}{{post.url}}" class="">View Project</a>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</header>
<section id="info" class="descriptions container">
  <div class="blurb-container module">
    <img src="/assets/img/icon-web.svg" alt="Web design for scalability" />
    <div>
      <h2>Responsive Web Design that fits your brand</h2>
      <p>There's a paradigm shift in the way that people access their favorite sites. As all traffic goes towards the tiny computers we carry in our pocket every day, your site needs to be natively <em>mobile first</em>.</p>
      <p>We don't sell the same site twice. We'll customize the experience your audience receives by working with your content, designing from the ground up. Your website should be as unique as you are.</p>
    </div>
  </div>
</section>
<section id="list" class="container">
  <h2>Web Design Projects</h2>
  <div class="row">
    {% for post in site.categories.web limit:6 %}
    {% if forloop.index == 4 and post.type == "Web Design" %}
  </div>
  <div class="row">
    <article class="work module">
      {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% elsif post.type == 'Concept' %}<h4 class="work-concept">{% else %}<h4>{% endif %}{{post.type}}</h4>
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.description | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/case-study/">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.type}}</em></a></small>
        <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
      </div>
    </article>
    {% elsif forloop.index == 7  and post.type == "Web Design" %}
  </div>
  <div class="row">
    <article class="work module">
      {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% elsif post.type == 'Concept' %}<h4 class="work-concept">{% else %}<h4>{% endif %}{{post.type}}</h4>
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.description | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/case-study/">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.type}}</em></a></small>
        <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
      </div>
    </article>
    {% elsif post.type == "Web Design" %}
    <article class="work module">
      {% if post.type == 'Branding' %}<h4 class="work-branding">{% elsif post.type == 'Web Design' %}<h4 class="work-web">{% elsif post.type == 'Concept' %}<h4 class="work-concept">{% else %}<h4>{% endif %}{{post.type}}</h4>
      <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.index_image}}" alt="{{post.description | truncate: 120}}" /></a>
      <div class="data">
        <h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
        <small><a href="{{site.baseurl}}archive/case-study/">{{post.date | date_to_long_string}} &#124; <em class="{{post.class}}" >{{post.type}}</em></a></small>
        <p class="meta_description">&ldquo;{{post.description | truncate: 170}}&rdquo;</p>
      </div>
    </article>
    {% endif %}
    {% endfor %}
  </div>

</section>
